openapi: 3.1.0
info:
  title: Fishhawk Backend API
  version: 0.1.0
  description: |
    The HTTP surface that the Fishhawk backend (`fishhawkd`) exposes to its
    three classes of caller:

    1. **The Web UI and CLI** — humans driving plan review, approval, audit
       search, and run management.
    2. **The runner** — `kuhlman-labs/fishhawk/runner@vX.Y` running on the
       customer's CI, requesting per-run signing keys and shipping signed
       trace bundles.
    3. **GitHub webhooks** — the customer's GitHub App installation pushing
       issue / PR / check events that drive workflow dispatch.

    Per ADR (#46) and `MVP_SPEC.md` §5.1.1, every customer-facing endpoint is
    prefixed with `/v0`. The `v0` prefix is **unstable** by design — the
    surface is allowed to change before v1. Once the v1 surface is published
    (post-Day 21), `/v0` and `/v1` coexist for one minor version cycle to
    let clients migrate, and `/v0` is then retired.

    Webhook ingestion (`/webhooks/github`) is unversioned because GitHub
    controls the request shape; the backend adapts as GitHub's webhook
    schema evolves.

  contact:
    name: Fishhawk
    url: https://github.com/kuhlman-labs/fishhawk
  license:
    name: Apache-2.0
    url: https://github.com/kuhlman-labs/fishhawk/blob/main/LICENSE

servers:
  - url: https://api.fishhawk.dev
    description: Production
  - url: http://localhost:8080
    description: Local dev (docker compose up)

# ---------------------------------------------------------------------------
# Security schemes — three auth models for three caller classes (ADR-005).
# ---------------------------------------------------------------------------
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: fishhawk_session
      description: |
        HTTP-only `Secure; SameSite=Lax` session cookie set by the OAuth
        callback. Same-origin SPA requests are auto-included; CSRF
        protection on state-changing endpoints (POST/PUT/PATCH/DELETE)
        requires an `X-CSRF-Token` request header whose value matches
        the `__Host-csrf` cookie issued alongside the session cookie.
        Mismatched / missing token → `403 csrf_required`. Bearer-token
        clients (see `bearerToken`) are immune to CSRF and bypass the
        header check.

    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: |
        Scoped server-issued token (NOT a JWT). Index into the
        `api_tokens` table; revocation is immediate. Used by the CLI
        and any programmatic caller.

    githubOIDC:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: |
        GitHub Actions OIDC token for runner authentication. Verified
        by the backend against GitHub's JWKS per request; no server-
        side state. Required by `POST /v0/runs/{run_id}/signing-key`.

  # -------------------------------------------------------------------------
  # Shared schemas. Detailed property schemas grow as endpoints are
  # implemented — what's frozen here is the envelope shape and the
  # canonical types every endpoint returns.
  # -------------------------------------------------------------------------
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: |
                Stable, machine-readable code. Snake-case identifier;
                clients switch on this. New codes are additive; codes
                are never repurposed.
              example: run_not_found
            message:
              type: string
              description: |
                Human-readable description. May change between
                versions; clients should not parse it.
              example: "No run with id 11111111-…"
            details:
              type: object
              additionalProperties: true
              description: |
                Optional code-specific structured fields. The keys
                under `details` are part of the contract for that
                specific code.
      examples:
        - error:
            code: run_not_found
            message: No run with id 11111111-2222-3333-4444-555555555555

    Pagination:
      type: object
      description: |
        Cursor-based pagination envelope wrapped around list endpoints.
        `next_cursor` is null when the caller has reached the end. The
        cursor is opaque; clients pass it back unmodified.
      required: [items]
      properties:
        items:
          type: array
          items: {}
        next_cursor:
          type: [string, "null"]

    UUID:
      type: string
      format: uuid

    Run:
      type: object
      description: |
        A workflow run record. State follows the explicit transition
        table in `backend/internal/run/transition.go`.
      required:
        [id, repo, workflow_id, workflow_sha, trigger_source, state,
         retry_attempt, max_retries_snapshot, runner_kind,
         cost_usd_total, resolved_model, created_at, updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        repo:
          type: string
          example: kuhlman-labs/fishhawk
        workflow_id:
          type: string
          example: feature_change
          description: Matches a top-level key in `.fishhawk/workflows.yaml`.
        workflow_sha:
          type: string
          description: Git SHA of `.fishhawk/workflows.yaml` at run time.
        trigger_source:
          type: string
          enum: [github_issue, cli, ui]
        trigger_ref:
          type: [string, "null"]
          example: "issue:1247"
        state:
          type: string
          enum: [pending, running, succeeded, failed, cancelled]
        parent_run_id:
          type: [string, "null"]
          format: uuid
          description: |
            Set by the dispatcher when a non-terminal run already
            existed for the same `(repo, trigger_ref)` at create
            time (#216). Lets the SPA render "follow-up to
            <short-id>" + a thread of related runs.
        decomposed_from:
          type: [string, "null"]
          format: uuid
          description: |
            Set when the orchestrator minted this run as a child of
            a decomposed parent plan (#455 / ADR-025 D4). Disambiguates
            "decomposition child" from `parent_run_id`'s CI-retry-chain
            semantic — both can be non-nil on a child whose CI failed
            and re-dispatched. SPA breadcrumb: "decomposed sub-plan of
            <parent short id>".
        pull_request_url:
          type: [string, "null"]
          description: |
            Set when the implement stage produces a `pull_request`
            artifact (#216). Denormalized so the threaded-runs view
            can group every run on a PR with a single equality
            filter on `GET /v0/runs?pull_request_url=…`.
          example: https://github.com/kuhlman-labs/fishhawk/pull/123
        retry_attempt:
          type: integer
          minimum: 0
          description: |
            Position in the CI-failure auto-retry chain (#279 /
            E16). 0 for the canonical first attempt; N for the Nth
            retry. Capped by `max_retries_snapshot` — the
            dispatcher refuses to create a new child when
            `retry_attempt >= max_retries_snapshot` and emits a
            `ci_retry_exhausted` audit row.
          example: 0
        max_retries_snapshot:
          type: integer
          minimum: 0
          description: |
            The workflow's `on_ci_failure.max_retries` cap at
            run-create time (#280 / E16). Snapshotted alongside
            `required_checks_snapshot` so a spec edit during a
            long-running auto-retry chain doesn't shift the
            goalposts on what the SPA renders. Defaults to 1 when
            the workflow has no `on_ci_failure:` block.
          example: 1
        runner_kind:
          type: string
          enum: [github_actions, local]
          description: |
            Execution backend the run uses (ADR-022 / #388). Today's
            published runner (`fishhawk/runner@v1`) on GitHub Actions
            is `github_actions`; the operator-local dev-loop runner
            (Phase C of E22 / #389) is `local`. The backend assigns
            this at run-create time based on the dispatch path; the
            runner never self-declares. Compliance consumers can
            filter to `github_actions` to reproduce the
            pre-pluggable-backends view via
            `GET /v0/runs?runner_kind=github_actions`.
          example: github_actions
        issue_context:
          $ref: '#/components/schemas/IssueContext'
          description: |
            Cached payload from the operator's `gh issue view`
            (#415). Populated for issue-triggered runs minted
            outside the webhook flow (CLI / MCP) so the prompt
            builder reads the title + body from the row instead
            of refetching from GitHub. Null on webhook-dispatched
            runs (which fetch fresh from GitHub at prompt-build
            time) and on non-issue triggers.
        cost_usd_total:
          type: number
          format: double
          minimum: 0
          description: |
            Rolled estimated US-dollar cost of the run's model usage
            (#649), accumulated from each stage bundle's signed manifest
            token counts via the shared pricing table. Recorded once per
            stage bundle (the raw trace variant only — see #678). 0 for
            legacy rows that predate the rollup.
          example: 2.99
        resolved_model:
          type: string
          description: |
            Pinned agent model id the run executed under (#649), stamped
            from the trace manifest at cost-rollup time. Empty string for
            legacy/unstamped runs.
          example: claude-opus-4-8
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IssueContext:
      type: object
      description: |
        Cached GitHub issue payload — title, body, url, number, and
        comments — fetched by the operator's `gh issue view` at
        run-create time so the backend's prompt builder doesn't
        need an installation_id to look up the issue (#415). The
        optional `comments` array carries the issue's comments so the
        plan agent sees refinements/decisions posted as comments, not
        just the title+body snapshot (#618).
      required: [title, body, url, number]
      properties:
        title:
          type: string
        body:
          type: string
        url:
          type: string
          format: uri
        number:
          type: integer
          minimum: 1
        comments:
          type: array
          description: |
            Issue comments captured at run-create time, oldest first.
            Optional and additive — runs whose issue_context predates
            #618 omit the field.
          items:
            type: object
            required: [author, body, created_at]
            properties:
              author:
                type: string
                description: Commenter's GitHub login.
              body:
                type: string
              created_at:
                type: string
                format: date-time

    Stage:
      type: object
      required:
        [id, run_id, sequence, type, executor, state, created_at,
         updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        run_id: { $ref: '#/components/schemas/UUID' }
        sequence:
          type: integer
          minimum: 0
        type:
          type: string
          enum: [plan, implement, review]
        executor:
          type: object
          description: Exactly one of agent or human.
          properties:
            kind:
              type: string
              enum: [agent, human]
            ref:
              type: string
              example: claude-code
        state:
          type: string
          enum:
            [pending, dispatched, running, awaiting_approval, succeeded,
             failed, cancelled]
        started_at:
          type: [string, "null"]
          format: date-time
        ended_at:
          type: [string, "null"]
          format: date-time
        failure_category:
          type: [string, "null"]
          enum: [A, B, C, D, null]
          description: |
            Set on failed transitions per MVP_SPEC §6.
            A: agent failure, B: constraint/policy, C: infrastructure,
            D: approval timeout.
        failure_reason:
          type: [string, "null"]
        gate:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/StageGate'
          description: |
            The persisted shape of the stage's workflow-spec gate.
            Null/omitted when the stage has no gate. Per migration
            0014 / #213 — the review-stage UI reads this to decide
            whether to surface the approval panel. Pre-#254 the
            shape carried a `blocking_checks` array; v0.2 dropped
            that field (ADR-017 / #249) — required CI checks now
            live in branch protection, snapshotted onto the run
            row's `required_checks_snapshot` (#251).
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    StageGate:
      type: object
      description: |
        Workflow-spec gate snapshot stored on the stage row. Mirrors
        spec.Gate — `type` distinguishes approval-vs-check, approvers
        is set only for approval gates. The pre-#254 `blocking_checks`
        array was removed in v0.2 (ADR-017 / #249); required CI
        checks now live in branch protection, exposed via the run's
        `required_checks_snapshot` (#251) and the per-stage
        `/v0/stages/{id}/checks` endpoint.
      required: [type]
      properties:
        type:
          type: string
          enum: [approval, check]
        approvers:
          oneOf:
            - type: "null"
            - type: object
              description: |
                Roles whose members can satisfy the gate. Exactly
                one of any_of / all_of is set when populated.
              properties:
                any_of:
                  type: array
                  items: { type: string }
                all_of:
                  type: array
                  items: { type: string }

    PullRequestArtifactBody:
      type: object
      description: |
        Wire shape the runner POSTs to /v0/runs/{run_id}/pull-request.
        Stored verbatim as the artifact's content; v0 doesn't carry a
        schema_version because the field shape isn't yet schema-stable.

        Has four variants (#742, #771, #794):

        - **Success** (default): `outcome` is absent. The PR fields
          (`pr_number`, `pr_url`, `branch`, `head_sha`, `base_sha`,
          `title`, `files_changed_count`) are required. The handler
          stores the PR artifact, backfills `run.pull_request_url`, and —
          when the implement stage was left in `running` by the trace
          handler's push-and-open-pr gate — drives its terminal
          transition (→ awaiting_approval / succeeded).
        - **Failure** (`outcome: failed`): the runner's commit/push/PR-open
          step failed, so no PR was opened. `category` (`B` re-scope, `C`
          retryable infra) and `reason` are required; the PR fields are
          absent. The handler fails the implement stage instead of
          creating an artifact, so the run never strands at
          review:awaiting_approval with a null PR.
        - **Child push** (`outcome: pushed`, #771): a decomposed child
          committed + pushed onto the shared parent branch but opened no PR
          (the parent run opens one consolidated PR after all children
          settle). `branch`, `head_sha`, and `base_sha` are required;
          `pr_number`/`pr_url`/`title` are absent. The handler drives the
          child stage's terminal transition its push_to_shared_branch trace
          gate left in `running`, without creating a PR artifact — so a child
          whose push failed (reported via `outcome: failed`) never reaches
          terminal succeeded with no code on the shared branch.
        - **Fix-up push** (`outcome: fixup_pushed`, #794): a fix-up
          re-dispatch committed + pushed onto the EXISTING PR branch but
          opened no new PR (the open PR already tracks the branch). `branch`,
          `head_sha`, and `base_sha` are required; `pr_number`/`pr_url`/`title`
          are absent. The handler drives the fix-up stage's terminal transition
          its push_fixup trace gate left in `running`, without creating a PR
          artifact — so a fix-up whose push/compile-gate step failed (reported
          via `outcome: failed`) never reaches terminal succeeded with the
          implement re-review approving an unlanded diff.
      required: [pr_number, pr_url, branch, head_sha, base_sha, title, files_changed_count]
      properties:
        pr_number:
          type: integer
          minimum: 1
          example: 42
        pr_url:
          type: string
          format: uri
          example: https://github.com/kuhlman-labs/fishhawk/pull/42
        branch:
          type: string
          example: fishhawk/run-aaa/stage-bbb
        head_sha:
          type: string
          example: 1111111111111111111111111111111111111111
        base_sha:
          type: string
          example: 2222222222222222222222222222222222222222
        title:
          type: string
          example: "Fishhawk: implement stage 22222222"
        body:
          type: string
          description: Optional PR body (markdown).
        files_changed_count:
          type: integer
          minimum: 0
          example: 3
        outcome:
          type: string
          enum: [failed, pushed, fixup_pushed]
          description: |
            Present only on the non-success variants. `failed` (#742)
            reports a commit/push/PR-open failure (PR fields absent;
            `category` + `reason` required). `pushed` (#771) reports a
            decomposed child's successful push onto the shared parent branch
            (no PR opened; `branch` + `head_sha` + `base_sha` required,
            `pr_number`/`pr_url`/`title` absent). `fixup_pushed` (#794) reports
            a fix-up re-dispatch's successful push onto the EXISTING PR branch
            (no new PR; `branch` + `head_sha` + `base_sha` required,
            `pr_number`/`pr_url`/`title` absent).
        category:
          type: string
          enum: [B, C]
          description: |
            Failure category for the failure variant (#742). `B` parks the
            run for re-scope/re-plan (invalid PR shape / compile gate);
            `C` is retryable infra (network, git, GitHub API).
        reason:
          type: string
          description: Human-readable failure reason (failure variant only).

    PullRequestUploadResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request`. `idempotent`
        is true when the upload matched an existing artifact.
      required: [id, stage_id, content_hash, pr_number, pr_url, head_sha, idempotent]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        content_hash:
          type: string
          description: Hex sha256 of the canonical bytes shipped.
        pr_number: { type: integer }
        pr_url: { type: string, format: uri }
        head_sha: { type: string }
        idempotent: { type: boolean }

    PullRequestFailureResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the failure
        variant (`outcome: failed`, #742): the runner-reported
        commit/push/PR-open failure was recorded and the implement stage
        transitioned to `failed`.
      required: [stage_id, outcome, category]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [failed] }
        category: { type: string, enum: [B, C] }

    PullRequestChildPushResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the child-push
        variant (`outcome: pushed`, #771): a decomposed child pushed onto the
        shared parent branch and the child implement stage transitioned
        terminally. No PR artifact is created.
      required: [stage_id, outcome, branch, head_sha]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [pushed] }
        branch: { type: string }
        head_sha: { type: string }

    PullRequestFixupPushResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the fix-up push
        variant (`outcome: fixup_pushed`, #794): a fix-up re-dispatch pushed
        onto the EXISTING PR branch and the fix-up implement stage transitioned
        terminally. No PR artifact is created.
      required: [stage_id, outcome, branch, head_sha]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [fixup_pushed] }
        branch: { type: string }
        head_sha: { type: string }

    PlanUploadResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/plan`. `idempotent` is true
        when the upload matched an existing artifact for the stage and
        no new row was inserted.
      required: [id, stage_id, content_hash, schema_version, idempotent]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        content_hash:
          type: string
          description: Hex sha256 of the canonical plan bytes.
        schema_version:
          type: string
          example: standard_v1
        idempotent:
          type: boolean

    Artifact:
      type: object
      required: [id, stage_id, kind, content_hash, created_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        kind:
          type: string
          enum: [plan, pull_request]
        schema_version:
          type: [string, "null"]
          example: standard_v1
        content_hash:
          type: string
          description: Hex sha256 of canonical content bytes.
        content:
          description: |
            JSON content of the artifact. For kind=plan validated
            against the standard_v1 schema in
            docs/spec/plan-standard-v1.schema.json.
        created_at:
          type: string
          format: date-time

    AuditEntry:
      type: object
      description: |
        One line in the append-only audit log. Entries form a per-run
        chain via prev_hash → entry_hash; see backend/internal/audit
        and verifier/internal/audit for the canonical algorithm.
      required:
        [id, sequence, run_id, ts, category, payload, entry_hash]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        sequence:
          type: integer
          format: int64
          minimum: 1
        run_id: { $ref: '#/components/schemas/UUID' }
        stage_id:
          oneOf:
            - $ref: '#/components/schemas/UUID'
            - type: "null"
        ts:
          type: string
          format: date-time
        category:
          type: string
          example: plan_generated
        actor_kind:
          type: [string, "null"]
          enum: [agent, user, system, null]
        actor_subject:
          type: [string, "null"]
        payload:
          description: Event-specific JSON object.
        prev_hash:
          type: [string, "null"]
          description: Hex sha256 of the prior entry's entry_hash; null on the first entry of a run.
        entry_hash:
          type: string
          description: Hex sha256 of the canonical hash inputs.

    StatusCommentResponse:
      type: object
      description: |
        Rendered sticky-comment body plus the GitHub comment ID stored
        in the most recent `status_comment_posted` audit entry (0 when
        no comment has been posted yet). Used by the CLI to drive
        edit-in-place updates on the issue thread.
      required: [body, issue_number, repo, github_comment_id]
      properties:
        body:
          type: string
          description: Rendered Markdown body for the issue comment.
        issue_number:
          type: integer
          description: GitHub issue number the comment belongs to.
        repo:
          type: string
          description: "GitHub repo in owner/name form."
        github_comment_id:
          type: integer
          format: int64
          description: |
            GitHub comment ID from the last `status_comment_posted` audit entry.
            Zero when no comment has been posted yet (create-path).

    RunBudgetStatus:
      type: object
      description: |
        Current calendar-period status of a workflow's periodic budget
        (#693 / ADR-030). **Display-only** — never gates or blocks a run.

        When the workflow declares no budget the endpoint returns an
        **empty object** (none of the fields below present); clients
        detect "no budget" by the absence of `period`. The fields below
        are present only when a budget is configured.
      properties:
        period:
          type: string
          enum: [weekly, monthly]
          description: Budget reset cadence.
        period_start:
          type: string
          format: date-time
          description: |
            RFC3339 inclusive start of the current calendar period, in
            the server's configured budget timezone.
        limit_usd:
          type: number
          description: Configured spend ceiling in US dollars for the period.
        spent_usd:
          type: number
          description: Cross-run workflow spend so far in the current period.
        fraction:
          type: number
          description: |
            `spent_usd / limit_usd`. May exceed 1 when over the ceiling.
            Zero when the limit is non-positive (no usable ceiling).
        warn_at:
          type: [number, "null"]
          description: |
            Optional warn threshold as a fraction in (0,1]. Omitted when
            the budget configures no warn threshold.
        tier:
          type: string
          enum: [ok, warn, over]
          description: |
            `over` when `fraction >= 1`; `warn` when the configured
            `warn_at` is crossed but not yet over; otherwise `ok`.
        enforcement:
          type: string
          enum: [advisory, blocking]
          description: |
            Budget enforcement mode. A spec budget with no enforcement
            value defaults to (and surfaces as) `advisory`.

    CalibrationResult:
      type: object
      description: |
        Aggregated runtime calibration statistics derived from
        `runtime_observed` audit entries. Zero `samples` is normal on
        a fresh installation.
      required: [samples, predicted_p50_minutes, actual_p50_minutes, actual_p95_minutes, calibration_ratio, confidence_band_accuracy]
      properties:
        workflow_id:
          type: string
          description: Workflow ID filter applied, if any.
        stage_type:
          type: string
          example: implement
        samples:
          type: integer
          description: Number of implement stages included in this result set.
        predicted_p50_minutes:
          type: number
          format: double
          description: Median predicted runtime in minutes across the sample.
        actual_p50_minutes:
          type: number
          format: double
          description: Median actual runtime in minutes across the sample.
        actual_p95_minutes:
          type: number
          format: double
          description: 95th-percentile actual runtime in minutes.
        calibration_ratio:
          type: number
          format: double
          description: |
            `actual_p50 / predicted_p50`. Multiply raw estimates by this value
            to calibrate toward historical actuals. Zero when predicted_p50 is 0.
        confidence_band_accuracy:
          type: object
          description: |
            Per-confidence-level hit rates. Keys are confidence levels (low,
            medium, high); each value is an object with `samples` (int) and
            `within_1.5x` (int) counts. A low `within_1.5x / samples` ratio
            signals over-confidence in that band.
          additionalProperties:
            type: object
            properties:
              samples: { type: integer }
              within_1.5x: { type: integer }

    User:
      type: object
      required: [id, github_login, name]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        github_login:
          type: string
          example: kuhlman-labs
        name:
          type: string
          example: Brett Kuhlman
        email:
          type: [string, "null"]

    ApiToken:
      type: object
      required: [id, scopes, created_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        scopes:
          type: array
          items:
            type: string
        last_used_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        revoked_at:
          type: [string, "null"]
          format: date-time

  responses:
    BadRequest:
      description: Request body or query parameters were invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Authentication missing or invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: |
        Authenticated identity lacks permission for the operation
        (`error: forbidden`), or — on state-changing methods from a
        session-cookie identity — the `X-CSRF-Token` header didn't
        match the `__Host-csrf` cookie (`error: csrf_required`).
        Bearer-token clients bypass the CSRF check.
        Bearer tokens that authenticate successfully but lack a required
        write scope receive `error: insufficient_scope` with HTTP 403.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Referenced resource does not exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: Request conflicts with current resource state.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

# ---------------------------------------------------------------------------
# Default security: cookie OR bearer for all UI/CLI endpoints. Runner-
# facing and webhook endpoints override this individually.
# ---------------------------------------------------------------------------
security:
  - sessionCookie: []
  - bearerToken: []

paths:
  # ---------------------------------------------------------------------
  # Liveness — public, unversioned
  # ---------------------------------------------------------------------
  /healthz:
    get:
      operationId: getHealthz
      summary: Liveness probe
      description: |
        Lightweight check used by load balancers, ECS health checks, and
        local smoke tests. Returns build version so operators can confirm
        a deploy reached the instance. Implemented in
        `backend/internal/server/handlers.go`.
      security: []
      tags: [diagnostics]
      responses:
        '200':
          description: Process is up.
          content:
            application/json:
              schema:
                type: object
                required: [status, version, git_sha, min_runner_version, schemas]
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: dev
                  git_sha:
                    type: string
                    description: |
                      Git commit SHA the binary was built from. "unknown" for
                      development builds. Operators use this to confirm a deploy
                      matches the expected commit.
                    example: unknown
                  min_runner_version:
                    type: string
                    description: |
                      Minimum fishhawk-runner version required to interoperate
                      with this backend. "dev" signals no enforcement (local dev).
                      Runners older than this value should exit rather than proceed.
                    example: dev
                  schemas:
                    type: object
                    description: |
                      Map of schema name to hex-encoded SHA-256 of the backend's
                      embedded canonical schema bytes. Keys: "plan-standard-v1",
                      "workflow-v0". Callers compare against their own embedded
                      hashes to detect schema drift.
                    additionalProperties:
                      type: string
                    example:
                      plan-standard-v1: "abc123..."
                      workflow-v0: "def456..."
        '503':
          description: Process is shutting down or otherwise not ready.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------
  # Auth — sign in via GitHub OAuth, manage scoped tokens
  # ---------------------------------------------------------------------
  /v0/auth/github/login:
    get:
      operationId: githubLogin
      summary: Begin GitHub OAuth sign-in
      description: |
        Redirects the browser to GitHub's OAuth authorize endpoint with a
        backend-generated state value. The state is bound to the browser
        via a temporary cookie and verified on callback.
      security: []
      tags: [auth]
      responses:
        '302':
          description: Redirect to GitHub's OAuth authorize URL.
        '500':
          description: OAuth state could not be issued.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/auth/github/callback:
    get:
      operationId: githubCallback
      summary: GitHub OAuth callback
      description: |
        Verifies the state, exchanges the code for a GitHub access token,
        looks up or creates the user, and sets the `fishhawk_session`
        cookie. Redirects to the SPA on success.
      security: []
      tags: [auth]
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Redirect to the SPA root with session cookie set.
        '400': { $ref: '#/components/responses/BadRequest' }

  /v0/auth/github/manifest-flow-start:
    get:
      operationId: githubManifestFlowStart
      summary: Begin GitHub App manifest registration
      description: |
        Mints a manifest-flow state value, sets it in a short-lived
        cookie, and renders an HTML page with a self-submitting form
        that POSTs the App manifest to GitHub. After the operator
        confirms the App's name on GitHub's side, GitHub redirects
        back to `/v0/auth/github/manifest-callback` with a one-shot
        `code`.

        Designed to be opened directly in a browser; the response is
        HTML, not JSON.
      security: []
      tags: [auth]
      parameters:
        - name: backend_url
          in: query
          required: true
          description: Absolute base URL of fishhawkd (e.g. `http://localhost:8080`).
          schema: { type: string, format: uri }
        - name: webhook_url
          in: query
          required: true
          description: |
            Destination GitHub will deliver webhooks to. For local dev
            this is typically a smee.io forwarding URL since GitHub
            cannot reach `localhost`.
          schema: { type: string, format: uri }
        - name: owner
          in: query
          description: |
            GitHub user or org login. When set, the form posts to
            `https://github.com/organizations/<owner>/settings/apps/new`
            instead of the operator's personal account.
          schema: { type: string }
        - name: name
          in: query
          description: App name override. Defaults to "Fishhawk".
          schema: { type: string }
      responses:
        '200':
          description: HTML form that auto-submits to GitHub.
          content:
            text/html:
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '503':
          description: Manifest flow not configured on this backend.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/auth/github/manifest-callback:
    get:
      operationId: githubManifestCallback
      summary: Receive GitHub App manifest-flow callback
      description: |
        Verifies the manifest-flow state, exchanges the one-shot
        `code` with `https://api.github.com/app-manifests/{code}/conversions`,
        and renders an HTML success page that displays the freshly
        minted App ID, OAuth client ID + secret, webhook secret, and
        PEM private key once. The backend does not persist these —
        the operator copies them out into `.env` (local dev) or the
        configured secrets backend (hosted, deferred).

        The conversion code is single-use and good for ten minutes;
        on `502` the operator must restart from
        `/v0/auth/github/manifest-flow-start`.
      security: []
      tags: [auth]
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: HTML success page with one-time-visible credentials.
          content:
            text/html:
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '502':
          description: GitHub rejected the conversion code (expired, reused, or invalid).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Manifest flow not configured on this backend.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/auth/me:
    get:
      operationId: getMe
      summary: Current user
      description: Returns the authenticated user, or 401 if unauthenticated.
      tags: [auth]
      responses:
        '200':
          description: The authenticated user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v0/auth/logout:
    post:
      operationId: logout
      summary: Sign out
      description: Invalidates the current session.
      tags: [auth]
      responses:
        '204':
          description: Session destroyed.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v0/tokens:
    get:
      operationId: listTokens
      summary: List API tokens for the current user
      tags: [auth]
      responses:
        '200':
          description: Active tokens. Token strings are NOT returned.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: '#/components/schemas/ApiToken' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createToken
      summary: Mint a new scoped API token
      description: |
        Returns the freshly-minted token string ONCE in the response body.
        The token is not retrievable later; if lost, revoke and re-issue.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scopes]
              properties:
                scopes:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Token created. The plaintext value is in the response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiToken'
                  - type: object
                    required: [token]
                    properties:
                      token:
                        type: string
                        description: |
                          The bearer token. Store immediately — not
                          retrievable later.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v0/tokens/{token_id}:
    delete:
      operationId: revokeToken
      summary: Revoke an API token
      tags: [auth]
      parameters:
        - { name: token_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '204':
          description: Token revoked.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------------------------------------------------------------
  # Runs
  # ---------------------------------------------------------------------
  /v0/runs:
    get:
      operationId: listRuns
      summary: List workflow runs
      description: |
        Cursor-paginated list ordered by `created_at` descending. Filter
        parameters are additive; multiple query values AND together.
      tags: [runs]
      parameters:
        - { name: repo, in: query, schema: { type: string } }
        - { name: workflow_id, in: query, schema: { type: string } }
        - { name: state, in: query, schema: { type: string, enum: [pending, running, succeeded, failed, cancelled] } }
        - name: pull_request_url
          in: query
          description: |
            Equality filter on `run.pull_request_url` (#216). Used by
            the threaded-runs view to render every run on a PR.
          schema: { type: string }
        - name: trigger_ref
          in: query
          description: |
            Equality filter on `run.trigger_ref` (e.g. `issue:42`).
            Used by the threaded-runs view to render every run on the
            same trigger when no PR has landed yet.
          schema: { type: string }
        - name: runner_kind
          in: query
          description: |
            Equality filter on `run.runner_kind` (ADR-022 / #388).
            Used by compliance consumers to project to
            `github_actions` only (or to scope to local-runner
            dev-loop runs).
          schema: { type: string, enum: [github_actions, local] }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: Page of runs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: '#/components/schemas/Run' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createRun
      summary: Create a workflow run
      description: |
        Creates a `runs` row in the `pending` state and dispatches a
        `workflow_dispatch` event to the customer's repo. The runner
        action picks it up and proceeds through the configured stages.

        Pass `Idempotency-Key: <opaque-string>` to make the call
        retriable. If a run with the same `(repo, key)` exists, it's
        returned with a 200 instead of creating a fresh one. The
        scope is `(repo, key)` so two callers picking the same key
        for different repos don't collide.
      tags: [runs]
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            description: |
              Opaque caller-chosen string. Same key + same repo =
              the existing run is returned (200). Different key OR
              different repo = a fresh run is created (201). No
              header = always create.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repo, workflow_id, workflow_sha, trigger_source]
              properties:
                repo:
                  type: string
                  example: kuhlman-labs/fishhawk
                workflow_id:
                  type: string
                  example: feature_change
                workflow_sha:
                  type: string
                trigger_source:
                  type: string
                  enum: [github_issue, cli, ui]
                trigger_ref:
                  type: [string, "null"]
                runner_kind:
                  type: string
                  enum: [github_actions, local]
                  description: |
                    Optional. Execution backend the run will use
                    (ADR-022 / #388). Defaults to `github_actions`
                    when omitted. The local-runner CLI (Phase C of
                    E22 / #389) passes `local` to mint a run that
                    runs on the operator's workstation instead of
                    GitHub Actions.
                workflow_spec:
                  type: string
                  description: |
                    Optional. YAML body of `.fishhawk/workflows.yaml`
                    at `workflow_sha`, sent inline so the backend can
                    create one Stage row per stage definition for
                    API-minted runs (#411). When omitted AND the
                    backend has a GitHub client configured, the
                    handler resolves the App's installation for
                    `repo` and fetches the spec at `workflow_sha`
                    via the GitHub Contents API (#413) — used by
                    MCP-driven runs and cross-repo CLI flows that
                    can't easily ship the spec inline. When
                    omitted AND no GitHub client is configured,
                    the run row is created with no stages (the
                    legacy shape, kept for integration test
                    seeding). The `fishhawk run start` CLI always
                    sends this field, populated either via
                    auto-discovery of the local checkout or the
                    `--spec-file` flag. A malformed or
                    unrecognised-workflow_id body returns 400
                    before the run row is created; an App that's
                    not installed on the target repo returns 422
                    `repo_not_installed`; a missing spec at the
                    requested `workflow_sha` returns 422
                    `spec_not_found`.
                issue_context:
                  $ref: '#/components/schemas/IssueContext'
                  description: |
                    Optional. Cached payload from the operator's
                    `gh issue view` (#415). Carries the triggering
                    GitHub issue's title, body, url, and number so
                    the backend's prompt builder reads from the row
                    instead of needing an installation_id to fetch
                    from GitHub. Only valid with
                    `trigger_source: github_issue` — a 400 fires
                    when shipped with any other trigger source.
                    Webhook-dispatched runs leave this empty and
                    the backend falls back to the existing
                    GitHub-fetch path.
                budget_override:
                  type: boolean
                  description: |
                    Optional. Operator force-past for a blocking
                    periodic cost budget (#688 / ADR-030). When the
                    resolved workflow declares an
                    `enforcement: blocking` budget whose current
                    calendar-period spend has reached `limit_usd`, a
                    new run is normally refused with `402
                    budget_exhausted`. Setting this `true` admits the
                    run anyway and records a
                    `run_admitted_budget_override` audit entry.
                    Ignored when no blocking budget is over — it only
                    matters at the moment a budget would block. There
                    is no override on the webhook-dispatch path
                    (webhook triggers can't carry one).
      responses:
        '200':
          description: Idempotent replay — existing run returned unchanged.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '201':
          description: Run created and dispatched.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402':
          description: |
            `budget_exhausted` — the resolved workflow declares an
            `enforcement: blocking` periodic cost budget whose
            current calendar-period spend has reached `limit_usd`
            (#688 / ADR-030). No run row is created. Clear it by
            raising `limit_usd`, switching the budget to
            `enforcement: advisory`, or retrying with
            `budget_override: true`. In-flight runs and CI-retry /
            decomposition-child continuations are never gated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422':
          description: |
            Returned when the GitHub-fetch fallback can't resolve
            the spec (#413). `repo_not_installed` when the App is
            absent from the target repo; `spec_not_found` when the
            file doesn't exist at the requested `workflow_sha`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/runs/{run_id}:
    get:
      operationId: getRun
      summary: Get a run
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Run details.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v0/runs/{run_id}/cancel:
    post:
      operationId: cancelRun
      summary: Cancel a run
      description: |
        Transitions the run and any non-terminal stages to `cancelled`.
        Idempotent — calling on an already-cancelled or already-terminal
        run returns 409 unless `state` already equals `cancelled`.
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Run cancelled.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /v0/runs/{run_id}/redrive:
    post:
      operationId: redriveChild
      summary: Re-drive a failed decomposition child run
      description: |
        Operator recovery action for a decomposition parent parked in
        `awaiting_children` because every failed child was in a retryable
        failure category (A/C, or D-timeout) — see #698. Re-opens the
        failed child run (`failed` → `running`) and its failed implement
        stage (`failed` → `pending`), then hands off to the orchestrator
        to walk `pending` → `dispatched` and fire `workflow_dispatch`.
        Un-terminal-ing the run is what lets the orchestrator act —
        `Advance` no-ops on a terminal run. On the child's next terminal
        transition the parked parent reconciles through the normal
        parent-resolution path. Writes a `child_redriven` audit entry on
        success with the prior implement-stage failure category and
        reason in the payload.

        **Authorization.** Re-drive is an operator action. It requires
        the operator retry scope (`write:stages` or `write:retries`, the
        same shape as `POST /v0/stages/{stage_id}/retry`) AND rejects any
        MCP subject-bound (agent) token outright — an agent may not
        re-drive any run (not its own, not a sibling/child/parent),
        because re-opening a terminal run is not an agent-permitted
        action. Cookie-session operators are accepted unconditionally.
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Child re-driven; refreshed Run row (state `running`) in body.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: |
            One of two cases: (1) the caller presented an MCP/agent
            subject-bound token (subject `mcp:run:<uuid>`) — body `error`
            is `agent_token_forbidden`; agent tokens may never re-drive a
            run. (2) a bearer token lacks both `write:stages` and
            `write:retries` scope — body `error` is `insufficient_scope`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422':
          description: |
            Re-drive not applicable: the run is not a decomposition child
            (`DecomposedFrom` is null), is not in the `failed` state, or
            has no failed implement stage to re-open. Body's `error` is
            `redrive_not_applicable` and `message` explains the reason.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/runs/{run_id}/stages:
    get:
      operationId: listRunStages
      summary: List stages for a run
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Stages ordered by sequence ascending.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Stage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v0/runs/{run_id}/audit:
    get:
      operationId: listRunAudit
      summary: List audit entries for a run
      description: |
        Cursor-paginated, sequence-ascending. Used by the run-detail UI
        and (eventually) the compliance export.
      tags: [audit]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
        - { name: category, in: query, schema: { type: string } }
        - name: stage_id
          in: query
          schema: { $ref: '#/components/schemas/UUID' }
          description: |
            Optional. When set, the response is filtered to entries
            tagged with this stage id. Used by the implement-stage
            session view (#215) to render a per-stage activity feed.
        - { name: limit, in: query, schema: { type: integer, default: 100, maximum: 500 } }
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: Page of audit entries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: '#/components/schemas/AuditEntry' }
        '400':
          description: |
            `validation_failed` — `stage_id` not a UUID, or `limit` out of range.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v0/runs/{run_id}/budget:
    get:
      operationId: getRunBudget
      summary: Current periodic-budget status for a run's workflow
      description: |
        Returns the current calendar-period status of the workflow's
        periodic budget (#693 / ADR-030): spend vs limit, the fraction
        consumed, and the `ok`/`warn`/`over` tier. Reuses the same
        evaluation chain the advisory alert path runs (period range →
        cross-run cost sum → evaluate).

        **Display-only.** This endpoint never gates or blocks a run; it
        exists so the MCP loop can surface spend-vs-limit every stage
        instead of relying on the advisory issue comment.

        When the workflow declares no budget the response is **200 with
        an empty object** (`{}`) rather than a 404, so clients branch on
        the presence of `period`. A workflow with multiple budgets
        surfaces only the first.
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: |
            Periodic-budget status, or an empty object when the workflow
            declares no budget.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RunBudgetStatus' }
        '400':
          description: "`validation_failed` — `run_id` not a UUID."
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { description: Run repository unavailable. }

  /v0/runs/{run_id}/status-comment:
    get:
      operationId: getStatusComment
      summary: Get rendered sticky-comment body and stored GitHub comment ID
      description: |
        Returns the rendered Markdown body for the run's issue thread sticky
        comment (`RenderStatusBody`) plus the `github_comment_id` from the
        most recent `status_comment_posted` audit entry (0 when no comment
        has been posted yet). Used by the CLI to drive edit-in-place updates
        without re-rendering client-side (#428).
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Rendered body and stored comment ID.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatusCommentResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { description: Run repository unavailable. }
    post:
      operationId: recordStatusCommentID
      summary: Record the GitHub comment ID after posting the sticky comment
      description: |
        Called by the CLI after `gh api` creates or edits the issue comment.
        Appends a `status_comment_posted` audit entry with the returned
        `github_comment_id` so subsequent GET calls can return it for
        edit-in-place targeting. Idempotent: multiple POSTs are safe (#428).
      tags: [runs]
      parameters:
        - { name: run_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [github_comment_id]
              properties:
                github_comment_id:
                  type: integer
                  format: int64
                  minimum: 1
      responses:
        '201':
          description: Comment ID recorded.
        '400':
          description: "`validation_failed` — `github_comment_id` missing or ≤ 0."
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { description: Run repository unavailable. }

  /v0/audit:
    get:
      operationId: listGlobalAudit
      summary: Search the cross-chain audit log
      description: |
        Cross-chain feed for the audit-log search surface (#211): returns
        per-run rows AND global-chain rows (token issuance, OAuth sign-in,
        etc.) merged into one **time-descending** page. Same cursor +
        limit envelope as `/v0/runs/{run_id}/audit`. Optional `category`
        and `run_id` filters; combine for "show me approvals on this run."

        Distinct from `/v0/runs/{run_id}/audit` (sequence-ascending,
        scoped to one run, used by the run-detail audit list and the
        per-run verifier path). The global-chain partition specifically
        is the verifier's input — not exposed over HTTP for now.
      tags: [audit]
      parameters:
        - { name: category, in: query, schema: { type: string } }
        - { name: run_id, in: query, schema: { $ref: '#/components/schemas/UUID' } }
        - { name: limit, in: query, schema: { type: integer, default: 100, maximum: 500 } }
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        '200':
          description: Page of audit entries, time-descending across both chains.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: '#/components/schemas/AuditEntry' }
        '400':
          description: |
            `validation_failed` — `limit` out of range or `run_id` not a UUID;
            `cursor_invalid` — opaque cursor failed to decode.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503':
          description: Audit repository not configured on this instance.

  /v0/calibration:
    get:
      operationId: getCalibration
      summary: Get runtime calibration statistics
      description: |
        Returns aggregated actual-vs-predicted runtime statistics derived
        from `runtime_observed` audit entries. Agents call this before writing
        a plan to self-correct `predicted_runtime_minutes` using
        `calibration_ratio` and `confidence_band_accuracy`.

        All parameters are optional. Omit them to get all-time stats across
        all implement stages.

        Zero `samples` is a valid response on a fresh installation.
      tags: [calibration]
      parameters:
        - name: workflow_id
          in: query
          description: Scope results to a specific workflow ID.
          schema: { type: string }
        - name: stage_type
          in: query
          description: Stage type to aggregate (default `implement`).
          schema: { type: string, default: implement }
        - name: since
          in: query
          description: RFC 3339 lower bound; omit for all-time stats.
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Calibration statistics (samples may be 0).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalibrationResult' }
        '400':
          description: "`bad_since` — `since` is not a valid RFC 3339 timestamp."
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503':
          description: Audit repository not configured on this instance.

  # ---------------------------------------------------------------------
  # Stages, artifacts, approvals
  # ---------------------------------------------------------------------
  /v0/stages/{stage_id}:
    get:
      operationId: getStage
      summary: Get a stage
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Stage details.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Stage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v0/stages/{stage_id}/artifacts:
    get:
      operationId: listStageArtifacts
      summary: List artifacts for a stage
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Artifacts, ordered by created_at ascending.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Artifact' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v0/stages/{stage_id}/prompt:
    get:
      operationId: getStagePrompt
      summary: Fetch the constructed prompt for a stage
      description: |
        Returns the agent-facing prompt the runner should write to
        a temp file and pass to the executing agent's `--prompt-file`
        argument. Construction is server-side and deterministic so
        that two replays of the same stage produce byte-identical
        prompts and the audit log records exactly what the agent
        was asked to do (see MVP_SPEC §4.4).

        Auth is the same per-run signing-key scheme used by the
        trace upload endpoint. The runner signs
        `sha256("prompt:" + stage_id)` with the private half issued
        at signing-key time and sends the hex signature in
        `X-Fishhawk-Signature`.

        Returns 501 when no prompt template is implemented yet for
        the stage's type — caller should treat the stage as
        unsupported and fail rather than guess.
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
        - in: header
          name: X-Fishhawk-Signature
          required: true
          schema:
            type: string
            description: Hex-encoded Ed25519 signature of `sha256("prompt:" + stage_id)`.
      responses:
        '200':
          description: Constructed prompt for the stage.
          content:
            application/json:
              schema:
                type: object
                required: [stage_id, stage_type, prompt, prompt_hash]
                properties:
                  stage_id: { $ref: '#/components/schemas/UUID' }
                  stage_type:
                    type: string
                    description: Stage type from the workflow spec (e.g. `implement`, `plan`).
                  prompt:
                    type: string
                    description: Plain-text prompt for the agent.
                  prompt_hash:
                    type: string
                    description: Hex-encoded sha256 of the prompt bytes.
                  agent_timeout_seconds:
                    type: integer
                    description: 'Wall-clock kill cap in seconds; 0 means the runner should apply its own fallback. For implement stages the value is dynamically widened above the spec budget to max(spec budget, approved-plan predicted_runtime_minutes x 2, implement-stage calibration p95 x 1.5), capped at 2x the spec budget; other stages return the spec-resolved value unchanged.'
                  decomposed_from_run_id:
                    type: string
                    format: uuid
                    description: Parent run ID when this run is a decomposed child. Absent for standalone runs. Runners use this to route onto a shared parent branch.
                  verify_command:
                    type: string
                    description: Shell command for the verify gate; omitted when the spec declares none.
                  verify_timeout_seconds:
                    type: integer
                    description: Wall-clock cap for the verify command in seconds; 0 or absent means the runner applies its 10-minute fallback.
                  verify_max_iterations:
                    type: integer
                    description: Verify-fix loop budget from executor.verify.max_iterations; 0 or absent preserves the single-shot demote-on-failure gate, >0 caps the total verify-fix agent invocations across the stage.
                  min_runner_version:
                    type: string
                    description: Minimum runner version the backend requires; absent when the backend has no constraint. Runners older than this value must exit with code 3 (version_skew) rather than invoking the agent.
                  scope_files:
                    type: array
                    description: |
                      The approved plan's `scope.files`, echoed on implement
                      stages so the runner can bound the commit to exactly
                      these declared paths instead of `git add -A` (#581).
                      Absent when no approved plan is available
                      (`plan_missing_for_implement`) — the runner falls back
                      to staging every change. Dirty-but-undeclared paths are
                      excluded from the commit and flagged as scope drift
                      (non-blocking).
                    items:
                      type: object
                      required: [path, operation]
                      properties:
                        path:
                          type: string
                          description: Repo-relative path the agent declared it would touch.
                        operation:
                          type: string
                          enum: [create, modify, delete]
                          description: Per-file intent from the standard_v1 plan scope.files entry.
                  commit_author_name:
                    type: string
                    description: |
                      The GitHub App bot account's git author name
                      (`<app-slug>[bot]`), resolved backend-side from the App
                      so App-backed commits attribute to the App's bot account
                      (#722). Absent when the backend can't resolve it (no App
                      JWT, dev/CLI) — the runner falls back to its default bot
                      identity.
                  commit_author_email:
                    type: string
                    description: |
                      The GitHub App bot account's git author email
                      (`<bot-user-id>+<app-slug>[bot]@users.noreply.github.com`),
                      paired with `commit_author_name` (#722). Absent under the
                      same conditions; the runner falls back to its default.
                  fixup:
                    type: boolean
                    description: |
                      True when this implement stage is an operator-triggered
                      implement-review fix-up pass (#762/#784): an unconsumed
                      `stage_fixup_triggered` audit entry routed review concerns
                      back to this stage. The runner takes its same-branch
                      `RebaseFromRemote` path (fetch + checkout + pull --rebase
                      on `fixup_branch`) and updates the open PR rather than
                      opening a new one. Absent on a normal implement dispatch —
                      branch routing falls through to the per-stage branch.
                  fixup_branch:
                    type: string
                    description: |
                      The existing PR branch a fix-up pass commits onto. Present
                      only when `fixup` is true. Derived to match the runner's
                      branch formula exactly: non-decomposed
                      `fishhawk/run-<shortID(run_id)>/stage-<shortID(stage_id)>`,
                      decomposed `fishhawk/run-<shortID(decomposed_from_run_id)>`
                      (shortID = first 8 chars of the UUID). A divergence would
                      re-create the `checkout -b <existing branch>` failure
                      (#784).
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Stage is not in a runnable state (awaiting_approval, awaiting_children, succeeded, failed, or cancelled).
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Error' }
                  - description: |
                      `error.code` is `stage_not_runnable`.
                      `error.details.current_state` holds the stage's current state string.
                      `error.details.stage_id` holds the stage UUID.
        '501':
          description: Prompt construction not implemented for this stage type.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Backend wiring incomplete (run, signing, or GitHub repo unconfigured).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/stages/{stage_id}/prompt-render:
    get:
      operationId: getStagePromptRender
      summary: Fetch the constructed prompt for a stage (SPA-readable)
      description: |
        SPA-side counterpart of `getStagePrompt` (#215). Returns the
        same body shape, built by the same deterministic
        `prompt.Build` pipeline, without requiring
        `X-Fishhawk-Signature`. Read access tracks the existing
        stage / audit reads.

        The two endpoints exist as siblings rather than one with a
        toggle so the runner contract on the signature-authed path
        stays unchanged when the SPA-side surface evolves.
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Constructed prompt for the stage.
          content:
            application/json:
              schema:
                type: object
                required: [stage_id, stage_type, prompt, prompt_hash]
                properties:
                  stage_id: { $ref: '#/components/schemas/UUID' }
                  stage_type: { type: string }
                  prompt: { type: string }
                  prompt_hash: { type: string }
                  agent_timeout_seconds:
                    type: integer
                    description: 'Wall-clock kill cap in seconds; 0 means the runner should apply its own fallback. For implement stages the value is dynamically widened above the spec budget to max(spec budget, approved-plan predicted_runtime_minutes x 2, implement-stage calibration p95 x 1.5), capped at 2x the spec budget; other stages return the spec-resolved value unchanged.'
                  decomposed_from_run_id:
                    type: string
                    format: uuid
                    description: Parent run ID when this run is a decomposed child. Absent for standalone runs.
                  verify_command:
                    type: string
                    description: Shell command for the verify gate; omitted when the spec declares none.
                  verify_timeout_seconds:
                    type: integer
                    description: Wall-clock cap for the verify command in seconds; 0 or absent means the runner applies its 10-minute fallback.
                  verify_max_iterations:
                    type: integer
                    description: Verify-fix loop budget from executor.verify.max_iterations; 0 or absent preserves the single-shot demote-on-failure gate, >0 caps the total verify-fix agent invocations across the stage.
                  min_runner_version:
                    type: string
                    description: Minimum runner version the backend requires; absent when the backend has no constraint.
                  scope_files:
                    type: array
                    description: |
                      The approved plan's `scope.files`, echoed on implement
                      stages so the runner can bound the commit to exactly
                      these declared paths instead of `git add -A` (#581).
                      Absent when no approved plan is available.
                    items:
                      type: object
                      required: [path, operation]
                      properties:
                        path:
                          type: string
                          description: Repo-relative path the agent declared it would touch.
                        operation:
                          type: string
                          enum: [create, modify, delete]
                          description: Per-file intent from the standard_v1 plan scope.files entry.
                  commit_author_name:
                    type: string
                    description: GitHub App bot account's git author name (`<app-slug>[bot]`), resolved backend-side (#722). Absent when unresolvable; the runner falls back to its default.
                  commit_author_email:
                    type: string
                    description: GitHub App bot account's git author email (`<bot-user-id>+<app-slug>[bot]@users.noreply.github.com`), paired with commit_author_name (#722).
                  fixup:
                    type: boolean
                    description: True when this implement stage is an operator-triggered implement-review fix-up pass (#762/#784); the runner commits onto `fixup_branch` via its same-branch RebaseFromRemote path and updates the open PR instead of opening a new one. Absent on a normal implement dispatch.
                  fixup_branch:
                    type: string
                    description: Existing PR branch a fix-up pass commits onto; present only when `fixup` is true. Matches the runner's branch formula — non-decomposed `fishhawk/run-<shortID(run_id)>/stage-<shortID(stage_id)>`, decomposed `fishhawk/run-<shortID(decomposed_from_run_id)>` (#784).
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Stage is not in a runnable state (awaiting_approval, awaiting_children, succeeded, failed, or cancelled).
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Error' }
                  - description: |
                      `error.code` is `stage_not_runnable`.
                      `error.details.current_state` holds the stage's current state string.
                      `error.details.stage_id` holds the stage UUID.
        '501':
          description: Prompt construction not implemented for this stage type.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Backend wiring incomplete (run repo or GitHub unconfigured).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/stages/{stage_id}/trace:
    get:
      operationId: getStageTrace
      summary: Stream the redacted trace bundle for a stage
      description: |
        Streams the most-recent **redacted** trace bundle the runner
        shipped for this stage. The body is gzipped JSON Lines; the
        SPA gunzips client-side (or the browser auto-decompresses
        when `Accept-Encoding: gzip` is honored) and parses
        line-by-line to render the agent transcript (#218).

        The bundle's first line is the manifest (agent, model,
        agent_failed flag); middle lines are one captured agent
        event each; last line is the trailer with event count + a
        sha256 of the preceding lines (truncation detector). Schema
        is ADR-007 (#71).

        Raw variant access is not exposed here. The raw bundle can
        carry secrets in agent output and lives behind S3 Object
        Lock for compliance reasons; surfacing it is a separate
        decision.
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: |
            Gzipped JSON Lines bundle bytes. `X-Fishhawk-Content-Hash`
            carries the bundle's hex sha256 so callers can cross-
            reference the audit log's `trace_uploaded` payload.
          headers:
            X-Fishhawk-Content-Hash:
              schema: { type: string }
              description: Hex sha256 of the gzipped bundle bytes.
            Content-Encoding:
              schema: { type: string, enum: [gzip] }
          content:
            application/x-ndjson:
              schema:
                type: string
                format: binary
        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: |
            `stage_not_found` — no stage with that id;
            `trace_not_found` — stage exists but no redacted bundle
            has been uploaded yet.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: |
            `trace_storage_missing` — the audit log references a
            bundle that's no longer in storage (lifecycle expiry,
            manual deletion, or a storage outage). The audit chain
            is the canonical record; the storage gap needs human /
            verifier intervention.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Backend wiring incomplete (run, audit, or tracestore unconfigured).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/stages/{stage_id}/checks:
    get:
      operationId: listStageChecks
      summary: Latest state per blocking check on a stage
      description: |
        Returns the most-recent observed state for each required
        check on the stage's run (#228). `declared` is the run's
        required-checks snapshot from GitHub branch protection
        (#251 / ADR-017) — pre-#254 it sourced from the spec-level
        `gate.blocking_checks` field, which has been dropped. `items`
        is the latest observed state per check name. Declared-but-
        not-observed checks appear in `declared` but not `items` —
        the SPA fills them with `not_tracked`.

        State values per check are the SPA-facing rollup of GitHub's
        `status` + `conclusion` pair, or the backend's self-derived
        equivalent for `fishhawk_audit_complete` (#229): `pass`,
        `fail`, `pending`, or `not_tracked`.

        For `fishhawk_audit_complete` the response item additionally
        carries a `missing` array naming what's incomplete (plan
        artifact, raw or redacted trace bundle, pull-request
        artifact, or audit-chain mismatch) so the SPA can render
        the failure reason without a secondary call. The check is
        computed on read from artifact + audit-log presence; no row
        for it lands in `stage_checks`. The audit-complete row is
        injected only for review stages.
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      responses:
        '200':
          description: Declared required checks + latest observed state per check.
          content:
            application/json:
              schema:
                type: object
                required: [declared, sources, items]
                properties:
                  declared:
                    type: array
                    items: { type: string }
                    description: |
                      Required-status-check context names from the
                      run's branch-protection snapshot (#251). Empty
                      when the run pre-dates the snapshot wiring or
                      skipped protection lookup (CLI / UI).
                  sources:
                    type: array
                    items: { type: string }
                    description: |
                      Surfaces that contributed to `declared`. Each
                      entry is `branch_protection` or `ruleset:<id>`.
                      The SPA renders this as a "Required by branch
                      protection" sub-label so reviewers know where
                      the list comes from (#256).
                  items:
                    type: array
                    items:
                      type: object
                      required: [name, state]
                      properties:
                        name: { type: string }
                        state:
                          type: string
                          enum: [pass, fail, pending, not_tracked]
                        status:
                          type: string
                          description: Verbatim GitHub `check_run.status` (queued / in_progress / completed).
                        conclusion:
                          type: [string, "null"]
                          description: Verbatim GitHub `check_run.conclusion`; null while not completed.
                        head_sha:
                          type: string
                        github_check_run_id:
                          type: [integer, "null"]
                          format: int64
                        ts:
                          type: string
                          format: date-time
                        missing:
                          type: array
                          description: |
                            Populated only on the `fishhawk_audit_complete`
                            row when the derivation found gaps. Each entry
                            names a category of incompleteness; consumers
                            branch on `kind`. Absent / empty when the check
                            passes or for externally-fed checks like
                            `ci_pass`.
                          items:
                            type: object
                            required: [kind, detail]
                            properties:
                              kind:
                                type: string
                                enum:
                                  - plan_missing
                                  - trace_missing
                                  - pr_missing
                                  - chain_invalid
                                  - chain_unrecoverable
                                  - foreign_commit
                                  - head_fetch_failed
                              detail:
                                type: string
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503':
          description: Backend wiring incomplete (run repo or stage-check repo unconfigured).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/stages/{stage_id}/approvals:
    post:
      operationId: submitApproval
      summary: Approve or reject the gate on a stage
      description: |
        The authenticated user must resolve to a role listed in the
        gate's `approvers` block. Submitting an `approve` decision
        transitions the gate to passed; `reject` fails the stage as
        category D.
      tags: [approvals]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [approve, reject]
                comment:
                  type: string
                approver_github_login:
                  type: string
                  description: |
                    Optional resolved GitHub login of the acting
                    operator, threaded through by the MCP
                    approve/reject tools (#751). Used only for
                    issue-thread `@`-mention rendering in the
                    plan-status footer; the audit `approver` field
                    keeps the token subject as the acting identity
                    (provenance). SPA/CLI callers omit it and are
                    unaffected. `decision` remains the only required
                    field.
      responses:
        '200':
          description: Approval recorded; stage state advanced.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Stage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            Possible error codes:

            - `invalid_state_transition` — stage isn't in
              awaiting_approval. (Pre-#253 the handler also returned
              409 with `blocking_checks_not_passed` when any declared
              blocking check wasn't `pass`. ADR-017 / #249 moved that
              gate to GitHub branch protection; the approval API no
              longer reads stage_check state.)
            - `review_stage_managed_by_github` — the target stage is
              a review stage. ADR-018 / #311 moved review-stage
              approval onto GitHub: the `pull_request.closed`
              webhook with `merged=true` transitions the stage;
              `pull_request_review.submitted` events feed the audit
              log. Branch protection's required-reviewers is the
              approver-list mechanism. Response body's `details`
              includes the run's `pull_request_url` when stamped so
              the caller knows where the merge gate lives. Plan-
              stage approvals continue to use this endpoint.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: |
            `plan_violates_budget` — the plan's
            `predicted_runtime_minutes` exceeds the spec-resolved
            implement-stage timeout and neither a
            `decomposition.sub_plans` block nor an
            `--override-budget` marker in the comment is present.
            `details` includes `predicted_minutes`, `budget_minutes`,
            and `timeout_source` (`stage_executor_timeout`,
            `workflow_policy_max_stage_runtime`, or
            `backend_default`). To unblock: either re-plan with a
            decomposition block, or re-submit the approval with
            `--override-budget` in the comment.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/stages/{stage_id}/retry:
    post:
      operationId: retryStage
      summary: Retry a failed stage
      description: |
        Re-opens a failed stage when the failure category supports it.
        Per MVP_SPEC §6:

        - **D, sla_timeout**: transitions failed → awaiting_approval,
          clears failure metadata, restarts the SLA clock implicitly
          via the `updated_at` trigger. Returns 200 with the updated stage.
        - **A** / **C**: transitions failed → pending, then the
          orchestrator walks pending → dispatched and fires
          workflow_dispatch. Returns 200 with the post-orchestrator
          stage (typically `dispatched`). Orchestrator failures are
          logged but don't fail the request — the stage stays at
          pending and an operator can re-fire Advance manually.
        - **D, gate-rejected**: 422 (`retry_not_applicable`) — the
          approver said no; create a fresh run instead.
        - **B**: 422 (`retry_not_applicable`) — the workflow or spec
          needs to change before a retry would behave differently,
          UNLESS the request carries `{override: true, reason: "..."}`
          (see request body below).

        The optional request body enables an **audited category-B
        override** (#698). With `{override: true}` and a non-empty
        `reason`, a genuine category-B failure is admitted onto the same
        failed → pending re-open path as A/C: the stage RE-RUNS and the
        policy gate RE-EVALUATES the new diff. The override does NOT
        accept the B-violating diff or bypass the gate — it only lets the
        stage run again. `reason` is mandatory when `override` is true
        (400 `validation_failed` otherwise). A successful override writes
        a distinct `stage_override_retried` audit entry (actor + reason +
        prior category B), kept separate from the ordinary `stage_retried`
        receipt. Without an override the body may be omitted entirely and
        default per-category semantics apply, writing `stage_retried`.
      tags: [stages]
      parameters:
        - { name: stage_id, in: path, required: true, schema: { $ref: '#/components/schemas/UUID' } }
      requestBody:
        required: false
        description: |
          Optional. Omit for a default per-category retry. Supply
          `{override: true, reason: "..."}` to invoke the audited
          category-B override.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                override:
                  type: boolean
                  default: false
                  description: |
                    Admit a category-B failure onto the failed → pending
                    re-open path. The stage re-runs and the policy gate
                    re-evaluates; the gate is not bypassed.
                reason:
                  type: string
                  description: |
                    Operator justification, recorded in the
                    `stage_override_retried` audit entry. Required when
                    `override` is true.
      responses:
        '200':
          description: Stage re-opened; refreshed Stage row in body.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Stage' }
        '400':
          description: |
            Malformed request body, or `override: true` without a
            non-empty `reason`. Body's `error` is `validation_failed`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: |
            One of two cases: (1) bearer token lacks both `write:stages`
            and `write:retries` scope — body `error` is `insufficient_scope`;
            (2) caller is an mcp token whose run scope does not match the
            target stage's `run_id` — body `error` is `cross_run_retry`.
            MCP tokens (subject `mcp:run:<uuid>`) may only retry stages
            within their own run.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: |
            Retry not applicable for the stage's current state /
            failure category. Body's `error` is `retry_not_applicable`
            and `message` explains the specific reason.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v0/stages/{stage_id}/fixup:
    post:
      operationId: fixupStage
      summary: Route advisory implement-review concerns back to the agent
      description: |
        Re-opens an implement stage held at the implement-review gate so
        the agent can make a bounded, operator-gated fix-up pass against one
        or more advisory implement-review concerns (E22.X / #762, #780),
        instead of the operator hand-editing the PR branch.

        Preconditions:

        - the stage must be an **implement** stage (plan/review stages are
          not eligible). Otherwise 422 (`fixup_not_applicable`).
        - the implement stage must be re-openable, in one of two flows.
[...]
