openapi: 3.1.0
info:
  title: Fishhawk Backend API
  version: 0.1.0
  description: |
    The HTTP surface that the Fishhawk backend (`fishhawkd`) exposes to its
    three classes of caller:

    1. **The Web UI and CLI** — humans driving plan review, approval, audit
       search, and run management.
    2. **The runner** — `kuhlman-labs/fishhawk/runner@vX.Y` running on the
       customer's CI, requesting per-run signing keys and shipping signed
       trace bundles.
    3. **GitHub webhooks** — the customer's GitHub App installation pushing
       issue / PR / check events that drive workflow dispatch.

    Per ADR (#46) and `MVP_SPEC.md` §5.1.1, every customer-facing endpoint is
    prefixed with `/v0`. The `v0` prefix is **unstable** by design — the
    surface is allowed to change before v1. Once the v1 surface is published
    (post-Day 21), `/v0` and `/v1` coexist for one minor version cycle to
    let clients migrate, and `/v0` is then retired.

    Webhook ingestion (`/webhooks/github`) is unversioned because GitHub
    controls the request shape; the backend adapts as GitHub's webhook
    schema evolves.

  contact:
    name: Fishhawk
    url: https://github.com/kuhlman-labs/fishhawk
  license:
    name: Apache-2.0
    url: https://github.com/kuhlman-labs/fishhawk/blob/main/LICENSE

servers:
  - url: https://api.fishhawk.dev
    description: Production
  - url: http://localhost:8080
    description: Local dev (docker compose up)

# ---------------------------------------------------------------------------
# Security schemes — three auth models for three caller classes (ADR-005).
# ---------------------------------------------------------------------------
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: fishhawk_session
      description: |
        HTTP-only `Secure; SameSite=Lax` session cookie set by the OAuth
        callback. Same-origin SPA requests are auto-included; CSRF
        protection on state-changing endpoints (POST/PUT/PATCH/DELETE)
        requires an `X-CSRF-Token` request header whose value matches
        the `__Host-csrf` cookie issued alongside the session cookie.
        Mismatched / missing token → `403 csrf_required`. Bearer-token
        clients (see `bearerToken`) are immune to CSRF and bypass the
        header check.

    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: |
        Scoped server-issued token (NOT a JWT). Index into the
        `api_tokens` table; revocation is immediate. Used by the CLI
        and any programmatic caller.

    githubOIDC:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: |
        GitHub Actions OIDC token for runner authentication. Verified
        by the backend against GitHub's JWKS per request; no server-
        side state. Required by `POST /v0/runs/{run_id}/signing-key`.

  # -------------------------------------------------------------------------
  # Shared schemas. Detailed property schemas grow as endpoints are
  # implemented — what's frozen here is the envelope shape and the
  # canonical types every endpoint returns.
  # -------------------------------------------------------------------------
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: |
                Stable, machine-readable code. Snake-case identifier;
                clients switch on this. New codes are additive; codes
                are never repurposed.
              example: run_not_found
            message:
              type: string
              description: |
                Human-readable description. May change between
                versions; clients should not parse it.
              example: "No run with id 11111111-…"
            details:
              type: object
              additionalProperties: true
              description: |
                Optional code-specific structured fields. The keys
                under `details` are part of the contract for that
                specific code.
      examples:
        - error:
            code: run_not_found
            message: No run with id 11111111-2222-3333-4444-555555555555

    WorkItemRequest:
      type: object
      required: [repo, type, summary]
      description: |
        Provider-neutral work-item filing (#1005). The conventions layer
        turns this into a filed item; only `repo`, `type`, and `summary`
        are required. Unknown properties are rejected.
      additionalProperties: false
      properties:
        repo:
          type: string
          description: Target repository in `owner/name` form.
          example: kuhlman-labs/fishhawk
        type:
          type: string
          description: Work-item type; must be a key in the repo's conventions (e.g. feature, bug, chore, adr).
          example: feature
        summary:
          type: string
          description: |
            Mandatory one-liner: fills the `{summary}` title placeholder
            and is the required Summary field.
          example: Add the widget endpoint
        body:
          type: string
          description: Verbatim body. When omitted, the body is assembled from the type's skeleton + `sections`.
        sections:
          type: object
          additionalProperties: { type: string }
          description: >-
            Per-skeleton-section content keyed by section name; used only when
            `body` is empty. Keys MUST match the type's body skeleton exactly —
            an off-skeleton key fails the filing with `422 work_item_invalid`
            (the content is never silently dropped), and the unknown vs expected
            section names are reported in `details.unknown_sections` /
            `details.expected_sections`.
        title_vars:
          type: object
          additionalProperties: { type: string }
          description: >-
            Title placeholders beyond `{summary}`/`{number}` (e.g. `epic`, `n`).
            An unresolved placeholder fails the filing with `422
            work_item_invalid`, listing the still-missing names in
            `details.missing_placeholders`. For a child type whose
            `title_format` is `[E{epic}.{n}]`, the `{epic}` placeholder is
            auto-derived from the `parent_epic` relation (the parent epic
            issue's leading `[E<n>]` title token is read server-side), so you
            need only supply `{n}`. Derivation fails closed: if the parent has
            no parseable `[E<n>]` token, `{epic}` is left unresolved and the 422
            above is returned rather than a wrong title.
        labels:
          type: array
          items: { type: string }
          description: Labels merged on top of the type's `default_labels`.
        complexity:
          type: string
          description: Overrides the type's default complexity; must be a declared level.
          example: low
        status:
          type: string
          description: Overrides the type's default board status.
          example: Backlog
        relations:
          type: object
          additionalProperties: false
          properties:
            parent_epic: { type: string, description: "Epic this item rolls up to (e.g. `#1005`)." }
            supersedes: { type: array, items: { type: string } }
            companion_to: { type: array, items: { type: string } }
            evidence_runs: { type: array, items: { type: string } }
            depends_on:
              type: array
              items: { type: string }
              description: >-
                Issue references (`#N` or `N`) this item depends on, among the
                epic's children. Persisted as a `Depends on: #X, #Y` body
                marker (GitHub has no native depends_on relation) and read by
                the campaign epic-children query to assemble its wave DAG
                (ADR-047). File-time validation is format-only; cycle and
                existence checks are deferred to campaign-assembly time.
        existing_numbers:
          type: array
          items: { type: integer }
          description: >-
            Optional for a numbered type: the numbers already in use, so the next
            sequential number can be allocated. For the GitHub provider these are
            discovered server-side from the tracker when omitted (#1269); supply
            this list only to override/hint that discovery. A genuine discovery
            failure returns 422 `work_item_invalid` with a `discovery_failed`
            detail rather than allocating a wrong number.
        run_id:
          allOf: [ { $ref: '#/components/schemas/UUID' } ]
          description: Optional in-flight run; when set and non-terminal, a `work_item_filed` audit entry is appended to it.

    WorkItemResponse:
      type: object
      required: [type, title, number, url, provider, boarded, audited]
      description: The created item — exactly what landed, so the caller renders the result without a second fetch.
      properties:
        type: { type: string }
        title: { type: string }
        number: { type: integer, description: Created item number (e.g. GitHub issue number). }
        url: { type: string, description: Created item URL. }
        provider: { type: string, description: Provider id that filed the item. }
        applied_labels: { type: array, items: { type: string } }
        complexity: { type: string }
        status: { type: string }
        board_column: { type: string }
        boarded:
          type: boolean
          description: >-
            Whether the created item was placed on the configured project board with its
            status set (#1107). Best-effort: board placement no longer fails the filing — when
            it fails, the item is still created and this is `false` with the cause in
            `boarding_error` (also WARN-logged server-side). `false` with no `boarding_error`
            means no project board was configured (nothing to board).
        epic_linked:
          type: boolean
          description: >-
            Whether the parent epic was linked as a sub-issue (#1107). Best-effort like
            `boarded`: a link failure does not fail the filing — this is `false` with the cause
            in `epic_link_error`. `false` with no `epic_link_error` means no parent epic was
            requested.
        boarding_error:
          type: string
          description: The cause when best-effort board placement failed (#1107); absent on success.
        epic_link_error:
          type: string
          description: The cause when best-effort epic linking failed (#1107); absent on success.
        audited:
          type: boolean
          description: True when a `work_item_filed` audit entry was written (a run was in flight).

    Pagination:
      type: object
      description: |
        Cursor-based pagination envelope wrapped around list endpoints.
        `next_cursor` is null when the caller has reached the end. The
        cursor is opaque; clients pass it back unmodified.
      required: [items]
      properties:
        items:
          type: array
          items: {}
        next_cursor:
          type: [string, "null"]

    UUID:
      type: string
      format: uuid

    ScopeAmendment:
      type: object
      description: |
        One mid-stage scope amendment request (E22.X / #961): the
        implement agent's ask to fold specific file paths into the
        stage's effective `scope.files` while the stage is running,
        plus the operator's decision once made. Approved paths fold
        into the prompt-fetch scope AND the runner's pre-commit scope
        refresh, so the verified-tree gates verify the same folded
        tree that is pushed (#960). Denied/pending paths confer
        nothing; any undeclared created file still fails category-B
        (#818/#825).
      required: [id, run_id, stage_id, paths, reason, status, requested_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        run_id: { $ref: '#/components/schemas/UUID' }
        stage_id:
          allOf: [{ $ref: '#/components/schemas/UUID' }]
          description: The executing implement stage the request hangs off.
        paths:
          type: array
          minItems: 1
          items:
            type: object
            required: [path, operation]
            properties:
              path:
                type: string
                description: |
                  Repo-relative path. Absolute paths and `..` segments
                  are rejected (400 `validation_failed`).
              operation:
                type: string
                enum: [modify, create]
        reason:
          type: string
          description: The agent's rationale for needing the paths.
        status:
          type: string
          enum: [pending, approved, denied]
        decision_reason:
          type: string
          description: Operator note; delivered to the agent verbatim on deny.
        decided_by:
          type: string
          description: Operator subject (never a run-bound token).
        requested_at:
          type: string
          format: date-time
        decided_at:
          type: string
          format: date-time
        effective_scope_files_after_approval:
          type: integer
          description: |
            Scope-cap headroom (#983), warn-only: the run's effective
            scope file count (plan `scope.files` ∪ approve-time
            `add_scope_files` ∪ approved amendments ∪ this
            amendment's paths, deduped by exact path) if this
            amendment is approved. Compare against
            `max_files_changed` — exceeding it means the
            post-implement gate may fail category-B as scoped, but
            the approve still succeeds (mid-stage amendments are
            often forced). Present on request/decision responses and
            on PENDING items in the list; absent when no cap is
            configured or the computation failed open.
        max_files_changed:
          type: integer
          description: |
            The implement stage's resolved `max_files_changed` cap
            (#983). Absent when no cap is configured or the
            computation failed open.

    Run:
      type: object
      description: |
        A workflow run record. State follows the explicit transition
        table in `backend/internal/run/transition.go`.
      required:
        [id, repo, workflow_id, workflow_sha, trigger_source, state,
         retry_attempt, max_retries_snapshot, runner_kind,
         runner_kind_resolved, drive, cost_usd_total, resolved_model,
         created_at, updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        repo:
          type: string
          example: kuhlman-labs/fishhawk
        workflow_id:
          type: string
          example: feature_change
          description: Matches a top-level key in `.fishhawk/workflows.yaml`.
        workflow_sha:
          type: string
          description: Git SHA of `.fishhawk/workflows.yaml` at run time.
        trigger_source:
          type: string
          enum: [github_issue, cli, ui]
        trigger_ref:
          type: [string, "null"]
          example: "issue:1247"
        state:
          type: string
          enum: [pending, running, succeeded, failed, cancelled]
        parent_run_id:
          type: [string, "null"]
          format: uuid
          description: |
            Set by the dispatcher when a non-terminal run already
            existed for the same `(repo, trigger_ref)` at create
            time (#216). Lets the SPA render "follow-up to
            <short-id>" + a thread of related runs.
        decomposed_from:
          type: [string, "null"]
          format: uuid
          description: |
            Set when the orchestrator minted this run as a child of
            a decomposed parent plan (#455 / ADR-025 D4). Disambiguates
            "decomposition child" from `parent_run_id`'s CI-retry-chain
            semantic — both can be non-nil on a child whose CI failed
            and re-dispatched. SPA breadcrumb: "decomposed sub-plan of
            <parent short id>".
        upstream_run_id:
          type: [string, "null"]
          format: uuid
          description: |
            The upstream `feature_change` run whose `ci_green` /
            `review_merged` a standalone deploy-only `release` run's
            `required_upstream` pre-flight gate evaluates (E23.11 /
            #1417). A deploy-only run has no implement/review stage of
            its own, so the gate evaluates the referenced upstream
            instead; null (the appended-deploy / non-deploy default)
            leaves the gate evaluating the current run. DISTINCT from
            `parent_run_id` (#216): a deploy-gate safety reference, NOT
            a follow-up/lineage link — it carries none of the
            get_plan-resolution / resume-retry / decomposition
            provenance semantics `parent_run_id` does.
        pull_request_url:
          type: [string, "null"]
          description: |
            Set when the implement stage produces a `pull_request`
            artifact (#216). Denormalized so the threaded-runs view
            can group every run on a PR with a single equality
            filter on `GET /v0/runs?pull_request_url=…`.
          example: https://github.com/kuhlman-labs/fishhawk/pull/123
        retry_attempt:
          type: integer
          minimum: 0
          description: |
            Position in the CI-failure auto-retry chain (#279 /
            E16). 0 for the canonical first attempt; N for the Nth
            retry. Capped by `max_retries_snapshot` — the
            dispatcher refuses to create a new child when
            `retry_attempt >= max_retries_snapshot` and emits a
            `ci_retry_exhausted` audit row.
          example: 0
        max_retries_snapshot:
          type: integer
          minimum: 0
          description: |
            The workflow's `on_ci_failure.max_retries` cap at
            run-create time (#280 / E16). Snapshotted alongside
            `required_checks_snapshot` so a spec edit during a
            long-running auto-retry chain doesn't shift the
            goalposts on what the SPA renders. Defaults to 1 when
            the workflow has no `on_ci_failure:` block.
          example: 1
        runner_kind:
          type: string
          enum: [github_actions, local]
          description: |
            Execution backend the run uses (ADR-022 / #388). Today's
            published runner (`fishhawk/runner@v1`) on GitHub Actions
            is `github_actions`; the operator-local dev-loop runner
            (Phase C of E22 / #389) is `local`. The backend assigns
            this at run-create time based on the dispatch path; the
            runner never self-declares. Compliance consumers can
            filter to `github_actions` to reproduce the
            pre-pluggable-backends view via
            `GET /v0/runs?runner_kind=github_actions`.
          example: github_actions
        runner_kind_resolved:
          type: boolean
          description: |
            Whether `runner_kind` has been LOCKED by the run's first
            signed runner self-report (#1346 / #1348). `false` for the
            un-resolved create-time hint and for legacy rows; `true`
            once the first dispatch's signed self-report fixed the
            execution channel. The host-dispatch mismatch guardrail
            (#1355) reads this so it engages only against an
            already-resolved conflicting kind — an un-resolved run is
            always allowed to dispatch so first-dispatch auto-resolve
            still fires.
          example: false
        drive:
          type: boolean
          description: |
            Drive-mode opt-in (#1023 / #996 theme 1): when true,
            fishhawkd auto-advances the run's mechanical transitions
            and records a `run_auto_advanced` audit entry per advance;
            judgment points (gate approvals, concern routing, merge)
            always park. Resolved at run-create time — the workflow
            spec's `drive` default overridden by the request's `drive`
            field — and snapshotted on the row so a spec edit mid-run
            doesn't change an in-flight run's behavior. `false` for
            legacy rows (migration 0031). The recorded transitions
            surface on `GET /v0/runs/{run_id}` as `auto_advanced` +
            `next_action` + `derived_status`.
          example: false
        issue_context:
          $ref: '#/components/schemas/IssueContext'
          description: |
            Cached payload from the operator's `gh issue view`
            (#415). Populated for issue-triggered runs minted
            outside the webhook flow (CLI / MCP) so the prompt
            builder reads the title + body from the row instead
            of refetching from GitHub. Null on webhook-dispatched
            runs (which fetch fresh from GitHub at prompt-build
            time) and on non-issue triggers.
        cost_usd_total:
          type: number
          format: double
          minimum: 0
          description: |
            Rolled estimated US-dollar cost of the run's model usage
            (#649), accumulated from each stage bundle's signed manifest
            token counts via the shared pricing table. Recorded once per
            stage bundle (the raw trace variant only — see #678). 0 for
            legacy rows that predate the rollup.
          example: 2.99
        resolved_model:
          type: string
          description: |
            Pinned agent model id the run executed under (#649), stamped
            from the trace manifest at cost-rollup time. Empty string for
            legacy/unstamped runs.
          example: claude-opus-4-8
        concerns:
          $ref: '#/components/schemas/RunConcerns'
          description: |
            Summary of the run's OPEN review concerns (#964): count,
            per-state breakdown, and the stable concern IDs the fix-up
            endpoint's `concern_ids` addressing consumes. Emitted by
            `GET /v0/runs/{run_id}` ONLY — the list endpoint omits it
            (no per-row concern query) — and omitted when the run has
            no open concerns.
        derived_status:
          type: string
          enum: [awaiting_merge, ci_failed]
          description: |
            Presentation-only drive-mode status (#1023):
            `awaiting_merge` while a non-terminal drive run with an
            open PR has `checks_green_awaiting_merge` as its latest
            recorded auto-advance — every gate resolved, required
            checks green, merge (a judgment point) parked for the
            operator. `ci_failed` is its negative mirror (#1045): a
            non-terminal drive run with an open PR whose latest
            auto-advance is `ci_failed` — the review evidence settled
            but a required PR check concluded red, parking the run for
            operator classification (fix-up, an operator commit +
            vouch, or a checks re-run). Never a persisted run state:
            `state` stays `running` while parked here, and the
            transition table in `backend/internal/run/transition.go` is
            unchanged. Emitted by `GET /v0/runs/{run_id}` ONLY
            (distilled from `run_auto_advanced` audit entries, same
            single-read posture as `concerns`); omitted on non-drive
            runs, terminal runs, and whenever a later transition
            superseded the parked status.
        next_action:
          $ref: '#/components/schemas/RunNextAction'
          description: |
            Distilled operator next step (#1023) from the run's most
            recent `run_auto_advanced` audit entry — what (if
            anything) the drive run is waiting on the operator for.
            Emitted by `GET /v0/runs/{run_id}` ONLY; omitted on
            non-drive runs, terminal runs (the recorded step is
            history, not an instruction), and when the latest
            auto-advance carries no next action.
        auto_advanced:
          type: array
          items:
            $ref: '#/components/schemas/RunAutoAdvance'
          description: |
            The run's auto-advanced (or parked-with-next-action)
            transitions (#1023), distilled oldest-first from its
            `run_auto_advanced` audit entries so the operator sees
            which transitions advanced themselves. Emitted by
            `GET /v0/runs/{run_id}` ONLY — the list endpoint omits it
            (no per-row audit query) — and omitted when no drive
            transitions were recorded.
        delegation:
          $ref: '#/components/schemas/RunDelegation'
          description: |
            Evaluated `operator_agent` delegation surface (ADR-040 /
            #1026): one entry per configured `may_*` knob with whether
            current run state satisfies its named condition, plus the
            effective block's `must_page_human` list — so the operator
            agent reads its envelope from the server instead of
            re-deriving conditions client-side. Emitted by
            `GET /v0/runs/{run_id}` ONLY (no per-row evaluation on the
            list endpoint); omitted entirely when the run's workflow
            spec resolves no effective `operator_agent` block
            (fail-closed: nothing is delegated), on terminal runs, on
            legacy rows with no cached spec, and best-effort on any
            evaluation failure. Advisory on this read — the delegated
            action endpoints re-evaluate the condition server-side at
            action time and never trust a client-supplied verdict.
        lineage_complete:
          type: boolean
          description: |
            Lineage-completion signal (E22.X / #1137): true when the
            lineage-root run (a decomposed child's parent, else the run
            itself) is terminal AND every decomposed child of that root is
            terminal, derived from the existing `decomposed_from` child
            graph. The operator-local runner's per-run worktree sweep
            reads it to reclaim a terminal lineage's shared git worktree
            (keyed on the lineage root) at the next provision. Emitted by
            `GET /v0/runs/{run_id}` ONLY (a per-run child-graph query, same
            single-read posture as `concerns`); omitted on the list
            endpoint and whenever the graph can't be read (no run repo /
            read failure).
        fixup_model:
          $ref: '#/components/schemas/RunFixupModel'
          description: |
            The model the run's most-recent fix-up pass ran under (#1164),
            distilled from the newest `stage_fixup_triggered` audit entry's
            pinned model. Emitted by `GET /v0/runs/{run_id}` ONLY (a single
            audit read, same single-read posture as `concerns`); omitted on
            the list endpoint and when the run has had no fix-up (or the pin
            predates #1164).
        security_findings:
          type: array
          items:
            $ref: '#/components/schemas/SecurityFinding'
          description: |
            The run's unresolved high-severity code-scanning (CodeQL/SAST)
            findings on the implement diff (#1096), distilled from the newest
            `implement_security_findings` audit entry (the webhook ingest
            records ONE idempotent entry per scan, floored on the latest
            fix-up, so the newest entry reflects the current scan state). A
            SEPARATE signal from `concerns`: a finding here is held by its own
            merge gate (`security_findings_unresolved`) and routed to its own
            fix-up pass, never consuming a design-concern budget. Emitted by
            `GET /v0/runs/{run_id}` ONLY (a single audit read, same single-read
            posture as `concerns`); omitted on the list endpoint and when the
            run has no findings (no scan yet, a clean scan, or a clean re-scan
            after a fix-up cleared them).
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RunFixupModel:
      type: object
      description: |
        The model a fix-up pass ran under (#1164): the source-tagged model
        plus the 1-based pass ordinal it was pinned on. Surfaced on
        `GET /v0/runs/{run_id}` only.
      required: [model, source, pass_ordinal]
      properties:
        model:
          type: string
          description: |
            The resolved fix-up model id. Empty string when the pass ran on
            the adapter's built-in default spawn (the empty-ladder pin).
        source:
          type: string
          description: |
            Which rung supplied the model: `operator` for an `implement_model`
            override, else the inherited source (`default` / `spec` / `plan`),
            or empty for the default spawn.
        pass_ordinal:
          type: integer
          minimum: 1
          description: The 1-based fix-up pass ordinal this model was pinned on.

    SecurityFinding:
      type: object
      description: |
        One high-severity GitHub code-scanning (CodeQL/SAST) finding on the
        implement diff (#1096): the subset a reviewer/operator needs to locate
        and open the alert. Surfaced on `GET /v0/runs/{run_id}` only.
      required: [number, rule_id, severity, path]
      properties:
        number:
          type: integer
          description: The alert's per-repo identifier.
        rule_id:
          type: string
          description: The analysis rule that fired (e.g. `go/sql-injection`).
        description:
          type: string
          description: Human-facing rule description.
        severity:
          type: string
          description: |
            Normalized security-severity level — `critical` or `high` (the
            gating levels; medium/low/none never surface here).
        state:
          type: string
          description: 'Alert state: `open`, `fixed`, or `dismissed`.'
        path:
          type: string
          description: Repo-relative file the finding's most-recent instance points at.
        start_line:
          type: integer
          description: 1-based line of the finding; omitted/0 when GitHub omits a location.
        html_url:
          type: string
          description: Link to the alert on GitHub.

    RunConcerns:
      type: object
      description: |
        A run's OPEN review concerns (#964) — states `raised`,
        `addressed_pending`, `reopened`. Every `plan_reviewed` /
        `implement_reviewed` verdict's concerns are persisted with
        server-minted stable UUIDs; this block surfaces what is still
        unresolved plus the IDs fix-up routing needs, in one read. Note
        text is intentionally elided (bounded payload) — read the
        originating `*_reviewed` audit entry for the full note.
      required: [open, by_state, items]
      properties:
        open:
          type: integer
          minimum: 0
          description: Number of open concerns on the run.
        by_state:
          type: object
          additionalProperties:
            type: integer
          description: Open-concern count per lifecycle state.
          example: { raised: 2, addressed_pending: 1 }
        items:
          type: array
          items:
            $ref: '#/components/schemas/RunConcernItem'

    RunConcernItem:
      type: object
      description: One open review concern.
      required: [id, stage_kind, severity, category, state, has_suggested_patch]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: |
            Stable server-minted concern ID — the primary addressing
            scheme for the fix-up endpoint's `concern_ids` (positional
            indices are deprecated).
        stage_kind:
          type: string
          enum: [plan, implement]
          description: |
            Stage the concern originated from. Only implement-stage
            concerns can be routed into an implement fix-up.
        severity:
          type: string
          description: |
            Reviewer-emitted severity, stored verbatim (tolerant
            decode — typically high/medium/low).
        category:
          type: string
          example: scope
        state:
          type: string
          description: |
            Lifecycle state. Open states are raised, addressed_pending,
            reopened; the full enum adds addressed, waived, superseded
            (closed states never appear in this block). `waived` is
            operator-reachable via `POST /v0/concerns/{concern_id}/waive`
            (#984); `addressed`/`reopened`/`superseded` are reached by
            reviewer `concern_resolutions` on a re-review.
        has_suggested_patch:
          type: boolean
          description: |
            Whether the reviewer attached a mechanical `suggested_patch`
            (a unified diff) to this concern (#1165). Only the boolean is
            surfaced — the diff text stays elided like the note. A routed
            fix-up whose concerns all carry a patch can be resolved by the
            near-deterministic apply path instead of a full agent loop.

    RunNextAction:
      type: object
      description: |
        The distilled operator next step on a drive run (#1023),
        recorded by the drive engine alongside an auto-advance or a
        park. Mirrors the `next_action` payload inside
        `run_auto_advanced` audit entries.
      required: [action]
      properties:
        action:
          type: string
          description: |
            Machine-readable next step. Current values:
            `run_implement_stage` (runner_kind `local` — dispatch the
            implement stage from the operator host), `run_plan_stage`
            (runner_kind `local` after a plan-gate revise re-opened the
            plan stage — re-dispatch it from the operator host, #1256),
            and `merge_pr` (all gates resolved, required checks green).
            `run_implement_stage` / `run_plan_stage` are now ALSO produced
            by the `retry_stage` and `resume_run`/`recover` re-open paths
            on a `local` run (#1271), not only by plan-approve and revise;
            no new action value is introduced.
          example: merge_pr
        detail:
          type: string
          description: One-line elaboration of the action.
        pr_url:
          type: string
          description: The pull request the action refers to, when relevant.
          example: https://github.com/kuhlman-labs/fishhawk/pull/123

    RunAutoAdvance:
      type: object
      description: |
        One drive-engine transition (#1023), distilled from a
        `run_auto_advanced` audit entry: the named rule that fired and
        the from/to edge it stamps. Rule names are a closed set
        (`backend/internal/drive`): `plan_approved_dispatch`,
        `revise_replan` (a plan-gate revise re-opened the plan stage,
        #1256), `retry_reopen` (a failed stage was retried back into
        pending and re-dispatched, #1271), `recover_redispatch` (a failed
        decomposition child was re-driven in place, #1271),
        `reviews_settled_gate`, `fixup_rereview_repark`,
        `checks_green_awaiting_merge`, `ci_failed` (the negative mirror
        of `checks_green_awaiting_merge`: a required PR check concluded
        red).
      required: [rule, from, to, ts]
      properties:
        rule:
          type: string
          description: The named drive rule that fired.
          example: plan_approved_dispatch
        from:
          type: string
          description: The transition's from edge.
          example: "plan:approved"
        to:
          type: string
          description: The transition's to edge.
          example: "implement:dispatched"
        parked:
          type: boolean
          description: |
            True when the mechanical rule could not be
            backend-executed (the runner_kind `local` dispatch — the
            runner is host-spawned per ADR-024) and the entry records
            a park-with-next-action instead of an executed advance.
            Absent/false for executed advances.
        ts:
          type: string
          format: date-time
          description: When the transition was recorded.

    RunDelegation:
      type: object
      description: |
        The run's evaluated `operator_agent` delegation envelope
        (ADR-040 / #1026). The effective block resolves per the spec's
        precedence — the pending approval gate's block when one is
        declared, else the workflow-level block, never merged — and
        each configured knob is evaluated against current run state by
        `backend/internal/delegation`.
      required: [actions]
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RunDelegationAction'
          description: |
            One entry per configured `may_*` knob, in knob order
            (approve, route_fixup, waive, retry, merge). Knobs the
            block leaves unset are absent — fail-closed, those actions
            are not delegated.
        must_page_human:
          type: array
          items:
            type: string
          description: |
            The effective block's `must_page_human` event list —
            events that always page the human regardless of the
            `may_*` knobs (closed set per the workflow-v0 schema, e.g.
            `reviewer_reject`, `gating_reviewer_reject`,
            `advisory_reviewer_reject`, `plan_rejection`). The explicit
            reviewer-reject classes (workflow-v0.7+, #1378) make the
            taxonomy self-documenting; the legacy bare `reviewer_reject`
            resolves to the gating sense.
          example: [reviewer_reject, budget_override]
        reviewer_reject_class:
          type: string
          enum: [gating_reviewer_reject, advisory_reviewer_reject]
          description: |
            The reviewer-reject page-event class the run currently
            resolves to (#1378), from the implement stage's ADR-027
            review authority: `gating_reviewer_reject` (agent-only
            review — a reject pages the human) or
            `advisory_reviewer_reject` (agent + human — a reject is
            arbitrable / auto-routed). Omitted when the implement stage
            is gateless (no agent reviewers). This only makes the
            authority-resolved class legible; it does not change the
            page/auto decision.
          example: gating_reviewer_reject
        model_policy:
          $ref: '#/components/schemas/RunDelegationModelPolicy'

    RunDelegationModelPolicy:
      type: object
      description: |
        The effective `operator_agent` block's scenario-A
        model-selection contract (#1421), passed through as static
        config for the operator agent to read and apply via the existing
        per-stage model override channels (#1416), bounded by — never
        widening — the deployment per-adapter allow-list. Declarative
        only: no backend resolution code reads it. Omitted entirely when
        the effective block declares no `model_policy`, keeping
        unconfigured responses byte-identical. Inherited under the same
        wholesale-override semantics as the `may_*` knobs (a gate-level
        block replaces the workflow-level one; never merged).
      properties:
        strategy:
          type: string
          enum: [follow_plan_recommendation, explicit_defaults]
          description: |
            How the operator agent picks each stage's model.
            `follow_plan_recommendation` follows the plan artifact's
            per-stage recommendation; `explicit_defaults` applies the
            `defaults` map, falling back to the deployment default for
            any unset stage.
          example: explicit_defaults
        defaults:
          type: object
          description: |
            Per-stage model applied under the `explicit_defaults`
            strategy. Each field optional; an unset stage falls back to
            the deployment default.
          properties:
            plan:
              type: string
            implement:
              type: string
            review:
              type: string
        allowed:
          type: array
          items:
            type: string
          description: |
            The models the operator agent may select. Composes with —
            never widens — the deployment per-adapter allow-list.
          example: [claude-opus-4-8, claude-sonnet-4-6, gpt-5.5]

    RunDelegationAction:
      type: object
      description: One delegation knob's evaluation.
      required: [action, condition, met]
      properties:
        action:
          type: string
          enum: [approve, route_fixup, waive, retry, merge]
          description: The delegable operator verb the knob governs.
        condition:
          type: string
          enum:
            - clean_dual_approval
            - convergent_concerns
            - solo_low
            - infra_flake
            - gates_resolved_ci_green
          description: |
            The named backend-evaluable condition the knob delegates
            under (one per knob in v0, closed set per the workflow-v0
            schema).
        met:
          type: boolean
          description: |
            Whether current run state satisfies the condition. `met:
            true` here is advisory — the delegated action endpoints
            re-evaluate server-side at action time.
        unmet_reason:
          type: string
          description: |
            The exact failed predicate when `met` is false, prefixed
            with the condition name. Omitted when met.
          example: "clean_dual_approval: 1 of 2 reviewer verdicts received"

    Campaign:
      type: object
      description: |
        A campaign: the parent record of an epic-driven multi-issue run
        (ADR-047 / #1437). It owns an ordered set of campaign items, one per
        issue under the epic. State is a reduction of its items' states (see
        `backend/internal/campaign/transition.go`).
      required: [id, repo, epic_ref, state, pause_policy, created_at, updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        repo:
          type: string
          example: kuhlman-labs/fishhawk
        epic_ref:
          type: string
          description: The epic the campaign decomposes, in `issue:N` form.
          example: "issue:1439"
        state:
          type: string
          enum: [pending, running, paused, succeeded, failed, cancelled]
          description: |
            `paused` is the E25.7 safety-boundary overlay: the auto-driver
            paused the campaign when a run gate was handed off to a human.
            It is non-terminal — `POST /resume` returns it to `running`.
        pause_policy:
          type: string
          enum: [pause_campaign, pause_item]
          description: |
            What the auto-driver pauses on a gate hand-off (E25.7).
            `pause_campaign` (the default) blocks the whole campaign;
            `pause_item` pauses only the affected item (continue-others).
            Always present and normalized on a persisted campaign.
        operator_agent:
          type: object
          additionalProperties: true
          description: |
            OPTIONAL campaign-level `operator_agent` delegation override
            (E25.12). The same block shape the workflow spec carries
            (`may_approve`, `may_route_fixup`, `may_waive`, `may_retry`,
            `may_merge`, `must_page_human`, `model_policy`). When present it
            wins WHOLESALE as the outermost rung of the resolution ladder —
            campaign > gate > workflow, never merged — so it is each
            issue-run's effective delegation contract. Omitted when the
            campaign carries no override: every issue-run then inherits its
            workflow's contract, byte-identical to pre-E25.12 behavior.
        idempotent:
          type: boolean
          description: |
            Present and `true` ONLY on an idempotent-replay response (E25.13):
            a `POST /v0/campaigns` whose `Idempotency-Key` resolved to an
            existing campaign, returned `200` instead of `201`. Omitted on a
            fresh create (201) and on GET/list/status, so those are
            byte-identical to pre-E25.13 output.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CampaignItem:
      type: object
      description: |
        One issue within a campaign. `depends_on` holds the sibling issue
        refs this item waits on (the campaign DAG edges); `run_id` is the
        nullable link to the run executing the item, absent until a run is
        assigned.
      required: [id, issue_ref, depends_on, state, created_at, updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        issue_ref:
          type: string
          example: "issue:1441"
        depends_on:
          type: array
          items: { type: string }
          description: Sibling issue refs this item depends on (possibly empty).
        run_id:
          $ref: '#/components/schemas/UUID'
          description: |
            The run executing this item. Omitted while the item is unlinked
            (the pre-dispatch default).
        state:
          type: string
          enum: [pending, blocked, running, paused, succeeded, failed, cancelled]
          description: |
            `paused` (E25.7) means the auto-driver handed this item's gate off
            to a human; it carries a `pause_reason` and re-engages on resume.
        pause_reason:
          type: object
          description: |
            Why a paused item was handed off to a human (E25.7). Present only
            while the item is — or was — paused.
          properties:
            page_event:
              type: string
              description: The audit category that triggered the page (e.g. `campaign_gate_paged`).
            run_id:
              $ref: '#/components/schemas/UUID'
              description: The run whose gate was handed off.
            stage_id:
              $ref: '#/components/schemas/UUID'
              description: The gate's stage, if any.
            gate:
              type: string
              description: The gate/decision the human must own.
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CampaignRollup:
      type: object
      description: |
        The engine's readiness partition over a campaign's items
        (`campaign.NextEligible`). Every slice holds issue refs; an item
        appears in exactly one slice. Each field is always an array (never
        null).
      required: [eligible, blocked, running, done, failed, cancelled, paused]
      properties:
        eligible:
          type: array
          items: { type: string }
          description: No run yet and every dependency succeeded — ready to dispatch.
        blocked:
          type: array
          items: { type: string }
          description: No run yet, but at least one dependency is not yet done.
        running:
          type: array
          items: { type: string }
          description: Linked to a run that has not reached a terminal item state.
        done:
          type: array
          items: { type: string }
        failed:
          type: array
          items: { type: string }
        cancelled:
          type: array
          items: { type: string }
        paused:
          type: array
          items: { type: string }
          description: Handed off to a human by the auto-driver (E25.7); resumes on `POST /resume`.

    CampaignNextAction:
      type: object
      description: |
        The single next step for the operator-agent, distilled from the
        rollup partition. PRECEDENCE is FAILED-wins and strict: a failed item
        yields `attention` REGARDLESS of whether eligible items also exist;
        only with zero failed items does an eligible item yield `start_run`.
      required: [action]
      properties:
        action:
          type: string
          enum: [attention, resume, start_run, wait, complete]
          description: |
            `attention` — a failed item needs operator intervention
            (retry/abandon); takes precedence over everything else.
            `resume` — a paused item was handed off to a human at a run gate
            (E25.7); handle the gate then `POST /resume`. Ranked above
            `start_run` so a hand-off is surfaced before new dispatch.
            `start_run` — the next eligible item is ready to dispatch.
            `wait` — items are running or blocked; nothing to do yet.
            `complete` — every item reached a terminal state.
        issue_ref:
          type: string
          description: |
            The item the action refers to — the first failed item for
            `attention`, the first paused item for `resume`, the first eligible
            item for `start_run`. Omitted for `wait` / `complete`.
        detail:
          type: string
          description: Human-readable explanation of the action.

    CampaignStatus:
      type: object
      description: |
        The campaign rollup surface: the campaign, its items, the engine's
        readiness partition, and the distilled next action. This is the
        surface the operator-agent polls to drive a campaign.
      required: [campaign, items, rollup, next_action]
      properties:
        campaign: { $ref: '#/components/schemas/Campaign' }
        items:
          type: array
          items: { $ref: '#/components/schemas/CampaignItem' }
        rollup: { $ref: '#/components/schemas/CampaignRollup' }
        next_action: { $ref: '#/components/schemas/CampaignNextAction' }

    StartCampaignItemRunRequest:
      type: object
      description: |
        The POST /v0/campaigns/{campaign_id}/runs body (E26.2 / #1481): start a
        run for one eligible campaign item. There is deliberately NO
        idempotency_key — the backend does not dedup this create-link-transition
        sequence, and the DAG eligibility gate already refuses a re-start
        against an already-running item.
      required: [issue_ref, workflow_id]
      properties:
        issue_ref:
          type: string
          description: The campaign item's issue ref to start (must be a campaign item and currently eligible per the DAG).
        workflow_id:
          type: string
          description: The workflow id to run for this issue (e.g. `feature_change`).
        workflow_ref:
          type: string
          description: OPTIONAL git ref to fetch the workflow spec at; omit for the repo's default branch.
        runner_kind:
          type: string
          enum: [github_actions, local]
          description: OPTIONAL execution backend; defaults to `github_actions`. Pass `local` for the local dogfood loop.

    StartCampaignItemRunResult:
      type: object
      description: |
        The 201 body of POST /v0/campaigns/{campaign_id}/runs: the minted run
        plus the linked campaign item (now `running`, with `run_id` set).
      required: [run, item]
      properties:
        run: { $ref: '#/components/schemas/Run' }
        item: { $ref: '#/components/schemas/CampaignItem' }

    WaivedConcern:
      type: object
      description: |
        The updated concern row returned by
        `POST /v0/concerns/{concern_id}/waive` (#984): the full concern
        including the note text and the operator's waive reason as
        `state_reason`.
      required: [id, run_id, stage_id, stage_kind, severity, category, note, state, state_reason]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        run_id:
          $ref: '#/components/schemas/UUID'
        stage_id:
          $ref: '#/components/schemas/UUID'
        stage_kind:
          type: string
          enum: [plan, implement]
        severity:
          type: string
        category:
          type: string
        note:
          type: string
          description: The reviewer's original concern note.
        state:
          type: string
          description: Always `waived` on a successful waive.
        state_reason:
          type: string
          description: The operator's audited waive reason.

    DeferredConcernResult:
      type: object
      description: |
        The result returned by `POST /v0/concerns/{concern_id}/defer`
        (#1202): the filed follow-up work `issue` plus the now-deferred
        `concern` row.
      required: [concern, issue]
      properties:
        concern:
          type: object
          description: |
            The updated concern row, now in the terminal `deferred`
            state with `state_reason` naming the filed follow-up issue.
          required: [id, run_id, stage_id, stage_kind, severity, category, note, state, state_reason]
          properties:
            id:
              $ref: '#/components/schemas/UUID'
            run_id:
              $ref: '#/components/schemas/UUID'
            stage_id:
              $ref: '#/components/schemas/UUID'
            stage_kind:
              type: string
              enum: [plan, implement]
            severity:
              type: string
            category:
              type: string
            note:
              type: string
              description: The reviewer's original concern note.
            state:
              type: string
              description: Always `deferred` on a successful defer.
            state_reason:
              type: string
              description: |
                The audited reason, of the form
                `deferred to #<n>: <note>`, naming the filed issue.
        issue:
          type: object
          description: The filed follow-up work item.
          required: [type, title, number, url, provider]
          properties:
            type:
              type: string
              description: The work-item type (bug for a defect category, else chore).
            title:
              type: string
            number:
              type: integer
            url:
              type: string
              format: uri
            provider:
              type: string
            applied_labels:
              type: array
              items: { type: string }

    IssueContext:
      type: object
      description: |
        Cached GitHub issue payload — title, body, url, number, and
        comments — fetched by the operator's `gh issue view` at
        run-create time so the backend's prompt builder doesn't
        need an installation_id to look up the issue (#415). The
        optional `comments` array carries the issue's comments so the
        plan agent sees refinements/decisions posted as comments, not
        just the title+body snapshot (#618).
      required: [title, body, url, number]
      properties:
        title:
          type: string
        body:
          type: string
        url:
          type: string
          format: uri
        number:
          type: integer
          minimum: 1
        comments:
          type: array
          description: |
            Issue comments captured at run-create time, oldest first.
            Optional and additive — runs whose issue_context predates
            #618 omit the field.
          items:
            type: object
            required: [author, body, created_at]
            properties:
              author:
                type: string
                description: Commenter's GitHub login.
              body:
                type: string
              created_at:
                type: string
                format: date-time

    Stage:
      type: object
      required:
        [id, run_id, sequence, type, executor, state, created_at,
         updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        run_id: { $ref: '#/components/schemas/UUID' }
        sequence:
          type: integer
          minimum: 0
        type:
          type: string
          enum: [plan, implement, review, deploy]
        executor:
          type: object
          description: Exactly one of agent or human.
          properties:
            kind:
              type: string
              enum: [agent, human]
            ref:
              type: string
              example: claude-code
        state:
          type: string
          enum:
            [pending, dispatched, running, awaiting_approval, succeeded,
             failed, cancelled]
        started_at:
          type: [string, "null"]
          format: date-time
        ended_at:
          type: [string, "null"]
          format: date-time
        failure_category:
          type: [string, "null"]
          enum: [A, B, C, D, null]
          description: |
            Set on failed transitions per MVP_SPEC §6.
            A: agent failure, B: constraint/policy, C: infrastructure,
            D: approval timeout.
        failure_reason:
          type: [string, "null"]
        gate:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/StageGate'
          description: |
            The persisted shape of the stage's workflow-spec gate.
            Null/omitted when the stage has no gate. Per migration
            0014 / #213 — the review-stage UI reads this to decide
            whether to surface the approval panel. Pre-#254 the
            shape carried a `blocking_checks` array; v0.2 dropped
            that field (ADR-017 / #249) — required CI checks now
            live in branch protection, snapshotted onto the run
            row's `required_checks_snapshot` (#251).
        resolved_model:
          type: string
          description: |
            The model id the approval gate resolved for this stage's
            agent spawn (#1416), surfaced from the per-stage
            `model_resolved` audit entry keyed by this stage's id.
            Empty string when no resolution was recorded for the stage
            — the adapter-default spawn, and every stage of a run
            approved before per-stage model selection landed.
          example: claude-opus-4-8
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    StageGate:
      type: object
      description: |
        Workflow-spec gate snapshot stored on the stage row. Mirrors
        spec.Gate — `type` distinguishes approval-vs-check, approvers
        is set only for approval gates. The pre-#254 `blocking_checks`
        array was removed in v0.2 (ADR-017 / #249); required CI
        checks now live in branch protection, exposed via the run's
        `required_checks_snapshot` (#251) and the per-stage
        `/v0/stages/{id}/checks` endpoint.
      required: [type]
      properties:
        type:
          type: string
          enum: [approval, check]
        approvers:
          oneOf:
            - type: "null"
            - type: object
              description: |
                Roles whose members can satisfy the gate. Exactly
                one of any_of / all_of is set when populated.
              properties:
                any_of:
                  type: array
                  items: { type: string }
                all_of:
                  type: array
                  items: { type: string }

    PullRequestArtifactBody:
      type: object
      description: |
        Wire shape the runner POSTs to /v0/runs/{run_id}/pull-request.
        Stored verbatim as the artifact's content; v0 doesn't carry a
        schema_version because the field shape isn't yet schema-stable.

        Has four variants (#742, #771, #794):

        - **Success** (default): `outcome` is absent. The PR fields
          (`pr_number`, `pr_url`, `branch`, `head_sha`, `base_sha`,
          `title`, `files_changed_count`) are required. The handler
          stores the PR artifact, backfills `run.pull_request_url`, and —
          when the implement stage was left in `running` by the trace
          handler's push-and-open-pr gate — drives its terminal
          transition (→ awaiting_approval / succeeded).
        - **Failure** (`outcome: failed`): the runner's commit/push/PR-open
          step failed, so no PR was opened. `category` (`B` re-scope, `C`
          retryable infra) and `reason` are required; the PR fields are
          absent. The handler fails the implement stage instead of
          creating an artifact, so the run never strands at
          review:awaiting_approval with a null PR.
        - **Child push** (`outcome: pushed`, #771): a decomposed child
          committed + pushed onto the shared parent branch but opened no PR
          (the parent run opens one consolidated PR after all children
          settle). `branch`, `head_sha`, and `base_sha` are required;
          `pr_number`/`pr_url`/`title` are absent. The handler drives the
          child stage's terminal transition its push_to_shared_branch trace
          gate left in `running`, without creating a PR artifact — so a child
          whose push failed (reported via `outcome: failed`) never reaches
          terminal succeeded with no code on the shared branch.
        - **Fix-up push** (`outcome: fixup_pushed`, #794): a fix-up
          re-dispatch committed + pushed onto the EXISTING PR branch but
          opened no new PR (the open PR already tracks the branch). `branch`,
          `head_sha`, and `base_sha` are required; `pr_number`/`pr_url`/`title`
          are absent. The handler drives the fix-up stage's terminal transition
          its push_fixup trace gate left in `running`, without creating a PR
          artifact — so a fix-up whose push/compile-gate step failed (reported
          via `outcome: failed`) never reaches terminal succeeded with the
          implement re-review approving an unlanded diff. The optional
          `apply_path` field (#1165/#1213) records whether the fix-up collapsed
          to a deterministic git-apply of the routed concerns' suggested
          patches or fell back to the agent.
      required: [pr_number, pr_url, branch, head_sha, base_sha, title, files_changed_count]
      properties:
        pr_number:
          type: integer
          minimum: 1
          example: 42
        pr_url:
          type: string
          format: uri
          example: https://github.com/kuhlman-labs/fishhawk/pull/42
        branch:
          type: string
          example: fishhawk/run-aaa/stage-bbb
        head_sha:
          type: string
          example: 1111111111111111111111111111111111111111
        base_sha:
          type: string
          example: 2222222222222222222222222222222222222222
        title:
          type: string
          example: "Fishhawk: implement stage 22222222"
        body:
          type: string
          description: Optional PR body (markdown).
        files_changed_count:
          type: integer
          minimum: 0
          example: 3
        outcome:
          type: string
          enum: [failed, pushed, fixup_pushed, fixup_no_changes, scope_park]
          description: |
            Present only on the non-success variants. `failed` (#742)
            reports a commit/push/PR-open failure (PR fields absent;
            `category` + `reason` required). `pushed` (#771) reports a
            decomposed child's successful push onto the shared parent branch
            (no PR opened; `branch` + `head_sha` + `base_sha` required,
            `pr_number`/`pr_url`/`title` absent). `fixup_pushed` (#794) reports
            a fix-up re-dispatch's successful push onto the EXISTING PR branch
            (no new PR; `branch` + `head_sha` + `base_sha` required,
            `pr_number`/`pr_url`/`title` absent). `fixup_no_changes` (#856)
            reports a fix-up re-dispatch that produced NO changes (no new commit
            landed; `branch` + `base_sha` required, `head_sha` omitted because
            the branch tip is unchanged, `pr_number`/`pr_url`/`title` absent).
            `scope_park` (#1231) reports a missing-declared-scope-file-ONLY gate
            outcome: the runner pushed its verified commit to the run branch and
            parks the implement stage in `awaiting_scope_decision` (no PR;
            `branch` + `head_sha` + `base_sha` + `verified_tree_sha` +
            non-empty `missing_paths` required, `pr_number`/`pr_url`/`title`
            absent).
        category:
          type: string
          enum: [B, C]
          description: |
            Failure category for the failure variant (#742). `B` parks the
            run for re-scope/re-plan (invalid PR shape / compile gate);
            `C` is retryable infra (network, git, GitHub API).
        reason:
          type: string
          description: Human-readable failure reason (failure variant only).
        verified_tree_sha:
          type: string
          description: |
            Present only on the `scope_park` variant (#1231). The tree object
            the committed-tree verify gate passed on; recorded so the exempt
            resolution can assert the opened PR head reflects the identical tree.
        missing_paths:
          type: array
          items: { type: string }
          description: |
            Present only on the `scope_park` variant (#1231). The declared
            `scope.files` the agent never touched — the sole gate shortfall that
            triggered the park. Repo-relative; must be non-empty.
        apply_path:
          type: string
          enum: [applied, agent, apply_failed_fellback, apply_failed_reset_failed]
          description: |
            Present only on the `fixup_pushed` variant (#1165/#1213). Records
            whether the near-deterministic fix-up apply path resolved the
            fix-up or it fell back to the agent: `applied` (every routed
            concern's suggested patch git-applied cleanly and the committed-tree
            verify gate passed, no agent), `agent` (no apply-list served / the
            agent re-derived), `apply_failed_fellback` (an apply-list was served
            but the apply or its verify gate failed, the worktree reset cleanly,
            and the agent re-derived), `apply_failed_reset_failed` (an apply
            failed AND the post-failure reset also failed). Persisted onto the
            fixup_pushed audit entry.
        supplemental_scope_exemptions:
          type: array
          items:
            type: object
            required: [path, reason]
            properties:
              path:
                type: string
                description: A declared `scope.files` path left unchanged.
              reason:
                type: string
                description: Why the path correctly needs no change.
          description: |
            Present only on a success ship that followed a base-rebase
            re-invoke (#1218). The re-invoke exemption delta: the scope
            self-exemptions the final scope-completeness gate honored that the
            already-sealed trace bundle's `scope_files_exempted` gate_evidence
            event did NOT carry (the bundle ships at push time, before the
            re-invoke reloads the re-invoked agent's exemptions, under #742
            forward gating). The backend re-emits these as a supplemental
            `scope_files_exempted` audit entry (origin `base_rebase_reinvoke`)
            so the re-invoke exemptions are queryable via the audit endpoint.
            Omitted on the first ship and every non-re-invoke ship.

    PullRequestUploadResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request`. `idempotent`
        is true when the upload matched an existing artifact.
      required: [id, stage_id, content_hash, pr_number, pr_url, head_sha, idempotent]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        content_hash:
          type: string
          description: Hex sha256 of the canonical bytes shipped.
        pr_number: { type: integer }
        pr_url: { type: string, format: uri }
        head_sha: { type: string }
        idempotent: { type: boolean }

    PullRequestFailureResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the failure
        variant (`outcome: failed`, #742): the runner-reported
        commit/push/PR-open failure was recorded and the implement stage
        transitioned to `failed`.
      required: [stage_id, outcome, category]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [failed] }
        category: { type: string, enum: [B, C] }

    PullRequestChildPushResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the child-push
        variant (`outcome: pushed`, #771): a decomposed child pushed onto the
        shared parent branch and the child implement stage transitioned
        terminally. No PR artifact is created.
      required: [stage_id, outcome, branch, head_sha]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [pushed] }
        branch: { type: string }
        head_sha: { type: string }

    PullRequestFixupPushResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the fix-up push
        variant (`outcome: fixup_pushed`, #794): a fix-up re-dispatch pushed
        onto the EXISTING PR branch and the fix-up implement stage transitioned
        terminally. No PR artifact is created.
      required: [stage_id, outcome, branch, head_sha]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [fixup_pushed] }
        branch: { type: string }
        head_sha: { type: string }

    PullRequestFixupNoChangesResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the fix-up
        no-changes variant (`outcome: fixup_no_changes`, #856): a fix-up
        re-dispatch produced no changes (no new commit landed on the EXISTING PR
        branch) and the fix-up implement stage transitioned terminally,
        re-parking the review gate. No PR artifact is created and no `head_sha`
        is echoed — the branch tip is unchanged.
      required: [stage_id, outcome, branch]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [fixup_no_changes] }
        branch: { type: string }

    PullRequestScopeParkResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/pull-request` for the
        scope-completeness park variant (`outcome: scope_park`, #1231): the
        implement stage's ONLY committed-tree gate failure was the
        missing-declared-scope-file check, so the runner pushed its verified
        commit to the run branch (no PR) and the stage parked in
        `awaiting_scope_decision` for an operator exempt-or-fail decision.
        `head_sha` echoes the held commit.
      required: [stage_id, outcome, branch, head_sha]
      properties:
        stage_id: { $ref: '#/components/schemas/UUID' }
        outcome: { type: string, enum: [scope_park] }
        branch: { type: string }
        head_sha: { type: string }

    DeploymentArtifactBody:
      type: object
      description: |
        Wire shape posted to /v0/runs/{run_id}/deployment (E23.5 / #1385).
        ADR-038's signed deployment record. Stored verbatim as the
        artifact's content; v0 carries no schema_version because the field
        shape isn't yet schema-stable. Fishhawk is delegating-only — the
        external pipeline runs the deploy and this body reports its outcome.
      required: [environment, ref, external_run_url, outcome]
      properties:
        environment:
          type: string
          description: |
            The deploy target (gated pre-execution by the deploy stage's
            allowed_environments constraint).
          example: production
        ref:
          type: string
          description: The git ref or sha that was deployed (ADR-038's "ref/sha").
          example: "1111111111111111111111111111111111111111"
        external_run_url:
          type: string
          format: uri
          description: |
            The external pipeline run Fishhawk delegated to (delegating mode —
            Fishhawk holds no deploy logic).
          example: https://github.com/kuhlman-labs/fishhawk/actions/runs/42
        outcome:
          type: string
          enum: [succeeded, failed, partial, rolled_back]
          description: |
            The terminal deploy disposition (ADR-038 / #1384). `partial` and
            `rolled_back` are non-idempotent dispositions that are never
            blindly re-run.
        rollback_handle:
          type: string
          description: |
            Opaque handle the external pipeline returns for reverting this
            deploy, when one exists. Optional.
        rollback_action:
          type: string
          enum: [initiated, completed]
          description: |
            Present when the body reports an explicit rollback sub-action
            against a prior deploy. `initiated` writes a
            `deployment_rollback_initiated` audit entry, `completed` writes a
            `deployment_rollback_completed` entry — in ADDITION to the
            always-written `deployment_outcome_recorded` entry.

    DeploymentUploadResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/deployment`. `idempotent` is true
        when the upload matched an existing artifact for the stage.
      required: [id, stage_id, content_hash, environment, outcome, idempotent]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        content_hash:
          type: string
          description: Hex sha256 of the canonical deployment bytes shipped.
        environment: { type: string }
        outcome: { type: string, enum: [succeeded, failed, partial, rolled_back] }
        idempotent: { type: boolean }

    PlanUploadResponse:
      type: object
      description: |
        Echoed by `POST /v0/runs/{run_id}/plan`. `idempotent` is true
        when the upload matched an existing artifact for the stage and
        no new row was inserted.
      required: [id, stage_id, content_hash, schema_version, idempotent]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        content_hash:
          type: string
          description: Hex sha256 of the canonical plan bytes.
        schema_version:
          type: string
          example: standard_v1
        idempotent:
          type: boolean

    Artifact:
      type: object
      required: [id, stage_id, kind, content_hash, created_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_id: { $ref: '#/components/schemas/UUID' }
        kind:
          type: string
          enum: [plan, pull_request, deployment]
        schema_version:
          type: [string, "null"]
          example: standard_v1
        content_hash:
          type: string
          description: Hex sha256 of canonical content bytes.
        content:
          description: |
            JSON content of the artifact. For kind=plan validated
            against the standard_v1 schema in
            docs/spec/plan-standard-v1.schema.json. For
            kind=pull_request the content carries the
            PullRequestArtifactBody shape; for kind=deployment it
            carries the DeploymentArtifactBody shape.
        created_at:
          type: string
          format: date-time

    AuditEntry:
      type: object
      description: |
        One line in the append-only audit log. Entries form a per-run
        chain via prev_hash → entry_hash; see backend/internal/audit
        and verifier/internal/audit for the canonical algorithm.
      required:
        [id, sequence, run_id, ts, category, payload, entry_hash]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        sequence:
          type: integer
          format: int64
          minimum: 1
        run_id: { $ref: '#/components/schemas/UUID' }
        stage_id:
          oneOf:
            - $ref: '#/components/schemas/UUID'
            - type: "null"
        ts:
          type: string
          format: date-time
        category:
          type: string
          example: plan_generated
        actor_kind:
          type: [string, "null"]
          enum: [agent, user, system, null]
        actor_subject:
          type: [string, "null"]
        payload:
          description: Event-specific JSON object.
        prev_hash:
          type: [string, "null"]
          description: Hex sha256 of the prior entry's entry_hash; null on the first entry of a run.
        entry_hash:
          type: string
          description: Hex sha256 of the canonical hash inputs.

    StatusCommentResponse:
      type: object
      description: |
        Rendered sticky-comment body plus the GitHub comment ID stored
        in the most recent `status_comment_posted` audit entry (0 when
        no comment has been posted yet). Used by the CLI to drive
        edit-in-place updates on the issue thread.
      required: [body, issue_number, repo, github_comment_id]
      properties:
        body:
          type: string
          description: Rendered Markdown body for the issue comment.
        issue_number:
          type: integer
          description: GitHub issue number the comment belongs to.
        repo:
          type: string
          description: "GitHub repo in owner/name form."
        github_comment_id:
          type: integer
          format: int64
          description: |
            GitHub comment ID from the last `status_comment_posted` audit entry.
            Zero when no comment has been posted yet (create-path).

    DiagnosticBundle:
      type: object
      description: |
        Product-facts-only diagnostic summary for a run (#1006). Every
        field is a structured fact safe to leave the operator's boundary
        without redaction; the bundle never carries diffs, paths, prompts,
        free text, or audit payload bodies.
      required: [run_id, workflow_id, workflow_spec_hash, runner_kind, run_state, stages, versions]
      properties:
        run_id:
          $ref: '#/components/schemas/UUID'
        workflow_id:
          type: string
          description: Workflow key the run executed (e.g. feature_change).
        workflow_spec_hash:
          type: string
          description: Git SHA of .fishhawk/workflows.yaml at run-create time.
        runner_kind:
          type: string
          description: "Execution backend tag (github_actions | local)."
        run_state:
          type: string
          description: "Run lifecycle state (pending|running|succeeded|failed|cancelled)."
        stages:
          type: array
          description: Ordered stage facts, by sequence ascending.
          items:
            type: object
            required: [sequence, type, state]
            properties:
              sequence: { type: integer }
              type: { type: string, description: "plan | implement | review" }
              state: { type: string, description: "Stage lifecycle state." }
        failing_stage:
          type: object
          description: |
            The failed stage's structured facts. Absent when no stage
            failed. Carries the single-letter failure category and the
            audit category of the most-recent entry scoped to the stage
            (the failing surface) — never the free-text failure reason.
          required: [sequence, type, failure_category]
          properties:
            sequence: { type: integer }
            type: { type: string }
            failure_category:
              type: string
              description: "MVP_SPEC §6 class: A | B | C | D."
            failure_surface:
              type: string
              description: Audit category of the most-recent entry scoped to the failing stage.
        audit_sequence_range:
          type: object
          description: "[min,max] of the run's audit-entry sequence numbers. Absent when the run has no audit entries."
          required: [min, max]
          properties:
            min: { type: integer, format: int64 }
            max: { type: integer, format: int64 }
        versions:
          type: object
          description: Build identity the backend authoritatively knows.
          required: [fishhawkd, min_runner_version]
          properties:
            fishhawkd:
              type: object
              required: [version, git_sha]
              properties:
                version: { type: string, description: "fishhawkd build version ('dev' when unstamped)." }
                git_sha: { type: string, description: "fishhawkd build git SHA ('unknown' when unstamped)." }
            min_runner_version:
              type: string
              description: Minimum fishhawk-runner version this backend requires.

    ProductReportRequest:
      type: object
      description: |
        Body for POST /v0/runs/{run_id}/product-reports (#1006). Slice 2
        (the egress path) carries product facts ONLY — `kind` selects the
        report flavor and nothing else crosses. An empty body is valid
        (kind defaults to bug).
      properties:
        kind:
          type: string
          enum: [bug, feature]
          default: bug
          description: Report flavor — bug (default) or feature request.

    ProductReportResponse:
      type: object
      description: What left the boundary — echoed so the caller can render the outcome.
      required: [fingerprint, action, number, url, destination]
      properties:
        fingerprint:
          type: string
          description: Stable dedup fingerprint over (failure category, audit surface, version family).
        action:
          type: string
          enum: [created, occurrence]
          description: "created — a new fingerprint-marked report; occurrence — a comment on the existing report (nothing created)."
        number:
          type: integer
          description: Upstream issue number that was created or appended to.
        url:
          type: string
          description: Upstream issue URL.
        destination:
          type: string
          description: The fixed upstream product repo the report landed in (owner/name).

    RunBudgetStatus:
      type: object
      description: |
        Current calendar-period status of a workflow's periodic budget
        (#693 / ADR-030). **Display-only** — never gates or blocks a run.

        When the workflow declares no budget the endpoint returns an
        **empty object** (none of the fields below present); clients
        detect "no budget" by the absence of `period`. The fields below
        are present only when a budget is configured.
      properties:
        period:
          type: string
          enum: [weekly, monthly]
          description: Budget reset cadence.
        period_start:
          type: string
          format: date-time
          description: |
            RFC3339 inclusive start of the current calendar period, in
            the server's configured budget timezone.
        limit_usd:
          type: number
          description: |
            Effective spend ceiling in US dollars for the period. This is
            the operator's `FISHHAWKD_BUDGET_LIMIT_OVERRIDE_USD` calibration
            override when configured (> 0), else the spec budget's
            `limit_usd` (#1371).
        spent_usd:
          type: number
          description: Cross-run workflow spend so far in the current period.
        fraction:
          type: number
          description: |
            `spent_usd / limit_usd` against the effective limit. May exceed
            1 when over the ceiling. Zero when the limit is non-positive (no
            usable ceiling).
        warn_at:
          type: [number, "null"]
          description: |
            Optional warn threshold as a fraction in (0,1]. Omitted when
            the budget configures no warn threshold.
        tier:
          type: string
          enum: [ok, warn, over, ack_required, page]
          description: |
            Escalating ladder rung (#1371): `over` when `fraction >= 1`;
            `warn` when the configured `warn_at` is crossed but not yet
            over; otherwise `ok`. Past the ceiling the signal escalates by
            configured multiples of the effective limit —
            `ack_required` at the ack multiple (default 2x) and `page` at
            the page multiple (default 3x) — instead of saturating at
            `over`.
        ack_required:
          type: boolean
          description: |
            True when `tier` has reached the acknowledgment rung
            (`ack_required` or `page`): plan approval for the run now
            requires an explicit `--ack-budget` acknowledgment (#1371).
            Omitted (absent) when false.
        enforcement:
          type: string
          enum: [advisory, blocking]
          description: |
            Budget enforcement mode. A spec budget with no enforcement
            value defaults to (and surfaces as) `advisory`.

    RunCacheEfficiency:
      type: object
      description: |
        Per-run prompt-cache efficiency derived from the run's
        `cost_recorded` ledger (ADR-044 / #1352). **Display-only** — never
        gates or blocks a run.

        When the run has no cost data the endpoint returns an **empty
        object** (none of the fields below present); clients detect "no
        data" by the absence of a field. The fields below are present only
        when the run has cost data.
      properties:
        fresh_input_tokens:
          type: integer
          description: Total cache-exclusive (fresh) input tokens across the run.
        cache_read_tokens:
          type: integer
          description: Total cache-served (read) input tokens across the run.
        cache_write_tokens:
          type: integer
          description: Total cache-creation (write) input tokens across the run.
        output_tokens:
          type: integer
          description: Total output tokens across the run.
        cache_read_ratio:
          type: number
          description: |
            `cache_read / (cache_read + fresh_input)` — the share of input
            served from cache. `0` when the denominator is `0`.
        reuse_factor:
          type: number
          description: |
            `cache_read / max(cache_write, 1)` — how many times each
            cache-creation token was re-read.
        gross_read_savings_usd:
          type: number
          description: |
            US dollars saved by serving `cache_read` tokens at the family
            cache-read discount instead of the fresh-input rate.
        write_penalty_usd:
          type: number
          description: |
            Extra US dollars paid to write `cache_write` tokens at the
            family cache-write premium over the fresh-input rate.
        net_savings_usd:
          type: number
          description: '`gross_read_savings_usd − write_penalty_usd`.'
        stages:
          type: array
          description: |
            Per-source breakdown (`plan_review` / `implement_review` /
            `agent`, sorted by source), each carrying the same token totals,
            ratios, and savings as the run-level figures.
          items:
            type: object
            properties:
              source:
                type: string
                description: 'Stage bucket: `plan_review`, `implement_review`, or `agent` (the runner stage-agent path, which carries no `source`).'
              fresh_input_tokens: { type: integer }
              cache_read_tokens: { type: integer }
              cache_write_tokens: { type: integer }
              output_tokens: { type: integer }
              cache_read_ratio: { type: number }
              reuse_factor: { type: number }
              gross_read_savings_usd: { type: number }
              write_penalty_usd: { type: number }
              net_savings_usd: { type: number }

    RunCost:
      type: object
      description: |
        Per-run estimated cost derived from the run's `cost_recorded`
        ledger (#1372). **Display-only** — never gates or blocks a run.

        When the run has no cost data the endpoint returns an **empty
        object** (none of the fields below present); clients detect "no
        data" by the absence of a field. The fields below are present only
        when the run has cost data.
      properties:
        total_cost_usd:
          type: number
          description: |
            The run's rolled estimated US-dollar cost (the run record's
            `cost_usd_total`), reconstructed per-stage from the ledger.
        stages:
          type: array
          description: |
            Per-source cost breakdown (`agent` / `plan_review` /
            `implement_review`, sorted by source), each carrying the summed
            US dollars attributed to that stage bucket.
          items:
            type: object
            properties:
              source:
                type: string
                description: 'Stage bucket: `plan_review`, `implement_review`, or `agent` (the runner stage-agent path, which carries no `source`).'
              cost_usd:
                type: number
                description: Summed estimated US dollars for this stage bucket.
        merged_pr:
          type: object
          description: |
            Cost-per-merged-PR rollup, present **only** when the run
            resolved to a merged PR (a `pr_merged` audit row exists AND the
            run carries a pull-request URL). Omitted otherwise.
          properties:
            pull_request_url:
              type: string
              description: The merged pull-request URL the rollup is summed over.
            cost_per_merged_pr_usd:
              type: number
              description: |
                Sum of `cost_usd_total` across every run sharing this PR URL
                (the original run plus any fixup/follow-up runs) — the total
                estimated cost to land the PR.
            run_count:
              type: integer
              description: Number of runs contributing to the rollup.

    CalibrationResult:
      type: object
      description: |
        Aggregated runtime calibration statistics derived from
        `runtime_observed` audit entries. Zero `samples` is normal on
        a fresh installation.
      required: [samples, predicted_p50_minutes, actual_p50_minutes, actual_p95_minutes, calibration_ratio, confidence_band_accuracy]
      properties:
        workflow_id:
          type: string
          description: Workflow ID filter applied, if any.
        stage_type:
          type: string
          example: implement
        samples:
          type: integer
          description: Number of implement stages included in this result set.
        predicted_p50_minutes:
          type: number
          format: double
          description: Median predicted runtime in minutes across the sample.
        actual_p50_minutes:
          type: number
          format: double
          description: Median actual runtime in minutes across the sample.
        actual_p95_minutes:
          type: number
          format: double
          description: 95th-percentile actual runtime in minutes.
        calibration_ratio:
          type: number
          format: double
          description: |
            `actual_p50 / predicted_p50`. Multiply raw estimates by this value
            to calibrate toward historical actuals. Zero when predicted_p50 is 0.
        confidence_band_accuracy:
          type: object
          description: |
            Per-confidence-level hit rates. Keys are confidence levels (low,
            medium, high); each value is an object with `samples` (int) and
            `within_1.5x` (int) counts. A low `within_1.5x / samples` ratio
            signals over-confidence in that band.
          additionalProperties:
            type: object
            properties:
              samples: { type: integer }
              within_1.5x: { type: integer }

    User:
      type: object
      required: [id, github_login, name]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        github_login:
          type: string
          example: kuhlman-labs
        name:
          type: string
          example: Brett Kuhlman
        email:
          type: [string, "null"]

    OnboardingReadiness:
      type: object
      description: |
        Aggregated first-run readiness for a repository (E29.4), consumed by
        `fishhawk doctor` (E29.5). The four checks cascade: a not-installed
        repo yields an unavailable spec and no reviewers, each with an
        explanatory note. Read-only; performs no writes.
      required: [repo, app, spec, reviewers, scopes]
      properties:
        repo:
          type: string
          example: kuhlman-labs/fishhawk
        app:
          type: object
          description: GitHub App installation status for the target repo.
          required: [installed]
          properties:
            installed:
              type: boolean
            installation_id:
              type: integer
              format: int64
              description: Present only when installed.
            reason:
              type: string
              description: Why the App is not installed (or could not be resolved).
        spec:
          type: object
          description: The committed workflow spec's fetch + parse + validate state.
          required: [source, valid]
          properties:
            source:
              type: string
              enum: [fetched, unavailable]
            valid:
              type: boolean
              description: Meaningful only when source is "fetched".
            error:
              type: string
              description: Parse or validation failure detail.
            note:
              type: string
              description: Why the spec is unavailable (not installed, not found, fetch error).
        reviewers:
          type: array
          description: |
            Per-reviewer availability for each reviewer declared in the
            repo's spec, resolved against this deployment's configured
            backends. Empty when the spec is unavailable or invalid.
          items:
            type: object
            required: [provider, available]
            properties:
              provider:
                type: string
                example: anthropic
              model:
                type: string
              reasoning_effort:
                type: string
              available:
                type: boolean
              missing_hint:
                type: string
                description: How to enable the provider when unavailable (names the env knob).
        scopes:
          type: object
          description: |
            Whether the caller's token holds the run-driving scope subset.
            Cookie-session (OAuth) callers bypass scope enforcement and are
            adequate by construction.
          required: [adequate, required, missing]
          properties:
            adequate:
              type: boolean
            required:
              type: array
              items:
                type: string
            missing:
              type: array
              items:
                type: string
            note:
              type: string

    ApiToken:
      type: object
      required: [id, scopes, created_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        scopes:
          type: array
          items:
            type: string
        last_used_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        revoked_at:
          type: [string, "null"]
          format: date-time

  responses:
    BadRequest:
      description: Request body or query parameters were invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: |
        Authentication missing or invalid (`error: unauthenticated`).
        Note: a credential that fails to validate because the database
        was unreachable surfaces as `503 service_unavailable` at the
        auth boundary, NOT as 401 — a 401 here means the credential is
        absent or genuinely bad on a healthy database (#764).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServiceUnavailable:
      description: |
        A dependency required to serve the request was unavailable.
        At the auth boundary (`error: service_unavailable`, message
        `database unavailable; retry shortly`) this means the database
        could not be reached to validate the presented credential —
        distinct from a bad credential (401) on a healthy database
        (#764). Transient; retry with backoff.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: |
        Authenticated identity lacks permission for the operation
        (`error: forbidden`), or — on state-changing methods from a
        session-cookie identity — the `X-CSRF-Token` header didn't
        match the `__Host-csrf` cookie (`error: csrf_required`).
        Bearer-token clients bypass the CSRF check.
        Bearer tokens that authenticate successfully but lack a required
        write scope receive `error: insufficient_scope` with HTTP 403.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Referenced resource does not exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: Request conflicts with current resource state.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

# ---------------------------------------------------------------------------
# Default security: cookie OR bearer for all UI/CLI endpoints. Runner-
# facing and webhook endpoints override this individually.
# ---------------------------------------------------------------------------
security:
  - sessionCookie: []
  - bearerToken: []

paths:
  # ---------------------------------------------------------------------
  # Liveness — public, unversioned
[...]
