openapi: 3.1.0
info:
  title: Fishhawk Backend API
  version: 0.1.0
  description: |
    The HTTP surface that the Fishhawk backend (`fishhawkd`) exposes to its
    three classes of caller:

    1. **The Web UI and CLI** — humans driving plan review, approval, audit
       search, and run management.
    2. **The runner** — `kuhlman-labs/fishhawk/runner@vX.Y` running on the
       customer's CI, requesting per-run signing keys and shipping signed
       trace bundles.
    3. **GitHub webhooks** — the customer's GitHub App installation pushing
       issue / PR / check events that drive workflow dispatch.

    Per ADR (#46) and `MVP_SPEC.md` §5.1.1, every customer-facing endpoint is
    prefixed with `/v0`. The `v0` prefix is **unstable** by design — the
    surface is allowed to change before v1. Once the v1 surface is published
    (post-Day 21), `/v0` and `/v1` coexist for one minor version cycle to
    let clients migrate, and `/v0` is then retired.

    Webhook ingestion (`/webhooks/github`, `/webhooks/gitlab`) is
    unversioned because the forge controls the request shape; the backend
    adapts as the forge's webhook schema evolves.

  contact:
    name: Fishhawk
    url: https://github.com/kuhlman-labs/fishhawk
  license:
    name: Apache-2.0
    url: https://github.com/kuhlman-labs/fishhawk/blob/main/LICENSE

servers:
  - url: https://api.fishhawk.dev
    description: Production
  - url: http://localhost:8080
    description: Local dev (docker compose up)

# ---------------------------------------------------------------------------
# Security schemes — three auth models for three caller classes (ADR-005).
# ---------------------------------------------------------------------------
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: fishhawk_session
      description: |
        HTTP-only `Secure; SameSite=Lax` session cookie set by the OAuth
        callback. Same-origin SPA requests are auto-included; CSRF
        protection on state-changing endpoints (POST/PUT/PATCH/DELETE)
        requires an `X-CSRF-Token` request header whose value matches
        the `__Host-csrf` cookie issued alongside the session cookie.
        Mismatched / missing token → `403 csrf_required`. Bearer-token
        clients (see `bearerToken`) are immune to CSRF and bypass the
        header check.

    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: |
        Scoped server-issued token (NOT a JWT). Index into the
        `api_tokens` table; revocation is immediate. Used by the CLI
        and any programmatic caller.

    githubOIDC:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: |
        GitHub Actions OIDC token for runner authentication. Verified
        by the backend against GitHub's JWKS per request; no server-
        side state. Required by `POST /v0/runs/{run_id}/signing-key`.

  # -------------------------------------------------------------------------
  # Shared schemas. Detailed property schemas grow as endpoints are
  # implemented — what's frozen here is the envelope shape and the
  # canonical types every endpoint returns.
  # -------------------------------------------------------------------------
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: |
                Stable, machine-readable code. Snake-case identifier;
                clients switch on this. New codes are additive; codes
                are never repurposed.
              example: run_not_found
            message:
              type: string
              description: |
                Human-readable description. May change between
                versions; clients should not parse it.
              example: "No run with id 11111111-…"
            details:
              type: object
              additionalProperties: true
              description: |
                Optional code-specific structured fields. The keys
                under `details` are part of the contract for that
                specific code.

                5xx CONTRACT (E67.15 / #2587): on a 5xx response, `details`
                is restricted server-side to a default-deny allow-list of
                non-sensitive keys (product-owned enums / identifiers /
                booleans / integers, caller-echoed request fields, static
                literals). The raw error cause is NEVER placed under
                `details` on a 5xx — it is recorded only in the operator's
                server log, keyed by `error_ref`. On a 4xx `details` is
                returned verbatim.
            error_ref:
              type: string
              description: |
                Correlation handle set on 5xx responses only (E67.15 /
                #2587). Equal to the response `X-Request-ID`. The full error
                cause is redacted from a 5xx body and kept in the operator's
                server log under this reference, so a caller pairs `error_ref`
                with the operator to recover the cause. Omitted on 4xx. NOTE:
                it echoes the caller's own `X-Request-ID` when supplied, so it
                is a correlation handle, not a server-authenticated identifier.
              example: 9f8c2a1b7d3e4f56
      examples:
        - error:
            code: run_not_found
            message: No run with id 11111111-2222-3333-4444-555555555555

    OAuthServerMetadata:
      type: object
      description: |
        RFC 8414 authorization-server metadata (ADR-076 slice 3, #2436). Every
        field is an unconditional literal when the AS is enabled.
      required:
        - issuer
        - authorization_endpoint
        - token_endpoint
        - response_types_supported
        - grant_types_supported
        - scopes_supported
        - code_challenge_methods_supported
        - authorization_response_iss_parameter_supported
        - client_id_metadata_document_supported
        - token_endpoint_auth_methods_supported
      properties:
        issuer:
          type: string
          format: uri
          description: The AS issuer — an https origin with no path (`--oauth-issuer`).
          example: https://fishhawk.example.com
        authorization_endpoint:
          type: string
          format: uri
          example: https://fishhawk.example.com/v0/oauth/authorize
        token_endpoint:
          type: string
          format: uri
          example: https://fishhawk.example.com/v0/oauth/token
        response_types_supported:
          type: array
          items: { type: string }
          example: [code]
        grant_types_supported:
          type: array
          items: { type: string }
          example: [authorization_code, refresh_token]
        scopes_supported:
          type: array
          items: { type: string }
          description: The operator scope vocabulary.
          example:
            - read:runs
            - read:audit
            - write:runs
            - write:approvals
            - write:stages
            - write:deploy
            - write:campaigns
            - read:audit-export
        code_challenge_methods_supported:
          type: array
          items: { type: string }
          example: [S256]
        authorization_response_iss_parameter_supported:
          type: boolean
          description: RFC 9207 — the authorize response carries `iss`.
          example: true
        client_id_metadata_document_supported:
          type: boolean
          description: |
            RFC 8414 CIMD support. Always `true` when this document is served: a
            nil CIMD fetcher resolves the AS to MISCONFIGURED (503 everywhere),
            so support is never conditionally advertised.
          example: true
        token_endpoint_auth_methods_supported:
          type: array
          items: { type: string }
          description: Public client only.
          example: [none]

    ProtectedResourceMetadata:
      type: object
      description: |
        RFC 9728 Protected Resource Metadata (ADR-076 slice 3, #2391). Describes
        the Fishhawk MCP resource and points a discovering client at the
        authorization server that mints tokens for it. Served only when the AS is
        enabled; `Cache-Control: no-store`.
      required:
        - resource
        - authorization_servers
        - scopes_supported
        - bearer_methods_supported
        - resource_name
      properties:
        resource:
          type: string
          format: uri
          description: The RFC 8707 resource identifier this document describes (`--oauth-resource`, default `<issuer>/mcp`).
          example: https://fishhawk.example.com/mcp
        authorization_servers:
          type: array
          items: { type: string, format: uri }
          description: The issuer(s) that mint tokens for this resource — here, fishhawkd's own AS.
          example: [https://fishhawk.example.com]
        scopes_supported:
          type: array
          items: { type: string }
          description: The operator scope vocabulary (identical to the AS metadata's `scopes_supported`).
          example:
            - read:runs
            - read:audit
            - write:runs
            - write:approvals
            - write:stages
            - write:deploy
            - write:campaigns
            - read:audit-export
        bearer_methods_supported:
          type: array
          items: { type: string }
          description: How a bearer token is presented — the Authorization header only.
          example: [header]
        resource_name:
          type: string
          example: Fishhawk

    OAuthTokenResponse:
      type: object
      description: |
        RFC 6749 §5.1 successful token response for the public-client
        authorization-code and refresh-token grants (#2436).
      required: [access_token, token_type, expires_in, scope]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Access-token lifetime in seconds (`--oauth-access-token-ttl`).
          example: 3600
        refresh_token:
          type: string
          description: Present when a refresh token was issued or rotated.
        scope:
          type: string
          description: Space-delimited granted scopes.
          example: read:runs write:runs

    OAuthError:
      type: object
      description: |
        RFC 6749 §5.2 flat error body (`{error, error_description}`) returned by
        the token endpoint — distinct from the standard Fishhawk error envelope
        (#2436).
      required: [error]
      properties:
        error:
          type: string
          description: RFC 6749 error code (e.g. `invalid_request`, `invalid_grant`, `invalid_client`, `unauthorized_client`, `unsupported_grant_type`).
          example: invalid_grant
        error_description:
          type: string
          example: authorization code is expired

    WorkItemRequest:
      type: object
      required: [repo, type, summary]
      description: |
        Provider-neutral work-item filing (#1005). The conventions layer
        turns this into a filed item; only `repo`, `type`, and `summary`
        are required. Unknown properties are rejected.
      additionalProperties: false
      properties:
        repo:
          type: string
          description: Target repository in `owner/name` form.
          example: kuhlman-labs/fishhawk
        type:
          type: string
          description: Work-item type; must be a key in the repo's conventions (e.g. feature, bug, chore, adr).
          example: feature
        summary:
          type: string
          description: |
            Mandatory one-liner: fills the `{summary}` title placeholder
            and is the required Summary field.
          example: Add the widget endpoint
        body:
          type: string
          description: Verbatim body. When omitted, the body is assembled from the type's skeleton + `sections`.
        sections:
          type: object
          additionalProperties: { type: string }
          description: >-
            Per-skeleton-section content keyed by section name; used only when
            `body` is empty. Keys MUST match the type's body skeleton exactly —
            an off-skeleton key fails the filing with `422 work_item_invalid`
            (the content is never silently dropped), and the unknown vs expected
            section names are reported in `details.unknown_sections` /
            `details.expected_sections`.
        title_vars:
          type: object
          additionalProperties: { type: string }
          description: >-
            Title placeholders beyond `{summary}`/`{number}` (e.g. `epic`, `n`).
            An unresolved placeholder fails the filing with `422
            work_item_invalid`, listing the still-missing names in
            `details.missing_placeholders`. For a child type whose
            `title_format` is `[E{epic}.{n}]`, BOTH `{epic}` AND the `{n}` child
            number are auto-derived from the `parent_epic` relation server-side
            (#1958): `{epic}` from the parent epic issue's leading `[E<n>]` title
            token, and `{n}` as the next number after the epic's existing
            children (open and closed), so `title_vars` can be omitted entirely
            — supply `{n}` only to override the auto-derived child number. The
            allocated number is collision-free within one deployment (concurrent
            omitted-`n` filings against the same epic are serialized), not
            globally unique. Derivation fails closed: if the parent has no
            parseable `[E<n>]` token `{epic}` is left unresolved and the 422
            above is returned, and a failed child-number lookup returns the same
            422 with `details.n_discovery_failed` rather than a wrong title.
        labels:
          type: array
          items: { type: string }
          description: Labels merged on top of the type's `default_labels`.
        complexity:
          type: string
          description: Overrides the type's default complexity; must be a declared level.
          example: low
        status:
          type: string
          description: Overrides the type's default board status.
          example: Backlog
        relations:
          type: object
          additionalProperties: false
          properties:
            parent_epic: { type: string, description: "Epic this item rolls up to (e.g. `#1005`)." }
            supersedes: { type: array, items: { type: string } }
            companion_to: { type: array, items: { type: string } }
            evidence_runs: { type: array, items: { type: string } }
            depends_on:
              type: array
              items: { type: string }
              description: >-
                Issue references (`#N` or `N`) this item depends on, among the
                epic's children. Persisted as a `Depends on: #X, #Y` body
                marker (GitHub has no native depends_on relation) and read by
                the campaign epic-children query to assemble its wave DAG
                (ADR-047). File-time validation is format-only; cycle and
                existence checks are deferred to campaign-assembly time.
        existing_numbers:
          type: array
          items: { type: integer }
          description: >-
            Optional for a numbered type: the numbers already in use, so the next
            sequential number can be allocated. For the GitHub provider these are
            discovered server-side from the tracker when omitted (#1269); supply
            this list only to override/hint that discovery. A genuine discovery
            failure returns 422 `work_item_invalid` with a `discovery_failed`
            detail rather than allocating a wrong number.
        run_id:
          allOf: [ { $ref: '#/components/schemas/UUID' } ]
          description: Optional in-flight run; when set and non-terminal, a `work_item_filed` audit entry is appended to it.

    WorkItemResponse:
      type: object
      required: [type, title, number, url, provider, boarded, audited]
      description: The created item — exactly what landed, so the caller renders the result without a second fetch.
      properties:
        type: { type: string }
        title: { type: string }
        number: { type: integer, description: Created item number (e.g. GitHub issue number). }
        url: { type: string, description: Created item URL. }
        provider: { type: string, description: Provider id that filed the item. }
        applied_labels: { type: array, items: { type: string } }
        complexity: { type: string }
        status: { type: string }
        board_column: { type: string }
        boarded:
          type: boolean
          description: >-
            Whether the created item was placed on the configured project board with its
            status set (#1107). Best-effort: board placement no longer fails the filing — when
            it fails, the item is still created and this is `false` with the cause in
            `boarding_error` (also WARN-logged server-side). `false` with no `boarding_error`
            means no project board was configured (nothing to board).
        epic_linked:
          type: boolean
          description: >-
            Whether the parent epic was linked as a sub-issue (#1107). Best-effort like
            `boarded`: a link failure does not fail the filing — this is `false` with the cause
            in `epic_link_error`. `false` with no `epic_link_error` means no parent epic was
            requested.
        boarding_error:
          type: string
          description: The cause when best-effort board placement failed (#1107); absent on success.
        epic_link_error:
          type: string
          description: The cause when best-effort epic linking failed (#1107); absent on success.
        audited:
          type: boolean
          description: True when a `work_item_filed` audit entry was written (a run was in flight).
        defaulted_labels:
          type: array
          items: { type: string }
          description: >-
            Every label the system added that the caller did not supply (#1616): per-namespace
            defaults from the type's `label_defaults` (e.g. `autonomy:medium`) plus any `area:*`
            label derived from the parent epic. Reported loudly so the operator sees exactly what
            filing-time completeness added. Absent/empty when nothing was defaulted.
        missing_label_namespaces:
          type: array
          items: { type: string }
          description: >-
            Required label namespaces (from the type's `required_label_namespaces`) still absent
            after merge, derivation, and defaulting (#1616). Reported loudly, NEVER a rejection —
            a filing is never failed on labels alone. Absent/empty when every required namespace
            is present.
        intake:
          $ref: '#/components/schemas/IntakeSignals'

    IntakeSignals:
      type: object
      required: [score, degraded, scanned_items, window_truncated, duration_ms]
      description: >-
        ADVISORY intake-groom signals derived at filing time (#2239, E54.7): possible duplicate
        candidates, a suggested parent epic when the filing declared none, and a provisional
        charter-anchored structural score. The same signals are also appended to the created
        item body as a rendered advisory section plus a hidden `<!-- fishhawk-intake:v1 … -->`
        marker, so a later grooming sweep reads the analysis back instead of redoing it.

        NOTHING WAS ACTED ON. No item was closed, merged, relabelled or transitioned on the
        strength of a duplicate candidate; the dedup decision stays a human/workflow action.
        Duplicate matching is LEXICAL (token overlap), not semantic, so false positives and
        false negatives are expected — the confidence band and the rendered basis are what
        make a wrong candidate cheap to dismiss.

        DEGRADATION IS NORMAL, NOT AN ERROR, and the asymmetry is deliberate: elsewhere a
        missing charter fails closed, but work-item filing is a load-bearing write path and
        making it depend on grooming health would convert an advisory enhancement into a new
        failure mode. Grooming therefore runs under its own deadline and scan cap, swallows
        every failure into `degrade_reason`, and recovers a panic — a filing NEVER fails, and
        never slows beyond its budget, because grooming was unavailable. The whole object is
        OPTIONAL: absent when the deployment produced no signals at all.

        The latency bound is stated honestly: the hook derives its own context deadline and
        hands it to the reader, which bounds a CANCELLATION-RESPECTING reader (the production
        forge read is one — every request is built with the request context). It is not a
        preemptive bound against a reader that ignores cancellation.
      properties:
        duplicates:
          type: array
          description: Possible duplicates, best first, capped at 3. Candidates only — nothing was merged or closed.
          items:
            type: object
            required: [number, title, score, confidence, basis, closed]
            properties:
              number: { type: integer, description: The candidate item's tracker number. }
              url: { type: string }
              title: { type: string }
              score: { type: number, description: "Lexical similarity in [0,1]." }
              confidence:
                type: string
                enum: [high, medium, low]
                description: The band `score` falls in. Read the band, not the float.
              basis: { type: string, description: "The shared tokens, rendered — what makes a wrong candidate cheap to dismiss." }
              closed: { type: boolean, description: Whether the candidate is already closed. A closed duplicate is often the resolution. }
        epic_suggestion:
          type: object
          description: >-
            The single best parent-epic candidate, present only when the filing declared no
            `relations.parent_epic` and something scored above threshold. A suggestion — no
            relation was created.
          required: [number, title, score, confidence, basis]
          properties:
            number: { type: integer }
            url: { type: string }
            title: { type: string }
            score: { type: number }
            confidence: { type: string, enum: [high, medium, low] }
            basis: { type: string }
        score:
          type: object
          required: [value, unscored]
          description: >-
            The provisional charter-anchored structural score. `value` is ADVISORY ONLY — it
            exists to sort a list, not to justify a ranking; the citations are what a reviewer
            reads. Scoring is deliberately STRUCTURAL: it cites only rubric lines decidable from
            the filing's own structure, and only ids that actually exist in the repo's declared
            charter.
          properties:
            value: { type: number, description: Summed weight of the surviving citations. Advisory only. }
            citations:
              type: array
              items:
                type: object
                required: [rubric_id, quote, note]
                properties:
                  rubric_id: { type: string, description: "The charter rubric line id (e.g. S2, S4, U4)." }
                  quote: { type: string, description: "The rubric line's text, as parsed from the charter." }
                  note: { type: string, description: What about this filing fired the line. }
            unscored:
              type: boolean
              description: >-
                True when no citation survived. Reported as a finding rather than satisfied with
                an invented citation — a rule whose rubric id is absent from the declared charter
                drops its citation instead of fabricating one.
            charter_gap: { type: string, description: Explains the `unscored` verdict. }
        degraded:
          type: boolean
          description: True when grooming did not complete. The item was filed regardless.
        degrade_reason:
          type: string
          enum:
            - reader_unavailable
            - reader_error
            - charter_undeclared
            - charter_unresolved
            - charter_rubric_unparsed
            - budget_exceeded
            - hook_panic
            - seam_unwired
          description: >-
            The closed set of reasons grooming produced no signals, so a degradation is always
            attributable to a named cause rather than an unexplained empty result.
            `reader_unavailable` — the provider does not implement the work-item read capability
            (a File-only provider). `reader_error` — the reader refused (forbidden, rate limited,
            transport failure). `charter_undeclared` — the repo's conventions declare no charter.
            `charter_unresolved` — a charter is declared but could not be resolved at the pinned
            base ref. `charter_rubric_unparsed` — the charter resolved but carries no parsable
            rubric ids. `budget_exceeded` — the hook's deadline elapsed before the read completed.
            `hook_panic` — a panic inside the hook was recovered. `seam_unwired` — a seam the hook
            needs (document resolver, base ref) is not configured on this deployment.
        scanned_items:
          type: integer
          description: How many existing items the filing was compared against.
        window_truncated:
          type: boolean
          description: >-
            True when the newest-first scan window was CUT at its cap rather than exhausted, so a
            duplicate older than the window would be missed. Stated rather than hidden: recency is
            approximated by creation order, so an old item closed recently can fall outside it.
        duration_ms:
          type: integer
          description: The hook's measured wall clock, so the latency claim is reported rather than assumed.

    EpicDraft:
      type: object
      additionalProperties: false
      required: [epic, children]
      description: >-
        The structured decomposition drafted from a brief (E34.1): the epic plus
        its children. It is the JSON contract the drafting agent emits, the value
        persisted per revision, and the shape a direct field edit supplies.
      properties:
        epic:
          type: object
          additionalProperties: false
          required: [summary, scope, out_of_scope]
          properties:
            summary: { type: string }
            scope: { type: string }
            out_of_scope: { type: string }
        children:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [summary, proposal, done_means, acceptance_criteria, labels, depends_on]
            properties:
              summary: { type: string }
              proposal: { type: string }
              done_means: { type: string }
              acceptance_criteria: { type: array, items: { type: string } }
              labels: { type: array, items: { type: string } }
              depends_on:
                type: array
                items: { type: integer }
                description: 1-based sibling ordinals this child depends on (not issue numbers).

    AcceptanceFinding:
      type: object
      required: [rule, detail]
      description: >-
        One deterministic acceptance-criteria defect the pre-check flagged. rule
        is the machine-readable classifier; criterion_id names the offending
        criterion (its text at intake) and is absent for the presence-level
        no_blocking_criterion finding; detail is a short human-readable
        explanation.
      properties:
        rule:
          type: string
          enum: [no_blocking_criterion, missing_source_ref, missing_rationale, empty_id, duplicate_id]
        criterion_id: { type: string, description: The offending criterion; absent for the no_blocking_criterion presence finding. }
        detail: { type: string }

    ChildCriteriaCheck:
      type: object
      required: [ordinal, findings]
      description: >-
        One child's intake acceptance-criteria pre-check: the 1-based child
        ordinal, an advisory needs_attention marker (an unjustified missing
        blocking criterion), and its findings ([] when checked and clean).
      properties:
        ordinal: { type: integer, description: The 1-based child ordinal this check is for. }
        needs_attention:
          type: boolean
          description: >-
            True when this child has an unjustified no_blocking_criterion
            finding. Advisory — approval remains legal. Absent when false.
        findings:
          type: array
          items: { $ref: '#/components/schemas/AcceptanceFinding' }

    CriteriaPrecheck:
      type: object
      required: [needs_attention, children]
      description: >-
        The E34.5 advisory acceptance-criteria pre-check over the latest draft's
        children (#1596): per-child findings plus a draft-level needs_attention
        marker. Advisory only — a flagged draft can still be approved. Derived
        per response; nothing is persisted.
      properties:
        needs_attention:
          type: boolean
          description: True when any child has an unjustified no_blocking_criterion finding (advisory).
        children:
          type: array
          items: { $ref: '#/components/schemas/ChildCriteriaCheck' }

    RefinementDecision:
      type: object
      required: [decision, reason, draft_id, draft_content_hash, created_at]
      description: One append-only approve/reject verdict pinning a draft revision + its content hash.
      properties:
        decision: { type: string, enum: [approved, rejected] }
        reason: { type: string }
        draft_id: { type: string, format: uuid, description: The decided revision's id. }
        draft_content_hash: { type: string, description: sha256 of the decoded EpicDraft the decision pinned. }
        decided_by: { type: string, description: The deciding identity's subject; absent when unknown. }
        created_at: { type: string, format: date-time }

    RefinementSession:
      type: object
      required: [session_id, state, revision_count, latest_origin, latest_draft, preview, waves, criteria_precheck, decisions]
      description: >-
        The refinement gate's session view: derived approval state, revision
        count, the latest draft, the full filing preview, the wave DAG, the
        advisory acceptance-criteria pre-check, and the decision history. State
        is DERIVED from revisions + decisions, never stored — an edit after
        approval re-gates the session.
      properties:
        session_id: { type: string, format: uuid }
        state:
          type: string
          enum: [awaiting_approval, approved, rejected]
        drifted:
          type: boolean
          description: >-
            True when the latest revision's decision pins a content hash that no
            longer matches the recomputed hash (fail-closed to awaiting_approval).
            Absent when false.
        revision_count: { type: integer, description: Number of draft revisions in the session. }
        latest_origin: { type: string, enum: [brief, amendment, edit], description: How the latest revision came to exist. }
        latest_draft: { $ref: '#/components/schemas/EpicDraft' }
        preview:
          type: array
          description: The full filing preview — the epic then each child, rendered exactly as it would file.
          items: { type: object }
        waves:
          type: array
          description: The topological dispatch order as waves of 1-based child ordinals.
          items: { type: array, items: { type: integer } }
        criteria_precheck:
          allOf: [{ $ref: '#/components/schemas/CriteriaPrecheck' }]
          description: >-
            The advisory acceptance-criteria pre-check over the latest draft's
            children. needs_attention flags an unjustified missing blocking
            criterion — approval remains legal (advisory). Always present.
        decisions:
          type: array
          items: { $ref: '#/components/schemas/RefinementDecision' }

    Pagination:
      type: object
      description: |
        Cursor-based pagination envelope wrapped around list endpoints.
        `next_cursor` is null when the caller has reached the end. The
        cursor is opaque; clients pass it back unmodified.
      required: [items]
      properties:
        items:
          type: array
          items: {}
        next_cursor:
          type: [string, "null"]

    UUID:
      type: string
      format: uuid

    ScopeAmendment:
      type: object
      description: |
        One mid-stage scope amendment request (E22.X / #961): the
        implement agent's ask to fold specific file paths into the
        stage's effective `scope.files` while the stage is running,
        plus the operator's decision once made. Approved paths fold
        into the prompt-fetch scope AND the runner's pre-commit scope
        refresh, so the verified-tree gates verify the same folded
        tree that is pushed (#960). Denied/pending paths confer
        nothing; any undeclared created file still fails category-B
        (#818/#825).
      required: [id, run_id, stage_id, paths, reason, status, requested_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        run_id: { $ref: '#/components/schemas/UUID' }
        stage_id:
          allOf: [{ $ref: '#/components/schemas/UUID' }]
          description: The executing implement stage the request hangs off.
        paths:
          type: array
          minItems: 1
          items:
            type: object
            required: [path, operation]
            properties:
              path:
                type: string
                description: |
                  Repo-relative path. Absolute paths and `..` segments
                  are rejected (400 `validation_failed`).
              operation:
                type: string
                enum: [modify, create]
        reason:
          type: string
          description: The agent's rationale for needing the paths.
        status:
          type: string
          enum: [pending, approved, denied]
        decision_reason:
          type: string
          description: Operator note; delivered to the agent verbatim on deny.
        decided_by:
          type: string
          description: Operator subject (never a run-bound token).
        requested_at:
          type: string
          format: date-time
        decided_at:
          type: string
          format: date-time
        effective_scope_files_after_approval:
          type: integer
          description: |
            Scope-cap headroom (#983), warn-only: the run's effective
            scope file count (plan `scope.files` ∪ approve-time
            `add_scope_files` ∪ approved amendments ∪ this
            amendment's paths, deduped by exact path) if this
            amendment is approved. Compare against
            `max_files_changed` — exceeding it means the
            post-implement gate may fail category-B as scoped, but
            the approve still succeeds (mid-stage amendments are
            often forced). Present on request/decision responses and
            on PENDING items in the list; absent when no cap is
            configured or the computation failed open.
        max_files_changed:
          type: integer
          description: |
            The implement stage's resolved `max_files_changed` cap
            (#983). Absent when no cap is configured or the
            computation failed open.
        stage_deadline_seconds_remaining:
          type: integer
          description: |
            The executing implement stage's remaining agent wall clock
            (seconds) at request time (#2540): the spec-resolved
            `agent_timeout_seconds` budget minus the stage's elapsed
            time. OBSERVABILITY-ONLY — surfaced beside
            `amendment_poll_window_seconds` so an operator can see whether
            a race against the deadline is already lost; it is never a
            refusal (a computed "too short" can be a false positive
            because the remainder is understated, so refusing on it could
            kill a winnable amendment — #2540 approval condition 1).
            Present on the REQUEST response only, and only when the
            deadline derivation did not fail open (unresolvable spec
            budget, a never-started stage, a non-positive remainder, or a
            self-retried stage whose cumulative `started_at` understates
            the remainder); absent otherwise.
        amendment_poll_window_seconds:
          type: integer
          description: |
            The agent's amendment poll window (seconds) — the length of
            time the agent keeps polling before the request EXPIRES
            UNDECIDED (#2540). Surfaced OBSERVABILITY-ONLY beside
            `stage_deadline_seconds_remaining` so an operator can gauge how
            tight the race is; never a refusal. Present on the REQUEST
            response only, and only when the deadline derivation did not
            fail open.
          example: 900

    Run:
      type: object
      description: |
        A workflow run record. State follows the explicit transition
        table in `backend/internal/run/transition.go`.
      required:
        [id, repo, workflow_id, workflow_sha, trigger_source, state,
         retry_attempt, max_retries_snapshot, runner_kind,
         runner_kind_resolved, drive, cost_usd_total, resolved_model,
         created_at, updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        repo:
          type: string
          example: kuhlman-labs/fishhawk
        workflow_id:
          type: string
          example: feature_change
          description: Matches a top-level key in `.fishhawk/workflows.yaml`.
        workflow_sha:
          type: string
          description: Git SHA of `.fishhawk/workflows.yaml` at run time.
        trigger_source:
          type: string
          enum: [github_issue, cli, ui, on_demand]
        trigger_ref:
          type: [string, "null"]
          example: "issue:1247"
        state:
          type: string
          enum: [pending, running, succeeded, failed, cancelled]
        parent_run_id:
          type: [string, "null"]
          format: uuid
          description: |
            Set by the dispatcher when a non-terminal run already
            existed for the same `(repo, trigger_ref)` at create
            time (#216). Lets the SPA render "follow-up to
            <short-id>" + a thread of related runs.
        decomposed_from:
          type: [string, "null"]
          format: uuid
          description: |
            Set when the orchestrator minted this run as a child of
            a decomposed parent plan (#455 / ADR-025 D4). Disambiguates
            "decomposition child" from `parent_run_id`'s CI-retry-chain
            semantic — both can be non-nil on a child whose CI failed
            and re-dispatched. SPA breadcrumb: "decomposed sub-plan of
            <parent short id>".
        slice_index:
          type: [integer, "null"]
          description: |
            The decomposed child's 0-based sub_plan position (E24.1 /
            #1141, surfaced by E48.99 / #2546) — its slot in the parent
            plan's `decomposition.sub_plans` and in the `plan_decomposed`
            `child_run_ids`. Persisted since migration 0034 and only now
            surfaced; a pure projection of the run row, so it appears on
            BOTH `GET /v0/runs/{id}` and the list endpoint. Null for a
            non-decomposed run.
        slice_depends_on:
          type: array
          items:
            type: integer
          description: |
            The decomposed child's declared dependency slice indices,
            resolved from the parent's approved plan
            (`decomposition.sub_plans[slice_index].depends_on`) — the same
            authority the host-dispatch wave-order guard reads (E48.99 /
            #2546). SINGLE-RUN READ ONLY: `GET /v0/runs/{id}` surfaces it;
            the list endpoint deliberately omits it (no per-row plan load,
            the no-N+1 split). Omitted when the run is not a resolvable
            fan-out child, when the slice declares no dependencies, or
            best-effort when the plan resolve fails.
        upstream_run_id:
          type: [string, "null"]
          format: uuid
          description: |
            The upstream `feature_change` run whose `ci_green` /
            `review_merged` a standalone deploy-only `release` run's
            `required_upstream` pre-flight gate evaluates (E23.11 /
            #1417). A deploy-only run has no implement/review stage of
            its own, so the gate evaluates the referenced upstream
            instead; null (the appended-deploy / non-deploy default)
            leaves the gate evaluating the current run. DISTINCT from
            `parent_run_id` (#216): a deploy-gate safety reference, NOT
            a follow-up/lineage link — it carries none of the
            get_plan-resolution / resume-retry / decomposition
            provenance semantics `parent_run_id` does.
        pull_request_url:
          type: [string, "null"]
          description: |
            Set when the implement stage produces a `pull_request`
            artifact (#216). Denormalized so the threaded-runs view
            can group every run on a PR with a single equality
            filter on `GET /v0/runs?pull_request_url=…`.
          example: https://github.com/kuhlman-labs/fishhawk/pull/123
        retry_attempt:
          type: integer
          minimum: 0
          description: |
            Position in the CI-failure auto-retry chain (#279 /
            E16). 0 for the canonical first attempt; N for the Nth
            retry. Capped by `max_retries_snapshot` — the
            dispatcher refuses to create a new child when
            `retry_attempt >= max_retries_snapshot` and emits a
            `ci_retry_exhausted` audit row.
          example: 0
        max_retries_snapshot:
          type: integer
          minimum: 0
          description: |
            The workflow's `on_ci_failure.max_retries` cap at
            run-create time (#280 / E16). Snapshotted alongside
            `required_checks_snapshot` so a spec edit during a
            long-running auto-retry chain doesn't shift the
            goalposts on what the SPA renders. Defaults to 1 when
            the workflow has no `on_ci_failure:` block.
          example: 1
        runner_kind:
          type: string
          enum: [github_actions, local]
          description: |
            Execution backend the run uses (ADR-022 / #388). Today's
            published runner (`fishhawk/runner@v1`) on GitHub Actions
            is `github_actions`; the operator-local dev-loop runner
            (Phase C of E22 / #389) is `local`. The backend assigns
            this at run-create time based on the dispatch path; the
            runner never self-declares. Compliance consumers can
            filter to `github_actions` to reproduce the
            pre-pluggable-backends view via
            `GET /v0/runs?runner_kind=github_actions`.
          example: github_actions
        runner_kind_resolved:
          type: boolean
          description: |
            Whether `runner_kind` has been LOCKED by the run's first
            signed runner self-report (#1346 / #1348). `false` for the
            un-resolved create-time hint and for legacy rows; `true`
            once the first dispatch's signed self-report fixed the
            execution channel. The host-dispatch mismatch guardrail
            (#1355) reads this so it engages only against an
            already-resolved conflicting kind — an un-resolved run is
            always allowed to dispatch so first-dispatch auto-resolve
            still fires.
          example: false
        drive:
          type: boolean
          description: |
            Drive-mode opt-in (#1023 / #996 theme 1): when true,
            fishhawkd auto-advances the run's mechanical transitions
            and records a `run_auto_advanced` audit entry per advance;
            judgment points (gate approvals, concern routing, merge)
            always park. Resolved at run-create time — the workflow
            spec's `drive` default overridden by the request's `drive`
            field — and snapshotted on the row so a spec edit mid-run
            doesn't change an in-flight run's behavior. `false` for
            legacy rows (migration 0031). The recorded transitions
            surface on `GET /v0/runs/{run_id}` as `auto_advanced` +
            `next_action` + `derived_status`.
          example: false
        issue_context:
          $ref: '#/components/schemas/IssueContext'
          description: |
            Cached payload from the operator's `gh issue view`
            (#415). Populated for issue-triggered runs minted
            outside the webhook flow (CLI / MCP) so the prompt
            builder reads the title + body from the row instead
            of refetching from GitHub. Null on webhook-dispatched
            runs (which fetch fresh from GitHub at prompt-build
            time) and on non-issue triggers.
        cost_usd_total:
          type: number
          format: double
          minimum: 0
          description: |
            Rolled estimated US-dollar cost of the run's model usage
            (#649), accumulated from each stage bundle's signed manifest
            token counts via the shared pricing table. Recorded once per
            stage bundle (the raw trace variant only — see #678). 0 for
            legacy rows that predate the rollup.
          example: 2.99
        resolved_model:
          type: string
          description: |
            Pinned agent model id the run executed under (#649), stamped
            from the trace manifest at cost-rollup time. Empty string for
            legacy/unstamped runs.
          example: claude-opus-4-8
        working_dir:
          type: string
          description: |
            The run's bound local checkout (E66.42 / #2482): the absolute
            path the run's local (host-spawned) stages execute in, bound
            once at start_run and inherited by every later runner-spawning
            MCP verb. Omitted when the run carries no binding — a
            `github_actions` run has no local checkout, and a legacy row
            predates the column.
          example: /Users/dev/src/fishhawk
        predicted_runtime_minutes:
          type: integer
          description: |
            The approved plan's own `predicted_runtime_minutes`, stamped
            onto the run row at plan approval from the immutable plan
            artifact (E48.62 / #2489). Omitted (0) when unstamped — a
            legacy row, or a run whose plan has not been approved yet
            (notably while the plan stage itself is running, since no plan
            exists to predict from).

            Advisory: it drives the MCP surface's advertised stage-wait
            poll cadence — a quarter of a non-terminal stage's REMAINING
            predicted runtime, clamped to a 30s floor and a 900s ceiling —
            and nothing gates on it. A stale, absent or wrong value costs
            at most a coarser or finer poll interval.
          example: 115
        concerns:
          $ref: '#/components/schemas/RunConcerns'
          description: |
            Summary of the run's OPEN review concerns (#964): count,
            per-state breakdown, and the stable concern IDs the fix-up
            endpoint's `concern_ids` addressing consumes. Emitted by
            `GET /v0/runs/{run_id}` ONLY — the list endpoint omits it
            (no per-row concern query) — and omitted when the run has
            no open concerns.
        derived_status:
          type: string
          enum: [awaiting_merge, ci_failed]
          description: |
            Presentation-only drive-mode status (#1023):
            `awaiting_merge` while a non-terminal drive run with an
            open PR has `checks_green_awaiting_merge` as its latest
            recorded auto-advance — every gate resolved, required
            checks green, merge (a judgment point) parked for the
            operator. `ci_failed` is its negative mirror (#1045): a
            non-terminal drive run with an open PR whose latest
            auto-advance is `ci_failed` — the review evidence settled
            but a required PR check concluded red, parking the run for
            operator classification (fix-up, an operator commit +
            vouch, or a checks re-run). Never a persisted run state:
            `state` stays `running` while parked here, and the
            transition table in `backend/internal/run/transition.go` is
            unchanged. Emitted by `GET /v0/runs/{run_id}` ONLY
            (distilled from `run_auto_advanced` audit entries, same
            single-read posture as `concerns`); omitted on non-drive
            runs, terminal runs, and whenever a later transition
            superseded the parked status.
        next_action:
          $ref: '#/components/schemas/RunNextAction'
          description: |
            Distilled operator next step (#1023) from the run's most
            recent `run_auto_advanced` audit entry — what (if
            anything) the drive run is waiting on the operator for.
            Emitted by `GET /v0/runs/{run_id}` ONLY; omitted on
            non-drive runs, terminal runs (the recorded step is
            history, not an instruction), when the latest
            auto-advance carries no next action, and when a
            host-dispatch action (`run_plan_stage` /
            `run_implement_stage`) has been outrun by its named stage —
            suppressed once that stage advances past the host-spawnable
            states `{pending, awaiting_host_dispatch}`, so a parked
            entry no longer names a dispatch the operator already
            performed (#1961).
        auto_advanced:
          type: array
          items:
            $ref: '#/components/schemas/RunAutoAdvance'
          description: |
            The run's auto-advanced (or parked-with-next-action)
            transitions (#1023), distilled oldest-first from its
            `run_auto_advanced` audit entries so the operator sees
            which transitions advanced themselves. Emitted by
            `GET /v0/runs/{run_id}` ONLY — the list endpoint omits it
            (no per-row audit query) — and omitted when no drive
            transitions were recorded.
        delegation:
          $ref: '#/components/schemas/RunDelegation'
          description: |
            Evaluated `operator_agent` delegation surface (ADR-040 /
            #1026): one entry per configured `may_*` knob with whether
            current run state satisfies its named condition, plus the
            effective block's `must_page_human` list — so the operator
            agent reads its envelope from the server instead of
            re-deriving conditions client-side. Emitted by
            `GET /v0/runs/{run_id}` ONLY (no per-row evaluation on the
            list endpoint); omitted entirely when the run's workflow
            spec resolves no effective `operator_agent` block
            (fail-closed: nothing is delegated), on terminal runs, on
            legacy rows with no cached spec, and best-effort on any
            evaluation failure. Advisory on this read — the delegated
            action endpoints re-evaluate the condition server-side at
            action time and never trust a client-supplied verdict.
        lineage_complete:
          type: boolean
          description: |
            Lineage-completion signal (E22.X / #1137): true when the
            lineage-root run (a decomposed child's parent, else the run
            itself) is terminal AND every decomposed child of that root is
            terminal, derived from the existing `decomposed_from` child
            graph. The operator-local runner's per-run worktree sweep
            reads it to reclaim a terminal lineage's shared git worktree
            (keyed on the lineage root) at the next provision. Emitted by
            `GET /v0/runs/{run_id}` ONLY (a per-run child-graph query, same
            single-read posture as `concerns`); omitted on the list
            endpoint and whenever the graph can't be read (no run repo /
            read failure).
        fixup_model:
          $ref: '#/components/schemas/RunFixupModel'
          description: |
            The model the run's most-recent fix-up pass ran under (#1164),
            distilled from the newest `stage_fixup_triggered` audit entry's
            pinned model. Emitted by `GET /v0/runs/{run_id}` ONLY (a single
            audit read, same single-read posture as `concerns`); omitted on
            the list endpoint and when the run has had no fix-up (or the pin
            predates #1164).
        security_findings:
          type: array
          items:
            $ref: '#/components/schemas/SecurityFinding'
          description: |
            The run's unresolved high-severity code-scanning (CodeQL/SAST)
            findings on the implement diff (#1096), distilled from the newest
            `implement_security_findings` audit entry (the webhook ingest
            records ONE idempotent entry per scan, floored on the latest
            fix-up, so the newest entry reflects the current scan state). A
            SEPARATE signal from `concerns`: a finding here is held by its own
            merge gate (`security_findings_unresolved`) and routed to its own
            fix-up pass, never consuming a design-concern budget. Emitted by
            `GET /v0/runs/{run_id}` ONLY (a single audit read, same single-read
            posture as `concerns`); omitted on the list endpoint and when the
            run has no findings (no scan yet, a clean scan, or a clean re-scan
            after a fix-up cleared them).
        live_validation:
          $ref: '#/components/schemas/LiveValidation'
        review_authority:
          type: array
          description: |
            Per-stage resolved review authority (E53.2 / #2225). For each stage of
            the run's workflow that declares a `reviewers` block, the resolved mode
            (`advisory` | `gating` | `gateless`) and its provenance (`declared` |
            `derived`), so an operator reads the mode instead of re-deriving it from
            the reviewer counts. A stage declares `reviewers.authority` explicitly
            (`declared`) or the count-derived ADR-027 rule applies (`derived`).
            Surfaced on `GET /v0/runs/{run_id}` ONLY (a pure projection of the run's
            cached workflow spec, same single-read posture as `delegation`); omitted
            when the run carries no cached spec or declares no `reviewers` block
            anywhere — so a run whose spec declares none keeps a byte-identical
            response.
          items:
            $ref: '#/components/schemas/RunReviewAuthority'
        escalations:
          allOf:
            - $ref: '#/components/schemas/RunEscalations'
          description: |
            The run's fired per-path escalations (E53.4 / #2227): which
            `escalations` declarations matched this change and the STRICTEST
            requirement they composed to, so an operator reads why a gate got
            stricter instead of diffing the workflow against the plan by hand.
            Surfaced on `GET /v0/runs/{run_id}` ONLY (same single-read posture as
            `delegation`); omitted when the run's workflow declares no
            escalations, when none fired, or when the evaluation could not run —
            so a run on a workflow declaring none keeps a byte-identical
            response. The `summary` renders through the same helper as the
            `escalation_fired` audit entry, so the run read and the governance
            chain cannot describe one firing differently.
        permissions:
          type: array
          description: |
            The run's declared per-stage permissions/egress (E53.5 / #2228): one
            entry per stage of the run's workflow that declares a `permissions`
            (`network`/`write`/`shell`) or `egress` block. DECLARATION-ONLY —
            validated, audited and surfaced but NOT enforced until E51 (#2133);
            do not read it as containment, sandboxing, isolation, or a security
            control. Each entry's `enforced` flag is the honest per-entry
            qualifier: true ONLY for an acceptance stage's network declaration
            (whose allow-list the runner's default-deny egress proxy enforces
            today), false everywhere else and for write/shell always. Surfaced on
            `GET /v0/runs/{run_id}` ONLY (same single-read spec-projection posture
            as `review_authority`); omitted when the run carries no cached spec or
            no stage declares either block — so a run declaring none keeps a
            byte-identical response.
          items:
            $ref: '#/components/schemas/RunStagePermissions'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RunEscalations:
      type: object
      description: |
        The fired per-path escalations for a run (E53.4 / #2227). An escalation
        may only ever RAISE a requirement — the composition is max(count) /
        union(member_of) / strictest(min_permission) / lowest(max_autonomy),
        which is order-independent by construction.
      required: [summary, fired, require]
      properties:
        summary:
          type: string
          description: |
            The operator-facing summary naming each fired predicate and the
            raised requirements. Rendered through the same helper as the
            `escalation_fired` audit payload.
        fired:
          type: array
          description: The declarations that matched, in declaration order.
          items:
            $ref: '#/components/schemas/RunEscalationFired'
        require:
          $ref: '#/components/schemas/RunEscalationRequire'

    RunEscalationFired:
      type: object
      description: |
        One fired declaration: its index in the workflow's `escalations` list
        (the coordinate validation errors report at) and the criteria it
        declared.
      required: [index]
      properties:
        index:
          type: integer
          description: The declaration's index in the workflow's `escalations` list.
        paths:
          type: array
          items: {type: string}
        labels:
          type: array
          items: {type: string}
        change_kind:
          type: array
          items: {type: string}
        trigger:
          type: array
          items: {type: string}

    RunEscalationRequire:
      type: object
      description: |
        The COMPOSED requirement across every fired escalation, strictest per
        dimension. Every field is omitted when no fired escalation declared it.
      properties:
        count:
          type: integer
          description: The raised number of distinct approvals the gate needs (the MAX across fired escalations).
        member_of:
          type: array
          description: |
            The sorted, de-duplicated UNION of every fired escalation's group. It
            is a CONJUNCTION: an approver must belong to EVERY listed group.
          items: {type: string}
        min_permission:
          type: string
          enum: [read, triage, write, maintain, admin]
          description: The strictest raised forge permission tier.
        max_autonomy:
          type: string
          enum: [low, medium, high]
          description: |
            The lowest (strictest) raised CEILING on AGENT autonomy, applied LAST
            over the run's fully resolved action matrix — after the workflow tier
            and after every explicit `actions` override.

    RunStagePermissions:
      type: object
      description: |
        One stage's declared permissions/egress (E53.5 / #2228). DECLARATION-ONLY:
        validated, audited and surfaced but NOT enforced until E51 (#2133).
      required: [stage_id, enforced, note]
      properties:
        stage_id:
          type: string
          description: The stage id.
        stage_type:
          type: string
          description: The stage type (`plan` | `implement` | `review` | `deploy` | `acceptance`).
        network:
          type: array
          description: |
            The declared network destinations (host or host:port), from the
            stage's `egress` allowance or the `permissions.network` spelling
            (they normalize to one field).
          items: {type: string}
        write:
          type: array
          description: The declared write-path doublestar globs.
          items: {type: string}
        shell:
          type: string
          description: The declared shell posture (`none` | `restricted` | `unrestricted`).
        enforced:
          type: boolean
          description: |
            The honest per-entry enforcement qualifier: true ONLY for an
            acceptance stage's network declaration (whose allow-list the runner's
            default-deny egress proxy enforces today), false everywhere else and
            for write/shell always.
        note:
          type: string
          description: A human-readable note naming the enforcement tracker (#2133).

    RunReviewAuthority:
      type: object
      description: One stage's resolved review authority (E53.2 / #2225).
      required: [stage, stage_type, authority, source]
      properties:
        stage:
          type: string
          description: The stage id.
        stage_type:
          type: string
          description: The stage type (`plan` | `implement` | `review` | `deploy` | `acceptance`).
        authority:
          type: string
          enum: [advisory, gating, gateless]
          description: |
            The resolved review authority: `advisory` (agent verdicts surfaced,
            cannot block), `gating` (an agent reject blocks advancement), or
            `gateless` (no agent reviewers).
        source:
          type: string
          enum: [declared, derived]
          description: |
            How the authority was resolved: `declared` (spelled out via
            `reviewers.authority`) or `derived` (the count-derived ADR-027 default).

    LiveValidation:
      type: object
      description: |
        The run's pending operator live-validation walk (#2045, E48.35). When an
        approved plan carries acceptance criteria marked `requires_live_validation`
        — criteria whose true verification needs a live forge/deploy/external
        target the default-deny acceptance sandbox cannot reach — plan approval
        auto-files a `chore`-type operator-validation walk and records a durable
        marker. This surface distils the newest such marker so the pending live
        check is visible rather than shipped silently unvalidated. Distilled from
        the newest `live_validation_walk_linked` marker (else a stranded
        `live_validation_walk_intent` marker). Surfaced on `GET /v0/runs/{run_id}`
        and `GET /v0/runs/{run_id}/gate-view` ONLY (a single audit read, same
        posture as `security_findings`); omitted when the run's approved plan
        carried no marked criterion.
      required: [pending_criteria_count, filing_failed]
      properties:
        pending_criteria_count:
          type: integer
          minimum: 0
          description: |
            The number of `requires_live_validation` acceptance criteria on the
            approved plan awaiting an operator live check.
        walk_ref:
          type: string
          description: |
            The filed walk work-item ref (`#N`). Present only when the walk was
            durably filed (`filing_failed=false`); omitted on a filing failure
            or an incomplete filing.
        filing_failed:
          type: boolean
          description: |
            The "file the walk by hand" signal: true when the walk filing failed
            (no `walk_ref`) OR when the newest marker is a stranded intent marker
            (see `filing_incomplete`). A consumer that reads only this field never
            renders a healthy `walk: #N` for a run whose walk is not durably
            filed — both are "pending, file manually".
        filing_incomplete:
          type: boolean
          description: |
            True when the newest marker is a bare intent marker with no linked
            marker following it (the crash-window residual: the process died
            between the intent-marker append and the forge call). Rendered as
            "walk filing incomplete — file manually" versus a filing-failure's
            "walk filing failed — file manually". Omitted (false) otherwise.

    RunFixupModel:
      type: object
      description: |
        The model a fix-up pass ran under (#1164): the source-tagged model
        plus the 1-based pass ordinal it was pinned on. Surfaced on
        `GET /v0/runs/{run_id}` only.
      required: [model, source, pass_ordinal]
      properties:
        model:
          type: string
          description: |
            The resolved fix-up model id. Empty string when the pass ran on
            the adapter's built-in default spawn (the empty-ladder pin).
        source:
          type: string
          description: |
            Which rung supplied the model: `operator` for an `implement_model`
            override, else the inherited source (`default` / `spec` / `plan`),
            or empty for the default spawn.
        pass_ordinal:
          type: integer
          minimum: 1
          description: The 1-based fix-up pass ordinal this model was pinned on.

    SecurityFinding:
      type: object
      description: |
        One high-severity GitHub code-scanning (CodeQL/SAST) finding on the
        implement diff (#1096): the subset a reviewer/operator needs to locate
        and open the alert. Surfaced on `GET /v0/runs/{run_id}` only.
      required: [number, rule_id, severity, path]
      properties:
        number:
          type: integer
          description: The alert's per-repo identifier.
        rule_id:
          type: string
          description: The analysis rule that fired (e.g. `go/sql-injection`).
        description:
          type: string
          description: Human-facing rule description.
        severity:
          type: string
          description: |
            Normalized security-severity level — `critical` or `high` (the
            gating levels; medium/low/none never surface here).
        state:
          type: string
          description: 'Alert state: `open`, `fixed`, or `dismissed`.'
        path:
          type: string
          description: Repo-relative file the finding's most-recent instance points at.
        start_line:
          type: integer
          description: 1-based line of the finding; omitted/0 when GitHub omits a location.
        html_url:
          type: string
          description: Link to the alert on GitHub.

    RunConcerns:
      type: object
      description: |
        A run's OPEN review concerns (#964) — states `raised`,
        `addressed_pending`, `reopened`. Every `plan_reviewed` /
        `implement_reviewed` verdict's concerns are persisted with
        server-minted stable UUIDs; this block surfaces what is still
        unresolved plus the IDs fix-up routing needs, in one read. Each
        item carries a BOUNDED note-derived `short_summary` label (at most
        100 bytes, one line; #2488) — the gate view and the originating
        `*_reviewed` audit entry remain the surfaces for the full
        untruncated note.
      required: [open, by_state, items]
      properties:
        open:
          type: integer
          minimum: 0
          description: Number of open concerns on the run.
        by_state:
          type: object
          additionalProperties:
            type: integer
          description: Open-concern count per lifecycle state.
          example: { raised: 2, addressed_pending: 1 }
        items:
          type: array
          items:
            $ref: '#/components/schemas/RunConcernItem'

    RunConcernItem:
      type: object
      description: One open review concern.
      required: [id, stage_kind, severity, category, state, has_suggested_patch]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          description: |
            Stable server-minted concern ID — the primary addressing
            scheme for the fix-up endpoint's `concern_ids` (positional
            indices are deprecated).
        stage_kind:
          type: string
          enum: [plan, implement]
          description: |
            Stage the concern originated from. Only implement-stage
            concerns can be routed into an implement fix-up.
        severity:
          type: string
          description: |
            Reviewer-emitted severity, stored verbatim (tolerant
            decode — typically high/medium/low).
        category:
          type: string
          example: scope
        state:
          type: string
          description: |
            Lifecycle state. Open states are raised, addressed_pending,
            reopened; the full enum adds addressed, waived, superseded,
            deferred, addressed_by_condition (closed states never appear in
            this block). `waived` is operator-reachable via
            `POST /v0/concerns/{concern_id}/waive` (#984);
            `addressed`/`reopened`/`superseded` are reached by reviewer
            `concern_resolutions` on a re-review; `addressed_by_condition`
            (#1956) is the condition-claim resolution of a plan-stage concern
            whose binding approval condition one implement review confirmed
            delivered (recorded on a `concern_addressed_by_condition` audit
            entry).
        has_suggested_patch:
          type: boolean
          description: |
            Whether the reviewer attached a mechanical `suggested_patch`
            (a unified diff) to this concern (#1165). Only the boolean is
            surfaced — the diff text itself is not reflected here. A routed
            fix-up whose concerns all carry a patch can be resolved by the
            near-deterministic apply path instead of a full agent loop.
        short_summary:
          type: string
          maxLength: 100
          description: |
            Bounded note-derived recognition label for this concern (#2488):
            the reviewer note whitespace-collapsed to a single line and
            bounded to at most 100 bytes, with a trailing `...` when cut;
            equal to the whole collapsed note when it already fits. OMITTED
            when the note is empty or whitespace-only (blank after
            collapsing). A recognition label, NOT a unique key — `id` remains
            the addressing key, and two concerns with a long shared note
            prefix may share a label.

    GateView:
      type: object
      description: |
        The gate-scoped decision view (#1960): every OPEN concern with its
        FULL note prose, the per-concern cross-round history reconstructed
        from the immutable audit payloads (fix-up routing claims + re-review
        confirmations), the settled ledger, and the run's suppressed
        relitigations — one read that answers "what is still open at this
        gate and why". Unlike `RunConcerns`, the note text is NOT elided.
        History is reconstructed from audit payloads because
        `concern.state_reason` is overwritten on every transition; there is
        no stored per-round history. Degradation is visible, never silent:
        when the audit reads are unavailable the concerns are returned intact
        with `history_incomplete=true` and `history_gaps` naming each
        unreadable category.
      required: [run_id, open, settled, suppressed_relitigations, history_incomplete]
      properties:
        run_id:
          $ref: '#/components/schemas/UUID'
        stage_kind:
          type: string
          enum: [plan, implement]
          description: Echo of the optional `stage_kind` filter; absent for a whole-run view.
        open:
          type: array
          items: { $ref: '#/components/schemas/GateViewConcern' }
        settled:
          type: array
          items: { $ref: '#/components/schemas/GateViewSettledConcern' }
        suppressed_relitigations:
          type: array
          items: { $ref: '#/components/schemas/GateViewSuppressedRelitigation' }
        history_incomplete:
          type: boolean
          description: |
            True when one or more audit-derived history joins could not be
            built (audit repository unconfigured, or a per-category read
            error). The concerns themselves are always intact — only the
            `fixups`/`resolutions`/`suppressed_relitigations` cross-
            references may be missing.
        history_gaps:
          type: array
          items: { type: string }
          description: The audit categories that failed to read, when `history_incomplete` is true.
        live_validation:
          $ref: '#/components/schemas/LiveValidation'

    GateViewConcern:
      type: object
      description: One OPEN concern with its full decision context.
      required: [id, stage_kind, origin_review_sequence, severity, category, state, note, has_suggested_patch]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_kind:
          type: string
          enum: [plan, implement]
        round:
          type: integer
          description: |
            Round-of-origin for an implement concern: `1 +` the count of
            same-stage `stage_fixup_triggered` entries below the origin
            review sequence. Omitted for plan concerns (no fix-up rounds).
        origin_review_sequence:
          type: integer
          format: int64
        reviewer_model:
          type: string
        severity: { type: string }
        category: { type: string }
        state: { type: string }
        state_reason:
          type: string
          description: |
            The concern's current `state_reason` — overwritten on every
            transition, so it reflects the LATEST resolution, not the
            original routing reason (which surfaces on `fixups[].reason`).
        note:
          type: string
          description: The FULL reviewer prose — deliberately not elided.
        new_evidence:
          type: string
          description: |
            The reviewer's supporting evidence for this concern (#2353) — the
            substantiation behind `note`. Optional: OMITTED when the reviewer
            supplied none (the common case), and omitted for every concern
            minted before migration 0069, whose evidence remains recoverable
            from the originating `plan_reviewed` / `implement_reviewed` audit
            payload.
        settled_ref:
          type: string
          description: |
            Stable id of the settled concern this one re-raises — the
            re-litigation lineage tag (#1913). Optional: omitted when the
            concern re-raises nothing.
        has_suggested_patch: { type: boolean }
        fixups:
          type: array
          items: { $ref: '#/components/schemas/GateViewFixup' }
        resolutions:
          type: array
          items: { $ref: '#/components/schemas/GateViewResolution' }
        disputed:
          type: boolean
          description: |
            A `confirmed` resolution was recorded on this concern and the
            concern is STILL OPEN (#2551) — the split resolve/reject the merge
            gate must not settle silently. Derived from the DURABLE evidence
            (this row's open state plus the authoritative
            `implement_reviewed` / `plan_reviewed` payload carrying the
            confirmation), deliberately independent of the best-effort
            `concern_resolution_vetoed` audit entry: a failed veto append
            degrades `disputes[]` to empty but never hides the dispute itself.
        disputes:
          type: array
          description: |
            The recorded veto detail behind `disputed` — enrichment, not the
            source of truth. Can be EMPTY on a disputed concern when the
            best-effort veto record did not land.
          items: { $ref: '#/components/schemas/GateViewDispute' }

    GateViewDispute:
      type: object
      description: |
        One `confirmed` resolution REFUSED by the implement re-review's
        round-level veto pass (#2551), reconstructed from a
        `concern_resolution_vetoed` audit entry.
      required: [sequence, veto_reason]
      properties:
        sequence: { type: integer, format: int64 }
        round:
          type: integer
          description: Derived as for `GateViewResolution.round`.
        veto_reason:
          type: string
          enum: [raiser_rejected_same_round, operator_evidence_routed, fixup_pass_no_changes, evidence_lookup_failed]
          description: |
            `raiser_rejected_same_round` — a DIFFERENT reviewer confirmed a
            concern whose RAISING reviewer returned `reject` in the same round;
            `operator_evidence_routed` — the concern was routed by a fix-up pass
            carrying `operator_evidence`; `fixup_pass_no_changes` — that pass
            recorded `fixup_no_changes`, so nothing landed;
            `evidence_lookup_failed` — the audit reads behind the two evidence
            arms failed, so the confirm was refused rather than applied on
            unknown evidence (fail-closed).
        resolution:
          type: string
          description: The refused resolution (always `confirmed`).
        confirming_reviewer_model:
          type: string
        raising_reviewer_model:
          type: string
        note:
          type: string

    GateViewFixup:
      type: object
      description: |
        One fix-up routing claim reconstructed from the
        `stage_fixup_triggered` entry that named this concern, joined to the
        outcome from the earliest following `fixup_pushed` / `fixup_no_changes`.
      required: [sequence, outcome]
      properties:
        sequence: { type: integer, format: int64 }
        reason:
          type: string
          description: The operator/driver routing reason recorded on the trigger.
        outcome:
          type: string
          enum: [pushed, no_changes, pending]
          description: |
            `pushed` — a fix-up commit landed; `no_changes` — the pass
            produced nothing; `pending` — no following outcome entry yet.
        apply_path:
          type: string
          description: Fix-up apply provenance (`applied`/`agent`/…), present on a `pushed` outcome.
        head_sha:
          type: string
          description: The pushed commit, present on a `pushed` outcome.

    GateViewResolution:
      type: object
      description: |
        One re-review verdict on this concern, reconstructed from an
        `implement_reviewed` / `plan_reviewed` entry's `concern_resolutions`.
      required: [sequence, resolution]
      properties:
        sequence: { type: integer, format: int64 }
        round:
          type: integer
          description: Derived for an implement re-review; omitted for a plan re-review.
        resolution:
          type: string
          description: The reviewer verdict (`confirmed`/`reopened`/`superseded`).
        note:
          type: string

    GateViewSettledConcern:
      type: object
      description: |
        One settled-ledger row (#1913): a concern in a terminal state
        (addressed / waived / superseded / deferred / addressed_by_condition)
        with its state_reason. `addressed_by_condition` (#1956) is a plan-stage
        concern whose binding approval condition one implement review confirmed
        delivered; its state_reason names the claiming approval + confirming
        review.
      required: [id, stage_kind, state, severity, category, note]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        stage_kind:
          type: string
          enum: [plan, implement]
        state: { type: string }
        severity: { type: string }
        category: { type: string }
        reviewer_model: { type: string }
        note:
          type: string
          description: The FULL reviewer prose — not elided.
        state_reason: { type: string }
        new_evidence:
          type: string
          description: |
            The reviewer's supporting evidence for this concern (#2353).
            Optional, omitted when empty — same semantics as
            `GateViewConcern.new_evidence`.
        settled_ref:
          type: string
          description: |
            Stable id of the settled concern this one re-raises (#1913).
            Optional, omitted when empty.

    GateViewSuppressedRelitigation:
      type: object
      description: |
        One suppressed relitigation (#1913): a re-raise of a settled concern
        the reviewer would have relitigated, suppressed and recorded.
      required: [settled_ref, settled_state, severity, category, note, origin_review_sequence]
      properties:
        settled_ref: { type: string }
        settled_state: { type: string }
        severity: { type: string }
        category: { type: string }
        note: { type: string }
        reviewer_model: { type: string }
        origin_review_sequence: { type: integer, format: int64 }

    RunNextAction:
      type: object
      description: |
        The distilled operator next step on a drive run (#1023),
        recorded by the drive engine alongside an auto-advance or a
        park. Mirrors the `next_action` payload inside
        `run_auto_advanced` audit entries.
      required: [action]
      properties:
        action:
          type: string
          description: |
            Machine-readable next step. Current values:
            `run_implement_stage` (runner_kind `local` — dispatch the
            implement stage from the operator host), `run_plan_stage`
            (runner_kind `local` after a plan-gate revise re-opened the
            plan stage — re-dispatch it from the operator host, #1256),
            and `merge_pr` (the backend parked the run at `awaiting_merge`;
            the accompanying `detail` states any outstanding advisory
            reviewer rejects or unresolved concerns — #2487).
            `run_implement_stage` / `run_plan_stage` are now ALSO produced
            by the `retry_stage` and `resume_run`/`recover` re-open paths
            on a `local` run (#1271), not only by plan-approve and revise;
            no new action value is introduced.
          example: merge_pr
        detail:
          type: string
          description: |
            One-line elaboration of the action. For `merge_pr` it carries
            the outstanding-advisory qualification (#2487): the clean
            merge invitation when zero reviewer rejects and zero open
            concerns remain, otherwise a lead of `all blocking gates
            resolved` (never `all gates resolved`) that states the
            round-scoped reject count and the run-wide open-concern count
            and names the dispositions, or a read-first hedge when the
            advisory state could not be read.
        pr_url:
          type: string
          description: The pull request the action refers to, when relevant.
          example: https://github.com/kuhlman-labs/fishhawk/pull/123

    RunAutoAdvance:
      type: object
      description: |
        One drive-engine transition (#1023), distilled from a
        `run_auto_advanced` audit entry: the named rule that fired and
        the from/to edge it stamps. Rule names are a closed set
        (`backend/internal/drive`): `plan_approved_dispatch`,
        `revise_replan` (a plan-gate revise re-opened the plan stage,
        #1256), `retry_reopen` (a failed stage was retried back into
        pending and re-dispatched, #1271), `recover_redispatch` (a failed
        decomposition child was re-driven in place, #1271),
        `reviews_settled_gate`, `fixup_rereview_repark`,
        `checks_green_awaiting_merge`, `ci_failed` (the negative mirror
        of `checks_green_awaiting_merge`: a required PR check concluded
        red).
      required: [rule, from, to, ts]
      properties:
        rule:
          type: string
          description: The named drive rule that fired.
          example: plan_approved_dispatch
        from:
          type: string
          description: The transition's from edge.
          example: "plan:approved"
        to:
          type: string
          description: The transition's to edge.
          example: "implement:dispatched"
        parked:
          type: boolean
          description: |
            True when the mechanical rule could not be
            backend-executed (the runner_kind `local` dispatch — the
            runner is host-spawned per ADR-024) and the entry records
            a park-with-next-action instead of an executed advance.
            Absent/false for executed advances.
        ts:
          type: string
          format: date-time
          description: When the transition was recorded.

    RunDelegation:
      type: object
      description: |
        The run's evaluated `operator_agent` delegation envelope
        (ADR-040 / #1026). The effective block resolves per the spec's
        precedence — the pending approval gate's block when one is
        declared, else the workflow-level block, never merged — and
        each configured knob is evaluated against current run state by
        `backend/internal/delegation`.
      required: [actions]
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RunDelegationAction'
          description: |
            One entry per configured `may_*` knob, in knob order
            (approve, route_fixup, waive, retry, merge). Knobs the
            block leaves unset are absent — fail-closed, those actions
            are not delegated.
        must_page_human:
          type: array
          items:
            type: string
          description: |
            The effective block's `must_page_human` event list —
            events that always page the human regardless of the
            `may_*` knobs (closed set per the workflow-v0 schema, e.g.
            `reviewer_reject`, `gating_reviewer_reject`,
            `advisory_reviewer_reject`, `plan_rejection`). The explicit
            reviewer-reject classes (workflow-v0.7+, #1378) make the
            taxonomy self-documenting; the legacy bare `reviewer_reject`
            resolves to the gating sense.
          example: [reviewer_reject, budget_override]
        reviewer_reject_class:
          type: string
          enum: [gating_reviewer_reject, advisory_reviewer_reject]
          description: |
            The reviewer-reject page-event class the run currently
            resolves to (#1378), from the implement stage's ADR-027
            review authority: `gating_reviewer_reject` (agent-only
            review — a reject pages the human) or
            `advisory_reviewer_reject` (agent + human — a reject is
            arbitrable / auto-routed). Omitted when the implement stage
            is gateless (no agent reviewers). This only makes the
            authority-resolved class legible; it does not change the
            page/auto decision.
          example: gating_reviewer_reject
        model_policy:
          $ref: '#/components/schemas/RunDelegationModelPolicy'
        autonomy:
          type: string
          enum: [low, medium, high]
          description: |
            The workflow-v2 autonomy TIER the effective block declared
            (ADR-066 / #2222), omitted when the block declared only
            `actions`. **workflow-v2 only**: populated solely for a run
            whose cached workflow spec routes to major >= 2. A
            campaign-level `operator_agent` override is a delegation
            INPUT, not a grammar version, so a v0/v1 run driven by one
            still surfaces through `actions` / `must_page_human` /
            `reviewer_reject_class` exactly as before — its response is
            byte-identical to a v0/v1 run with no override.
          example: medium
        matrix:
          type: array
          items:
            $ref: '#/components/schemas/RunDelegationMatrixEntry'
          description: |
            The RESOLVED action matrix (ADR-066 / #2222): every action
            class with its mode and the provenance of that mode. This is
            the legibility surface — an operator reading
            `approve: gated (tier)` sees WHY an action is not delegated
            — and is independent of `actions`, which still lists only the
            classes the block actually delegates. An all-`gated` matrix
            therefore carries five entries and ZERO actions, exactly as a
            knob-absent v0 block did. workflow-v2 only, per `autonomy`.

    RunDelegationMatrixEntry:
      type: object
      description: |
        One resolved action CLASS (ADR-066 / #2222). The class vocabulary
        is the spec's (`fixup`, not the `route_fixup` verb the evaluated
        `actions` list uses) because this is the declared matrix reflected
        back, not an evaluation. Extension classes (ADR-065) appear here
        too, after the five known classes.
      required: [action, mode, source]
      properties:
        action:
          type: string
          description: |
            The action class name. The five backend-evaluable classes are
            `approve`, `fixup`, `waive`, `retry`, `merge`; the set is open
            and per-workflow-type extensible.
          example: approve
        mode:
          type: string
          enum: [report, gated, auto]
          description: |
            `gated` — the human acts (the fail-closed default an unlisted
            class resolves to, and exactly what knob-absence meant in
            v0/v1). `auto` — the operator agent may act under `condition`.
            `report` — the operator agent surfaces a PROPOSAL without
            acting: a `run_auto_driven` `act:"report"` audit row is
            emitted at a live gate (at most once per gate occurrence) and
            no gate action is dispatched.
          example: gated
        condition:
          type: string
          enum:
            - clean_dual_approval
            - convergent_concerns
            - solo_low
            - infra_flake
            - gates_resolved_ci_green
          description: |
            The backend-evaluable condition the class acts under. Required
            by the grammar for `mode: auto`; optional on `mode: report`,
            where it narrows firing (a report entry fires when the gate is
            live and, when a condition is declared, additionally requires
            it to be met). Omitted for `mode: gated`.
        min_severity:
          type: string
          enum: [low, medium, high]
          description: |
            The `fixup` class's open-concern threshold (v0/v1's
            `route_fixup_min_severity`, moved onto the class it governs).
            Omitted elsewhere.
        source:
          type: string
          enum: [explicit, tier, default]
          description: |
            PROVENANCE — which input decided this class's mode:
            `explicit` (an `actions` entry named the class, or a campaign
            override supplied the whole block), `tier` (the `autonomy`
            shorthand expansion), or `default` (nothing named it, so it
            fell to the fail-closed `gated` default). The value set is
            open-ended so a later composition rung (#2267's min(workflow
            tier, issue label, escalation ceiling)) can record its clamp
            without reshaping the field.
          example: tier

    RunDelegationModelPolicy:
      type: object
      description: |
        The effective `operator_agent` block's scenario-A
        model-selection contract (#1421), passed through as static
        config for the operator agent to read and apply via the existing
        per-stage model override channels (#1416), bounded by — never
        widening — the deployment per-adapter allow-list. Declarative
        only: no backend resolution code reads it. Omitted entirely when
        the effective block declares no `model_policy`, keeping
        unconfigured responses byte-identical. Inherited under the same
        wholesale-override semantics as the `may_*` knobs (a gate-level
        block replaces the workflow-level one; never merged).
      properties:
        strategy:
          type: string
          enum: [follow_plan_recommendation, explicit_defaults]
          description: |
            How the operator agent picks each stage's model.
            `follow_plan_recommendation` follows the plan artifact's
            per-stage recommendation; `explicit_defaults` applies the
            `defaults` map, falling back to the deployment default for
            any unset stage.
          example: explicit_defaults
        defaults:
          type: object
          description: |
            Per-stage model applied under the `explicit_defaults`
            strategy. Each field optional; an unset stage falls back to
            the deployment default.
          properties:
            plan:
              type: string
            implement:
              type: string
            review:
              type: string
        allowed:
          type: array
          items:
            type: string
          description: |
            The models the operator agent may select. Composes with —
            never widens — the deployment per-adapter allow-list.
          example: [claude-opus-4-8, claude-sonnet-4-6, gpt-5.5]

    RunDelegationAction:
      type: object
      description: One delegation knob's evaluation.
      required: [action, condition, met]
      properties:
        action:
          type: string
          enum: [approve, route_fixup, waive, retry, merge]
          description: The delegable operator verb the knob governs.
        condition:
          type: string
          enum:
            - clean_dual_approval
            - convergent_concerns
            - solo_low
            - infra_flake
            - gates_resolved_ci_green
          description: |
            The named backend-evaluable condition the knob delegates
            under (one per knob in v0, closed set per the workflow-v0
            schema).
        met:
          type: boolean
          description: |
            Whether current run state satisfies the condition. `met:
            true` here is advisory — the delegated action endpoints
            re-evaluate server-side at action time.
        unmet_reason:
          type: string
          description: |
            The exact failed predicate when `met` is false, prefixed
            with the condition name. Omitted when met.
          example: "clean_dual_approval: 1 of 2 reviewer verdicts received"
        mode:
          type: string
          enum: [report, gated, auto]
          description: |
            The workflow-v2 mode the class resolved to (ADR-066 / #2222).
            Always `auto` here — an evaluated action is by definition a
            delegated one. workflow-v2 only: omitted below major 2, where
            there is no matrix, keeping v0/v1 responses byte-identical.
        source:
          type: string
          enum: [explicit, tier, default]
          description: |
            The provenance of this class's mode, per
            `RunDelegationMatrixEntry.source`. workflow-v2 only.

    Campaign:
      type: object
      description: |
        A campaign: the parent record of an epic-driven multi-issue run
        (ADR-047 / #1437). It owns an ordered set of campaign items, one per
        issue under the epic. State is a reduction of its items' states (see
        `backend/internal/campaign/transition.go`).
      required: [id, repo, epic_ref, state, pause_policy, created_at, updated_at]
      properties:
        id: { $ref: '#/components/schemas/UUID' }
        repo:
          type: string
          example: kuhlman-labs/fishhawk
        epic_ref:
          type: string
          description: The epic the campaign decomposes, in `issue:N` form.
          example: "issue:1439"
        state:
          type: string
          enum: [pending, running, paused, succeeded, failed, cancelled]
          description: |
            `paused` is the E25.7 safety-boundary overlay: the auto-driver
            paused the campaign when a run gate was handed off to a human.
            It is non-terminal — `POST /resume` returns it to `running`.
        pause_policy:
          type: string
          enum: [pause_campaign, pause_item]
          description: |
            What the auto-driver pauses on a gate hand-off (E25.7).
            `pause_campaign` (the default) blocks the whole campaign;
            `pause_item` pauses only the affected item (continue-others).
            Always present and normalized on a persisted campaign.
        operator_agent:
          type: object
          additionalProperties: true
          description: |
            OPTIONAL campaign-level `operator_agent` delegation override
            (E25.12). The same block shape the workflow spec carries
            (`may_approve`, `may_route_fixup`, `may_waive`, `may_retry`,
            `may_merge`, `must_page_human`, `model_policy`). When present it
            wins WHOLESALE as the outermost rung of the resolution ladder —
            campaign > gate > workflow, never merged — so it is each
            issue-run's effective delegation contract. Omitted when the
            campaign carries no override: every issue-run then inherits its
            workflow's contract, byte-identical to pre-E25.12 behavior.
        working_dir:
          type: string
          description: |
            OPTIONAL campaign-level checkout binding (E48.87 / #2527): the
            absolute path every item run minted from this campaign inherits
            when `POST /v0/campaigns/{campaign_id}/runs` passes no per-item
            `working_dir`. Bound ONCE at create so the operator does not repeat
            an identical path per item. Omitted when the campaign carries no
            binding — each item run then needs its own `working_dir`, and a
[...]
